[2020-10-14 23:36] jawz101 opened #128 "using Cisco's OpenDNS/Umbrella 1 Million to gauge"
http://s3-us-west-1.amazonaws.com/umbrella-static/index.html

Take a look at my rationale on this Adaway commit:

https://github.com/AdAway/adaway.github.io/commit/fe5414af487ed313c408b80409345ee21b3ca08f

In addition to registration lookups, I also find it helpful to see if a DNS lookup is actively being used.  If it's not in circulation then there is not much reason to block

[2020-10-15 17:01] jawz101 commented on #128
I'm not sure I understand.  The 1 million list _**is**_ the most popular 1 million DNS lookups by all of Cisco's Umbrella customers.

[2020-10-15 18:48] spirillen commented on #128
If you would like to clear out data, that have _not_ been used for x time, you would need some way to collect data about which rule have been applied to any users. Just clear out rules based on a third party's service is to me a bad idea. (MY view on why)

This would be data collecting and therefore anonymized and require you build some tool and not only a list.

This can easily be setup, but it w

[2020-10-15 21:52] jawz101 commented on #128
I collect DNS lookups mainly from my devices' NetGuard logs.  Download crappy app, run it a while, pick and choose the questionable entries, block, see if it breaks the app, add to the list if it still works.  There were a few times when I tried pulling in entries from other sources but I want it to be a list of things I've actually seen and know is just from mobile apps (that is, I try to limit i

[2020-10-16 14:00] spirillen commented on #128
And how did that one goes :laughing:

**Sidenote**:
I follow you, you might be interesting in the Central SQL we are building, also in the yet hidden project <https://www.mypdns.org/project/view/15/> | <https://github.com/matrix-rocks> which is al about categorizing domains for other to extract. And your thought of how to approach this sounds good to my ears.

[2020-10-18 12:48] spirillen opened #129 "Too many open files (-m)"
## Bug description
[code]

## Modifications under `.PyFunceble.yaml`
None

## Reproduction
Steps to reproduce the behavior:
1. `pyfunceble -db --database-type mariadb --dns x.x.x.x  -m -f https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt`

Related to <https://github.com/FadeMind/hosts.extras/issues/45> to see what might be diff from the actually urlhaus list

## Expected behavior
R

[2020-10-18 13:26] funilrys commented on #129
Just wondering... How many cores does that machine have ?

[2020-10-18 13:46] spirillen commented on #129
Not sure I can count to many, let me use my fingers 1.. 2.. 3.. 4  :laughing:

[2020-10-23 23:53] spirillen opened #130 "PYFUNCEBLE_DEBUG_ON_SCREEN: true|false"
## Bug description
If you append `PYFUNCEBLE_DEBUG_ON_SCREEN: false` to `.travis.yml` it is still picked up as `PYFUNCEBLE_DEBUG_ON_SCREEN: true`

With Conda locally enabled `PYFUNCEBLE_DEBUG_ON_SCREEN` isn't picked up

## Modifications under `.PyFunceble.yaml`
None

## Reproduction
See error description

Local focal+ conda
[code]

[2020-10-26 14:31] spirillen opened #131 "`-db` `--database-type`"
**Describe the solution you'd like**
1. Strip the `--databse-type` as when you uses `-db` you are already telling the system to use a DB connector.
2. Replace `mariadb | mysq l json` with `sql|json` as the sqlachademy make the choice

[2020-10-26 14:45] spirillen opened #132 "Ability to use a proxy for http testing"
**Is your feature request related to a problem? Please describe.**
IP getting marked as bots/open proxies by external sources like cloudflare

**Describe the solution you'd like**
This can be overcome by appending an external proxy-server for the HTTP response code

This should all ready be supported by the `urllib3` and should be possible to put into the `.pyfunceble-env` as it should be supporti

[2020-10-26 15:08] spirillen commented on #132
**APPENDIX**

A lists of proxies should probable support some round-robin/randomness and weight (preferred) e.g. re-use the weight + order syn-taxing from PowerDNS's dnsdist <https://dnsdist.org/reference/config.html?highlight=weight#servers> & <https://dnsdist.org/guides/serverselection.html?highlight=weight#built-in-policies>

[2020-11-05 21:02] ZeroDot1 commented on #123
Another bug:

PyFunceble does not find all bad entries in a file.

Example for not found invalid entries:

[code]

[2020-11-10 01:26] spirillen commented on #123
Interesting @ZeroDot1, so a mix of hex and non-hex fails (As I assume the `\032` is the dns hex ref.)
Thanks for sharing and help improving :+1: I know @funilrys will appreciate, as he is about rewriting the entire codebase and spending days writing test codes.

[2020-11-10 02:02] spirillen opened #133 "Chalanging HTTP status code 403"
**Is your feature request related to a problem? Please describe.**
When you are doing the http code status test, it have come to my attention, that if we uses the 403 (access denied) as 403 is only saying the ip address from x.x.x.x is not allowed here

https://github.com/funilrys/PyFunceble/blob/3ee3b1701c22e3289c19a03224e4b73bf1e7be62/.PyFunceble_production.yaml#L249-L254

I therefore believe it

[2020-11-11 17:59] funilrys opened #134 "PyFunceble 4.0, the next and future of PyFunceble"
Hello, World!

As some of you may have noticed, a few weeks I slowed down all my activities around here. I got some emails from people asking if I'm okay and if I'm going to continue the development of PyFunceble or other things I wrote, created, or maintain.

I would like to thank those the people who asked! Yes, I'm good. But for my personal well being, I had to take some days off of any sort of

[2020-11-24 23:33] asaddon opened #135 "Github Actions support"
If possible please add support of Github Actions, or if it's already working then either add it in the documentation or guide me to a working repository already using GutHub actions so that I can take a look myself, I've tried for hours before opening this feature request and I always get stuck at this error in Github Actions and I can't seem to find a way to fix it.
Thank you!

'/home/runner/.con

[2020-11-25 15:47] spirillen commented on #135
Could you share the link to the log files / repo, and I'll have a look, But up front I'll suggest you would try to specify the pyfunceble.yml location according to the docs `PYFUNCEBLE_CONFIG_DIR` <https://pyfunceble.readthedocs.io/en/master/components/environment-variables.html?highlight=PYFUNCEBLE_CONFIG_DIR#what-do-we-use-and-why>

[2020-11-25 22:12] asaddon commented on #135
@spirillen Thankyou so much, setting up the environment variable worked perfectly, somehow I missed that while searching for a solution and didn't realize PyFunceble supported that 👍

[2020-11-27 14:52] spirillen commented on #135
Don't worry, it is one of those things (sections) we will have to relocate in the new docs :+1:

[2020-11-27 17:38] asaddon commented on #135
Done👍

I've changed it now, I used that workaround a while ago when I was using Travis CI and at that time for some reason Travis CI was not playing well with full URI's.

[2020-12-16 18:00] funilrys commented on #131
@spirillen, if we want to add  PostgreSQL or other connector, your solution make it hard to dispatch.

[2020-12-16 18:04] funilrys commented on #115
@spirillen, the `-ad` is a bit special. And I won't implement it now. But the rest is implemented into 4.0.0a1 which will be available for general testing soon..

[2020-12-20 10:30] spirillen opened #137 "ModuleNotFoundError: No module named 'PyFunceble.cli.continuous_integration.funilrys_dev'"
First issue goes to the `sqlalchemy` connection error.

Error log: <https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/209863452>

The second error goes to the http test, same log as above

[2020-12-20 10:33] funilrys commented on #134
Hello, World!
CC: @spirillen, @ZeroDot1, @mitchellkrogza, @DandelionSprout (Please cc all people I forgot)

I made a big part of my work with 4.0.0 available into the [4.0.0-dev](https://github.com/funilrys/PyFunceble/tree/4.0.0-dev) branch. You are highly invited to test it and give us some feedback through a [discussion](https://github.com/funilrys/PyFunceble/discussions/new) or an [issue](https

[2020-12-20 10:37] funilrys commented on #137
@spirillen:

[code]

Source: https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/209863452#L2388

[2020-12-20 10:43] funilrys commented on #8
Just a side note on this (because I forgot about it at the time I did it), we have docker images.

[2020-12-20 10:47] funilrys commented on #53
@ZeroDot1, if you get a bit of a time for us, can you test 4.0.0 ? It implements this.

Thanks in advance.

[2020-12-20 10:48] #57 closed

[2020-12-20 10:50] funilrys commented on #83
@BlackJack8, What about `PyFunceble.exe` ?

[2020-12-20 10:51] funilrys commented on #86
@spirillen, Can you test this with 4.0.0 ?

[2020-12-20 10:52] #88 closed

[2020-12-20 11:05] funilrys commented on #101
Well, @spirillen nice summary. We will need that in the future as we are in a world where certificates are really cheap.

But, just to explain the `--mining` (as of 4.x), what it does is that it follow the redirect history and make sure that the given subject is not given.

For example for domain testing:
If we have `example.org ==> example.net ==> www.example.net ==> example.org`

The mining subs

[2020-12-20 11:06] #110 closed

[2020-12-20 11:09] funilrys commented on #115
Note to the people who are wondering, because of this issue the structure of the output directory changed.

Meaning that in the previous version it used to be `output/domains/ACTIVE/list` (for example). But in the new version, because we have to take into account that the end-user may give us multiple files to test, the path now becomes `output/{file_name_without_special_chars}/domains/ACTIVE/list

[2020-12-20 11:13] funilrys commented on #118
The one which caused this was the `mining` tables. As of 4.0.0, we deleted it.
The reason I deleted it is because there is no need for it anymore because of the new multithreading schema I introduced for the CLI testing.

More insight into the new schema:
![Thread Model PyFunceble CLI](https://user-images.githubusercontent.com/14127285/102711790-95d54900-42bc-11eb-82a9-b8b5eb0205d8.png)

--------

[2020-12-20 11:14] funilrys commented on #120
Should I guess that this is not happening anymore with the latest versions?

[2020-12-20 11:16] funilrys commented on #121
The table in question is completely deleted as mentioned at https://github.com/funilrys/PyFunceble/issues/118#issuecomment-748593568

[2020-12-20 11:17] funilrys commented on #123
The mining table is now gone.

[2020-12-20 11:18] funilrys commented on #123
The mining table is now gone.

[2020-12-20 11:18] funilrys commented on #123
The mining table is now gone.

[2020-12-20 11:19] funilrys commented on #123
The mining table is now gone.

[2020-12-20 11:20] funilrys opened #138 "No ouput after x Minutes under CI."
Under Travis-ci there is a common error which I'm wondering about where is happening.

Using the central  DB to store the test results, however, on several CI's the following error occur

[code]

Links to a couple of the affected CI's:
  - https://travis-ci.com/github/dns-test/rpz.mypdns.cloud
  - https://travis-ci.com/github/dns-test/adult.mypdns.org
  - https://travis-ci.com/github/dns-test-26-3

[2020-12-20 11:21] funilrys commented on #138
We should keep an eye on this. @spirillen: Please let me know here if this is happening again with any non-3.x versions.

[2020-12-20 11:23] funilrys opened #139 "PyFunceble does not support the `\032` spearator."
Another bug:

PyFunceble does not find all bad entries in a file.

Example for not found invalid entries:

[code]

_Originally posted by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/123#issuecomment-722642763_

[2020-12-20 11:24] funilrys commented on #139
Thanks for reporting this  @ZeroDot1.

[2020-12-20 11:24] funilrys commented on #139
Note to self: More to read about `\032` in the [RFC6763](https://tools.ietf.org/html/rfc6763).

[2020-12-20 11:26] funilrys commented on #123
Thanks, everybody. I'm closing this. I created some new issues to keep an eye on some of the things that may be still relevant to the incoming version.

Closing.

[2020-12-20 11:26] #123 closed

[2020-12-20 11:28] funilrys commented on #124
Just for info regarding the removed milestone: The fix of this is into the `4.0.0`.  Feel free to test and give us some feedback.

[2020-12-20 11:37] funilrys commented on #127
Better handling of this error should be implemented into PyFunceble 4.0.0. Thanks for reporting @DandelionSprout.

------
Note to self: Also document the "strange" (for the world) case and purpose of the `pyfunceble-not-resolved` (3.x) and `pyfunceble-XXXXXXXXXXX.com` (4.x+) domains.

[2020-12-20 11:41] spirillen commented on #138
Could you add me to the `assigned` for updates?

[2020-12-20 11:43] spirillen commented on #137
LOL didn't see that :smile: :laughing:

But why did it install version 3 and not 4????

[2020-12-20 11:43] funilrys commented on #129
The new threading model should resolve this issue because I went away from the hard to manage multiprocessing.

[2020-12-20 11:43] spirillen commented on #137
Found...

https://github.com/dns-test/PyFunceble-Sandboxed/blob/542b5e7b6243b7540cc1591d93d22ca5ffacde38/.travis.yml#L44

[2020-12-20 11:44] funilrys commented on #129
Closing, assuming that we are not going to meet this anymore in 4.x+.

Please feel free to open if this issue happens again.

[2020-12-20 11:44] #129 closed

[2020-12-20 11:44] funilrys commented on #138
Unfortunately not because you are not the author of this. Will be done once I moved this repository to @PyFunceble.

[2020-12-20 11:45] funilrys commented on #130
Note to self: Verify if this still happens with 4.x.

[2020-12-20 11:46] funilrys commented on #130
Note to self: Because 4.0.0 includes a logging level filter, we should also add the environment variable for it.

[2020-12-20 11:48] funilrys commented on #131
I added a restriction to the `--database-type` argument. So, as per 4.0 you can only choose from one of the given one.

Note: `json` is now gone and should be replaced with `csv` (as per 4.0).

[2020-12-20 11:55] spirillen commented on #137
Seeing the same issue in conda on both my local machines

https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/209935807#L2395

[code]

[2020-12-20 11:57] spirillen commented on #53
What is the syntax he should be using??

[2020-12-20 12:00] spirillen commented on #83
This could be related to the problem that python isn't exporting the path argument by default on win, don't recall where I found it as it is in the past I was reading this.

[2020-12-20 12:08] funilrys commented on #132
Note about this: The `requests` module follow the `HTTP_PROXY` and `HTTPS_PROXY` environment variable.
Basically putting it into one of those files should be enough:

[code]

But, I agree, we should be able to read a proxy and choose one randomly before any query though the HTTP requester ...

[2020-12-20 12:10] funilrys commented on #133
Good to me too.

[2020-12-20 12:13] funilrys commented on #137
Okay, that one is a real issue :-)

[2020-12-20 12:16] funilrys commented on #137
Please restart the job. It should be fixed now.

[2020-12-20 12:25] funilrys commented on #53
@spirillen there is 1 new argument:

[code]

Setting it to `TLS` and giving your list of servers to the following argument (not changed) should be sufficient.

[code]

[2020-12-20 12:27] funilrys commented on #83
Mhh 🤔 Our GitHub actions jobs under Windows are working .... But I'm willing to find a Windows machine so that we can get through this.

[2020-12-20 12:29] funilrys commented on #53
Also forgot: For those playing with the configuration file (`.PyFunceble.yaml`, it is also possible through the `dns -> server` and `dns -> protocol` indexes.

[2020-12-20 12:58] spirillen commented on #130
Can you exposes the syntax?

[2020-12-20 13:09] funilrys commented on #130
There is the already known `--debug` argument (or it's environment variable counterpart)  to activate the logging globally.
But as of 4.0 it will only print all `INFO` logging. If you want to change it you need to do add:

- `--logging-level info` ==> INFO (default)
- `--logging-level debug` ==> DEBUG
- `--logging-level warning` ==> WARNING
- `--logging-level error` ==> ERROR
- `--logging-level cr

[2020-12-20 13:48] spirillen commented on #137
On ubu

pyfunceble --version
pyfunceble 4.0.0a6.dev (Blue Duckling)

[2020-12-20 13:54] spirillen commented on #131
What about changing it to

`mysql | csv`

and then later IF

`csv | mysql | pgsql`

??

It not a big thing, it just seems ort to specify the same SQL syntaxing

[2020-12-20 14:11] spirillen commented on #130
Super, will add to my todo list for testing

[2020-12-20 14:16] spirillen commented on #120
I'm not going to test any further with 3.x :smiley: I'm only looking ahead toward 4.x from here

[2020-12-20 14:18] spirillen commented on #53
I'm sure looking forward to the new doc branch to start working on it :smiley: :scroll: :page_with_curl:

[2020-12-20 15:19] spirillen commented on #101
Doing this, without testing the the `protocoll://` flow, you might end up with domains that actually is waste of bits.

Example:

if `http://example.org ==> https://example.net` and stops hear, then `http://example.org` is no longer an "ACTIVE" but a "PASSIVE" and for some projects, it might be unnecessary bits for the end-results (Here I'm i.e. thinking of @jawz101 @adaway project, wko like to ke

[2020-12-20 15:21] spirillen commented on #83
Just recall, it is a cygwin related issue <https://github.com/funilrys/PyFunceble/issues?q=is%3Aissue+is%3Aopen+cygwin>

[2020-12-20 15:28] spirillen commented on #137
New issue arised :unamused: https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/209947384#L2396-L2417

[2020-12-20 16:16] funilrys commented on #101
@spirillen, those 2 lines are only given if the `inactive_db.json` and/or `whois_db.json` are found in your configuration directory.

[2020-12-20 16:20] funilrys commented on #137
@spirillen where is your `DB_CHARSET` variable declared? I can't find any 🤔

[2020-12-20 16:20] funilrys commented on #137
Source: https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/209947384#L185

[2020-12-21 09:31] spirillen commented on #101
Yep, as mentioned here: keybase://chat/spirillen,funilrys/1969 I was just lost a minutes :)

[2020-12-21 09:32] spirillen commented on #137
https://github.com/dns-test/PyFunceble-Sandboxed/blob/718de91f59fbb6bf1208182757bd35ddc66f8f2a/.travis.yml#L21

[2020-12-21 09:44] spirillen commented on #130
Appendix:

The `--logging-level` are not shown within the `--help` let consider if this should be the case!!

[2020-12-21 09:46] spirillen opened #140 "convert string to float (4.x Alpha)"
## Bug description
`Fatal Error: could not convert string to float:`

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
1. `pyfunceble -h -a -dbr 0 -d mypdns.org --mining`

Fatal Error: could not convert string to float: '14-mar-2021'
Fatal Error: could not convert string to float: '1609628400.01610492400.0'
Fatal Error: could not convert string to

[2020-12-21 09:49] spirillen opened #141 "Obfuscating the /home/username path with system variable for user path"
**Is your feature request related to a problem? Please describe.**
See title

**Describe the solution you'd like**
Obfuscating the `/home/SomeRealUserName` with default system variables as `$HOME` in log outputs

This will help protect the real identity of a user, hence lift the level of privacy from a copy/paste interaction

[2020-12-21 09:58] spirillen commented on #140
[code]

[2020-12-21 12:02] funilrys commented on #130
This is done on purpose @spirillen. If you search `argparse.SUPPRESS` (from a clone of the `4.0.0-dev` branch), you will get the list of arguments that are hidden.

[2020-12-21 12:04] funilrys commented on #137
What I meant:

You have:
https://github.com/dns-test/PyFunceble-Sandboxed/blob/718de91f59fbb6bf1208182757bd35ddc66f8f2a/.travis.yml#L21

[code]

But the `DB_CHARSET` variable is missing somehow...

[2020-12-21 12:10] funilrys commented on #134
Note for those who are wondering: The documentation (until we get out of alpha) can be found [here](https://pyfunceble.readthedocs.io/en/4.0.0-dev/).

Please take into consideration that I'm still trying to update the documentation as I write this.

[2020-12-21 12:25] spirillen opened #142 "4.0.0a7 --no-file + --dbr"
## Bug description
Adding the `--no-file` still produces output files, this is unexpected behaviour

[code]

The `--dbr 0` was not respected and the test failed to retest NON-ACTIVE records, See dump + <https://github.com/PyFunceble/ci_test/blob/master/test.list>

I would have expected a full retest of ALL records from source with the `0` set

## Modifications under `.PyFunceble.yaml`

None

## Re

[2020-12-21 12:26] spirillen commented on #141
APPENDIX 1:

Maybe only use relative path in output rather than full path?

[2020-12-21 12:31] spirillen commented on #142
APPENDIX 1:

As I was working on #130 It strikes me at we should leave a exeption to no output at all... the logging IF = TRUE should of curse always generate it's log files...

[2020-12-21 12:42] funilrys commented on #141
The output directory can virtually be everywhere!!

[2020-12-21 12:46] funilrys commented on #141
This is going to be a nightmare to write because of the cross-platform (*nix, macOS, windows, ...) support but there has to be a way to do this.

The reason, I had that path explicitly, is because I'm thinking a bit ahead of what is coming. For example: How to know which data are from a single file in the filesystem the day we will have to play with an API that virtually anybody can use to retriev

[2020-12-21 12:46] spirillen commented on #130
That's OK, but as the docs not yet is public available, I was putting it into the think-tank :smiley:

Just tested the logging vs the central DB

[code]

The do not produce any output for the following actions

[code]

Which I would have expected to actually see what is happening...

[2020-12-21 12:48] funilrys commented on #141
I really don't want to force everyone to use a special PyFunceble directory location in their filesystem.
Therefore the full path. But I'm willing to make a concession on the storage of the full path in order to protect the real identity of a user.

By the way: In a traceback, we can't change the full path.

[2020-12-21 12:51] spirillen commented on #137
You are actually right.... just weird where it had gone wrong... but I somehow managed to get it renamed between previously runs :thinking:

So let's see in https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210062094

[2020-12-21 12:53] funilrys commented on #137
@spirillen, no I don't have access.

[2020-12-21 12:54] funilrys commented on #142
I like your script output hahaha. Will be fixed.

[2020-12-21 13:51] spirillen commented on #141
I know, that's why I was a bit un-precise in my suggestion, as this need to be thought throug before programming

[2020-12-21 14:37] spirillen opened #143 "yaml.constructor (4.alpha)"
## Bug description
yaml.constructor.ConstructorError: could not determine a constructor for the tag 'tag:yaml.org,2002:python/object/new:box.box.Box'

<details><summary>Full log output</summary>

[code]

</details>

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
1. ./pyfunceble4.sh /var/storage01/repos/github/mypdns/porn-records/submit_here/adult

[2020-12-21 14:47] spirillen commented on #143
Appendix

Same happens on fresh pyfunceble-alpha DB

`rm .pyfunceble-env .PyFunceble.yaml` Fixed the issue...

[2020-12-21 14:58] spirillen commented on #143
Appendix 2.

The issue arises every time I make any changes to `.pyfunceble-env` currently only option is to actually delete `.PyFunceble.yaml`

[2020-12-21 15:09] funilrys commented on #143
Busy with the documentation right now. Will look into that later today. I could not reproduce this 😢

[2020-12-21 15:27] spirillen commented on #143
keybase://chat/spirillen,funilrys/1975

[2020-12-21 15:34] spirillen commented on #135
@funilrys don't forget to move the Global Variables to the CI section within the docs for version 4

[2020-12-22 01:03] funilrys commented on #142
Just a notice about this. The `counter.json` file is needed to generate the `percentage.txt` file at the real end.

Meaning that if one will use the `--no-file`, no percentage will be generated either.

[2020-12-22 01:13] funilrys opened #144 "It should be possible to completely disable the coloration."
**Is your feature request related to a problem? Please describe.**

As of now, it is impossible to get the STDOUT output without the coloration.

**Describe the solution you'd like**
We should provide a `--color` argument along with its configuration file counterpart in order to handle such cases.

[2020-12-22 10:33] spirillen commented on #143
Just tested with 4.0.0a13 and the issue has raised in severity :unamused:

This time I haven't made any changes to any files, the only change I've done from previous test is hanging the test file....

Test string `-dbr 0 -ex --dns 127.0.0.1 -w 6 --database-type mariadb --syntax --no-files`

[code]

[2020-12-22 11:01] spirillen opened #145 "DataBAse Structure (4.0.0a13)"
**Is your feature request related to a problem? Please describe.**
As I'm looking into the DB, I find it hard to figure out how you would extract the `INVALID` from the expired or otherwise failed records from `pyfunceble_inactive`

**Describe the solution you'd like**
As referenced in <https://www.mypdns.org/T1250> make a table of static values referring to a result such as

| id | Human_descript

[2020-12-22 11:10] spirillen commented on #145
My second question to the new structure is why have you chosen to delete the `pyfunceble_file` and moved the duplicated megabytes of a source into the `pyfunceble_(in)active` tables??

That I don't understand.... as it as i see it at first will increase the share size of the DB with unnecessary 100's of megabytes.

[2020-12-22 12:32] spirillen opened #146 "FP invalid records (4.0.0a13.dev)"
## Bug description
[code]
**Note** about the srv, these might have been tested with `--rpz` as they are INVALID and the SRV is the record type that for some reason have been exported as domain record from some unknown source. is this something we should be considering making a workaround for :thinking: ?

[code]
## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce t

[2020-12-22 12:42] spirillen commented on #146
Another example that court my eye

[code]

[2020-12-22 13:00] funilrys commented on #145
The `pyfunceble_file` table was in my mind useless. The `pyfunceble_continue` and `pyfunceble_inactive` are sufficient for PyFunceble (itself). In fact, I'm convinced that the JOIN I had to systematically to get the right dataset was slowing down PyFunceble (among other things in the past design).

Keep in mind that the data that are stored in there are not meant for usage outside of PyFunceble it

[2020-12-22 15:42] keczuppp commented on #13
Hello

### 1
Another failures:

Test filter | Extraction result
------------ | -------------
`\|\|site1.com` | site1.com
`\|\|site2.com^` | site2.com
`\|\|site3.com$` | site3.com
`\|\|site4.com/` | site4.com
`\|\|site5.com*` | **site5.com\* failure (artefact)**
`\|\|site6.com$third-party` | site6.com
`\|\|site7.com^$third-party` | site7.com
`\|\|site8.com^$3p` | **failure**
`\|\|site9.com^$all` |

[2020-12-22 22:18] funilrys commented on #130
Should be now fixed.

[2020-12-22 22:59] #118 closed

[2020-12-22 23:01] funilrys commented on #142
Closing so that I can get an overview of what is fixed.

Please test and reopen if still not fixed.

[2020-12-22 23:02] funilrys commented on #140
Closing. Feel free to reopen if you still meet this issue with the latest version.

[2020-12-22 23:02] #140 closed

[2020-12-22 23:02] funilrys commented on #143
Closing. Feel free to test and reopen if not fixed.

[2020-12-22 23:02] #143 closed

[2020-12-22 23:03] funilrys commented on #139
Closing. Feel free to test and let me know if it is not working.

cc @spirillen @ZeroDot1

[2020-12-22 23:03] #139 closed

[2020-12-22 23:03] funilrys commented on #115
Also documented in the update section.

Closing. Feel free to test and reopen if not fixed.

[2020-12-22 23:03] #115 closed

[2020-12-22 23:04] funilrys commented on #53
Also documented.

Closing. Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:04] #53 closed

[2020-12-22 23:04] #144 closed

[2020-12-22 23:05] funilrys commented on #130
Closing. Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:05] #130 closed

[2020-12-22 23:06] funilrys commented on #124
Closing so that I can keep track of what is still to be done.

Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:06] #124 closed

[2020-12-22 23:07] funilrys commented on #86
Closing. Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:07] funilrys commented on #125
Closing so that I can keep track of what I still have to fix.
Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:07] #125 closed

[2020-12-22 23:08] funilrys commented on #126
Closing. Feel free to test and reopen if not fixed or if necessary.

[2020-12-22 23:08] #126 closed

[2020-12-22 23:13] funilrys commented on #131
You are right, but I don't want to create a rather biased discussion as soon as `mysql` will be removed.

In fact, under the hood, all the MySQL related code are just an extension (with nothing more) of the MariaDB related source code. For me, the discussion between `mariadb` over `mysql` for unification or vice-versa is rather more a "display" issue than something else.

The reason, it is still e

[2020-12-22 23:15] funilrys commented on #137
Please review and accept my PR to your repository @spirillen.

[2020-12-22 23:19] #145 closed

[2020-12-23 00:27] funilrys commented on #137
Closing. I suppose that everything will be fixed in your next test.

Feel free to test and reopen if it's not fixed or if necessary.

[2020-12-23 00:27] #137 closed

[2020-12-23 00:32] funilrys commented on #146
Strange, I can't reproduce. Do you have your original file or an excerpt of it?

[2020-12-23 01:37] spirillen commented on #146
Extracted from the central DB.... you can fetch it there, it's the fastes

[2020-12-23 01:46] spirillen commented on #137
:rofl:

https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210346284#L1709 :speak_no_evil:

[2020-12-23 02:00] spirillen commented on #86
Could you make a temporary "Re-test" project and throw these into... I can't keep up.

[2020-12-23 02:05] spirillen commented on #131
The question would then be, should proletarian software be supported in the future?

But as you say, it mostly for the eye and it could be misleading for newbies

[2020-12-23 02:11] spirillen commented on #130
Please put to the retest project I suggested.... all engines are busy

[2020-12-23 02:14] spirillen commented on #143
Confirmed

[2020-12-23 02:20] spirillen commented on #139
Please add to a re-test project.. CPU's still tied up

[2020-12-23 02:20] spirillen commented on #115
Please add to a re-test project.. CPU's still tied up

[2020-12-23 02:21] spirillen commented on #142
Please add to a re-test project.. CPU's still tied up

[2020-12-23 02:22] spirillen commented on #140
Confirmed fixed

[2020-12-23 05:56] ZeroDot1 opened #147 "ModuleNotFoundError: No module named 'box'"
## Bug description
I wanted to do the final error check before updating the [CoinBlockerLists](https://zerodot1.gitlab.io/CoinBlockerListsWeb/).
In order to be able to publish the lists as planned on 24.12.2020.
But unfortunately there was only the following error:

[code]

All required packages have been installed, the same error also occurs with the non DEV version.

It is a bit frustrating that

[2020-12-23 11:05] spirillen commented on #147
The reason could lie in the fact you have been tested with the same version :unamused:

`PyFunceble-dev==3.3.4` is the esact same as `PyFunceble==3.3.4`

The latest 3.x dev version is `PyFunceble-dev==3.3.7` could you try to update the dev to this version and try again as the `box` error should have been fixed. (I had it too)

Could you also try the 4.x.alpha on your list??

In case you need a sho

[2020-12-23 11:27] spirillen commented on #147
Own note for testing in alpha, @ZeroDot1 please fill in if I forgot one basis list

[code]

@funilrys Can you please this issue to the re-test project, if you decide to set it up?

[2020-12-23 12:17] funilrys commented on #131
Well, millions of people use MySQL as it is one `apt install` away for your machine. I'm not ready yet to pay a license for another DB engine so that we can implement it. But, if one day someone has the resource, I'll be glad to accept and review their PR. But it won't come from me (at least not with my current resources and time).

Let's just keep it. It won't harm anybody.

[2020-12-23 12:36] spirillen commented on #142
if `--dbr` > `0` all ACTIVE records gets retested straight up

![image](https://user-images.githubusercontent.com/44526987/102996603-ae936800-4523-11eb-9532-265f74d86560.png)

Unless I have misunderstood the purpose of the dbr, then `--dbr 6` should have nothing to test on this second run as dbr = 6 (days)

[2020-12-23 12:41] spirillen commented on #142
:thought_balloon: :thinking: maybe throw the `counter.json` in `$TEMP`  it is usual nice to see it, maybe combine it with `--percentage` = `--percentage --no-file` ? :thought_balloon:

Note to self + funilrys, remember to add this to <https://pyfunceble.readthedocs.io/en/4.0.0-dev/usage/from-a-terminal.html?highlight=dbr#no-files>

[2020-12-23 13:38] #131 closed

[2020-12-23 14:58] funilrys commented on #135
@spirillen, can you clarify what I am missing here ?

[2020-12-23 14:59] funilrys commented on #13
I don't have time yet. @keczuppp but let me reopen this so that I can answer you when I get a bit of time.

[2020-12-23 15:00] funilrys commented on #137
My bad.

[2020-12-23 15:07] funilrys commented on #86
@spirillen Okay. Done. @\me and I'll add them in there.

[2020-12-23 15:08] funilrys commented on #139
@spirillen done.

[2020-12-23 15:09] funilrys commented on #115
@spirillen done.

[2020-12-23 15:10] funilrys commented on #130
@spirillen Done.

[2020-12-23 18:46] spirillen commented on #130
Super, thanks

[2020-12-23 18:58] spirillen commented on #135
Note: haven't checked current doc for v4 about this yet, but to tell what it is about

It's about the Global Environment Variables <https://pyfunceble.readthedocs.io/en/master/components/environment-variables.html?highlight=PYFUNCEBLE_CONFIG_DIR#what-do-we-use-and-why> which for at least v3 is hidden beneath the `components/`section, rather than under (or link to) the CI variables, which seems lik

[2020-12-23 20:20] ZeroDot1 opened #148 "OSError: [Errno 24] Too many open files"
## Bug description
Use the following command and after a few seconds you will get the error...

[code]

## Modifications under `.PyFunceble.yaml`

no

## Reproduction

`sudo /root/.local/bin/pyfunceble -m -p 4 --no-whois -a --syntax -f "/home/URLsToScan.txt"
`

## Versions

**OS:** Arch Linux 5.10.1-Custom2-2-ARCH
**Python Version:** 3.9.X
**PyFunceble Version:** 3.3.7

[2020-12-23 20:34] ZeroDot1 commented on #147
@spirillen The box error is fixed, but I found another one immediately.
See: https://github.com/funilrys/PyFunceble/issues/148

[2020-12-23 21:23] spirillen commented on #130
Completed

TEST: OK

[2020-12-23 21:23] spirillen commented on #139
Completed

TEST: OK

[2020-12-23 21:55] spirillen commented on #86
/REOPEN

[code]

tested with the smaller [adult.mypdns.cloud](https://www.mypdns.org/w/rpzlist/#adult-mypdns-cloud)

Result, `--rpz` are testing the full records, not the domain blocked by the record

|id|created_at|modified_at|idna_subject|checker_type|destination|source|tested_at|
|--|----------|-----------|------------|------------|-----------|------|---------|
|361280|2020-12-23 21:30:08|2020-

[2020-12-23 21:58] spirillen commented on #148
Damned, you too.

Duplicate of <https://github.com/funilrys/PyFunceble/issues/129>

[2020-12-23 22:01] spirillen commented on #147
Yeah, and it's not going to be fixed, it's a duplicate of #129

OT: Just to be curious, what is your `ulimit -n`?

I'm testing the https://github.com/funilrys/PyFunceble/issues/147#issuecomment-750177740 as we speech, so far it seems promising with the v4.x.alpha

[2020-12-23 22:02] funilrys commented on #148
PyFunceble version.

@ZeroDot1, I will publish 4.0.0-dev  to the AUR as soon as we are out of beta. Until then please install it manually into a virtualenv. @spirillen or @mitchellkrogza may support your if I'm not around (that fast).

[2020-12-23 22:06] spirillen commented on #147
Self note, this test will also touch #115

[2020-12-23 22:14] funilrys commented on #147
@ZeroDot1 AS a temporary solution: `pip install python-box` (from virtualenv presumly) OR `aur-helper -S python-box`  (system-wide)

[2020-12-23 22:28] spirillen commented on #86
Results of `--syntax --rpz` vs expected (@\me)

Test file

[code]

Versus the `--rpz -f adult-list` without the `--syntax`, I would expect this test to make a full validation of the zone file.
This means here should have been 3 INVALID and 1 VALID

My POV, this test test failed.

[2020-12-23 22:42] funilrys commented on #86
@spirillen, I understand your POV about `; Error in TYPE` but I'm not sure that PyFunceble is the tool suited for that filter. That opens the doors to all special cases and got know how much there is today and how much is going to be asked for..

I'm ready to implement the testing without the `adult.mypdns.cloud.` assuming that the SOA is given beforehand. But otherwise, PyFunceble won't really ca

[2020-12-23 22:44] spirillen commented on #86
Appendix to previous comment as I have expanded the number of test records

[code]

[code]

[2020-12-23 22:59] funilrys opened #150 "[4.0.0] 127.0.0.53/32 can't be tested."
[code]

Credit: @spirillen

[2020-12-23 22:59] spirillen commented on #86
Let's not disagree about that, but it would be needed if we should be able to load a zone directly from a DNS server at some point. I'm open to make a discussion about this :smiley:

see DISC: <https://github.com/funilrys/PyFunceble/discussions/149>

That seem impossible without :+1: We should just remember to note that in the docs....

This will actually also make it possible to test whether an R

[2020-12-23 23:30] funilrys commented on #150
@spirillen ready for testing.

[2020-12-23 23:34] funilrys commented on #137
@spirillen Fixed. Thanks for the Sandbox.

[2020-12-24 00:41] #133 closed

[2020-12-24 00:57] spirillen commented on #150
Result: Failed

[code]

[2020-12-24 00:59] spirillen commented on #137
Your welcome :wave:

[2020-12-24 01:03] funilrys commented on #148
Closing.

[2020-12-24 01:03] #148 closed

[2020-12-24 01:03] funilrys commented on #147
Closing because I'm more focused on 4.0 and a temporary solution was presented (previous comment).

[2020-12-24 01:05] funilrys commented on #43
This has been there for a long time. Let's add it into 4.0.0 😄

[2020-12-24 01:09] funilrys commented on #150
Mhhh

[code]

[2020-12-24 01:16] spirillen commented on #150
wooops 21 != 24.... to sec, my script is out of order....

[2020-12-24 01:27] spirillen commented on #150
That looks better...

[code]

However `127.0.0.53/32` is as such valid as it do hold the CIDR which is required for rpz. But let's leave it here for now, and make a remark in the doc about the <https://github.com/funilrys/PyFunceble/discussions/149>

And then take it up later, what we should do for the future about this..... Right now this is not that important in my specific current usecase as I

[2020-12-24 01:28] funilrys commented on #150
Am IP range is always `ACTIVE` when testing with the availability checker (SPECIAL case).

[2020-12-24 01:40] spirillen commented on #150
In that case the entire CIDR should actually be tested individually :yum:

As said, I'm good with this, we should just remember the note about the limitation in the combination of `--syntax + --rpz`

[2020-12-24 12:45] funilrys commented on #43
@DandelionSprout @spirillen  Please test this and reopen if it's not fixed.

Closing.

[2020-12-24 12:45] #43 closed

[2020-12-24 16:29] funilrys commented on #132
Note about the implementation: It should be better to have the `--http-proxy` and `--https-proxy` arguments.

But, 2 new environment variables will be introduced: `PYFUNCEBLE_HTTP_PROXY` and `PYFUNCEBLE_HTTPS_PROXY` which will be also parsed into the system.

[2020-12-24 23:24] spirillen commented on #132
And if you are using a socks5 proxy like tor `socks5://127.0.0.1:9050` ? :smiley:

[2020-12-25 10:21] spirillen commented on #43
This test will be a part of the same test for #115 + #147

[2020-12-25 10:24] spirillen commented on #115
Self note:

  - [ ] Is it possible to only display "INACTIVE" domains? #43 (./output/*/INACTIVE/list)
  - [ ] Using more input sources at once (-f -f)
  - [ ] Test a mix of `-f` and `-uf` in same test

[2020-12-25 10:57] spirillen opened #151 "PYFUNCEBLE_AUTO_CONFIGURATION (4.0.0a27.dev)"
## Bug description
`PYFUNCEBLE_AUTO_CONFIGURATION=yes` Is not in effect :unamused:

<https://github.com/PyFunceble-Templates/pyfunceble-miniconda/blob/a5281d1c0ca15d5a2933efb62ea05e29f4b00edf/pyfunceble4.sh#L126>

[code]

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
1. Run https://github.com/funilrys/PyFunceble/issues/147#issuecomment-750177740

[2020-12-25 11:25] spirillen commented on #151
Appendix 1:

Same happens with pi4 in venv <https://github.com/PyFunceble-Templates/pyfunceble-miniconda/blob/a5281d1c0ca15d5a2933efb62ea05e29f4b00edf/pyfunceble4-arm7.sh>

[2020-12-25 11:45] spirillen opened #152 "-uf fails (4.0.0a27.dev)"
## Bug description
A clear and concise description of what the bug is.

## Modifications under `.PyFunceble.yaml`

Non

## Reproduction

### First test, mix of `-f + -uf`

Steps to reproduce the behavior:

[code]

<details><summary>Screen Log output</summary>

[code]

</details>

### Second test (only `-uf`)
[code]

<details><summary>Second test output</summary>

[code]

</details>

## Expected be

[2020-12-25 11:51] spirillen commented on #151
Appendix 2

Same goes for `PYFUNCEBLE_OUTPUT_LOCATION`

[2020-12-25 12:21] spirillen commented on #43
![image](https://user-images.githubusercontent.com/44526987/103134589-88e89900-46b2-11eb-9a28-53113dc42c6c.png)

![image](https://user-images.githubusercontent.com/44526987/103134745-a10ce800-46b3-11eb-838b-217954bdf556.png)

I believe it should be possible to choose more than one output to display <https://pyfunceble.readthedocs.io/en/4.0.0-dev/usage/index.html#display-status>

![image](https://u

[2020-12-25 12:21] spirillen opened #153 "--display-status choose more than one"
See https://github.com/funilrys/PyFunceble/issues/43#issuecomment-751241980

[2020-12-25 13:02] spirillen commented on #43
Success with the note of displaying more than one optional limitation

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210571650>

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210568814>

[2020-12-25 14:15] spirillen opened #154 "Very slow --syntax --database-type mariadb"
## Bug description
If you combine `--syntax --database-type mariadb` the process is very very slow :unamused:

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/jobs/464797195

https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/jobs/464797196

## Expected behavior
Just as fast as `--

[2020-12-25 14:17] funilrys commented on #154
Can you record a short session (without any debug) so that I can see what you mean? I use https://asciinema.org/ for such cases

[2020-12-25 14:20] spirillen commented on #154
LOL `https://asciinema.org/` is using a blocked resource, not that I can remember which :unamused:

But we have a super invention on nix... `time` :laughing:

Updating this reply once completed a local test

[2020-12-25 15:15] spirillen commented on #147
Hey @ZeroDot1

To do a followup, have you been able to run a full successful test your self, and if Which version did you use?

[2020-12-25 15:39] spirillen opened #155 "Alpha test of --adblock"
Until now there have been non test of the `--adblock` variable....

This should be the thread for that purpose.

I'll be using a valid list for this purpose from [EasyList](https://github.com/easylist/easylist), more specific I'll be using the following list to get as broad a number of rules as possible and yet keeping things small.

[code]

  - [x] Fetch directly from url sources #156
  - [ ] --a

[2020-12-25 15:53] spirillen commented on #155
Ping @smed79 @Fanboynz @Khrin @DandelionSprout @ THEtomaso @Yuki2718 Please comment what you'll find of errors or suggestions for tests :smiley:

And Thank you so much for your good work with the EasyList projet

[2020-12-25 15:55] spirillen commented on #155
First report

The `--adblock` argument do not accept more than one argument vs the `-f` argument where you can assign several sources at once

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210574987>

![image](https://user-images.githubusercontent.com/44526987/103138355-f9eb7900-46d1-11eb-987a-e64c81153bd6.png)

[2020-12-25 16:11] spirillen opened #156 "adblock not obtaining source from url"
## Bug description
See title

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210574987> +
<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210575157>

## Modifications under `.PyFunceble.yaml`

A clear representation of what you changed.

## Reproduction

Steps to reproduce the behavior:
[code]

## Expected behavior
adblock can fetch directly from url-source a

[2020-12-25 16:18] Yuki2718 commented on #155
I have been using this option combined with `-f` (`-ad -f`), at least it seems to recognize not only domain rules (`||example.com^`) but also cosmetic and scriptlet (`##`), but haven't tested thoroughly. Only annoyance I get is it complains about cp932 codec when the file includes non-ascii characters so I have to remove them from the file. But it seems to be more of a Python issue and also specif

[2020-12-25 17:25] spirillen commented on #156
Closing as I learned `--adblock` is a argument like `--wildcard` not a "source" like `-f` or `-uf`

[2020-12-25 17:25] #156 closed

[2020-12-25 19:06] spirillen commented on #155
What file are you using? is it a public one I can test with?

[2020-12-25 21:27] DandelionSprout opened #157 "The json2csv migration takes oddly long or gets stuck entirely"
## Bug description
Having begun testing out PyFunceble 4.0.0a27.dev in the past half-hour, I've encountered one odd problem in particular:

The `Started migration (json2csv) of the inactive dataset.` procedure before running PyFunceble on a file, seems to take considerably longer than it probably should.

Instance 1: Migration took around 5min. I sadly forgot to take a screenshot of this, also bec

[2020-12-25 21:32] DandelionSprout commented on #134
Minor bug I came across that I presume doesn't warrant its own issue report:

Installing 4.0.0 through the procedure further above in this thread, fails to upgrade the `domain2idna-1.9.1-py3.7.egg` package to `domain2idna-1.12.0`, leading to the error `Fatal Error: module 'domain2idna' has no attribute 'domain2idna'` when running any file. pip3 and pip also claimed that `domain2idna-1.9.1-py3.7.eg

[2020-12-25 21:57] spirillen commented on #157
Hey @DandelionSprout

I can inform you that converting the Central DB (local copy) with about 266.000 records took about 10 hours, so yes, here should be room for improvement.

Secondly, try run the script with `--logging-leve` See https://github.com/funilrys/PyFunceble/issues/130#issuecomment-748605858 as it have yet to be documented

[2020-12-25 21:58] DandelionSprout commented on #157
I actually did found a fix now, as the error turned out to (by all earmarks) be related to https://github.com/funilrys/PyFunceble/issues/134#issuecomment-751292658:

PyFunceble did not accept and/or acknowledge `domain2idna` if it had been installed through PyPi with pip3; and is only acknowledging it if it was installed through PyFunceble's installation process. Since `json2csv` tries to import `

[2020-12-25 22:34] spirillen commented on #157
Super :+1:

PS. You should copy https://github.com/funilrys/PyFunceble/issues/134#issuecomment-751292658 to it's own issue, then we can better add it to the fix & retest rutines, and thanks a lot for posting your finds and solution.

[2020-12-25 23:20] spirillen opened #159 "cygwin + domain2idna fails to upgrade"
Originally posted by @DandelionSprout in https://github.com/funilrys/PyFunceble/issues/134#issuecomment-751292658

## Bug description
Minor bug I came across that I presume doesn't warrant its own issue report:

Installing 4.0.0 through the procedure further above in this thread, fails to upgrade the `domain2idna-1.9.1-py3.7.egg` package to `domain2idna-1.12.0`, leading to the error Fatal Error: m

[2020-12-25 23:57] #159 closed

[2020-12-26 00:23] funilrys commented on #151
# `PYFUNCEBLE_AUTO_CONFIGURATION`

I can't reproduce for `PYFUNCEBLE_AUTO_CONTINUE`.

## Manual:

[code]

##  With environment variable (PREFIXED)

[code]

##  With environment variable (EXPORTED)

[code]

[2020-12-26 00:28] funilrys commented on #151
# `PYFUNCEBLE_OUTPUT_LOCATION`

I can't reproduce for `PYFUNCEBLE_OUTPUT_LOCATION` (too).

## Reproduction

[code]

[2020-12-26 00:31] funilrys commented on #151
Closing, as I may need more context. Could not reproduce the behavior on 2 different machines.

Feel free to reopen with more context.

[2020-12-26 01:27] spirillen commented on #151
The keyword is the `export` :smiley:

I found that issue later, but what buggers me, is it as such, shouldn't be necessary to use export statement to assign a variable to same bash shell with no sub-processes (this case) as the are going 1,2,3 etc. This might rather relate to bash than PyFunceble.

[2020-12-26 01:48] funilrys commented on #151
Well, without `export` it should only stay on your user level. Meaning that if I'm not wrong, it is never caught by subsequential scripts.

I use `export` for so much time, that it became an automatism. 😆

[2020-12-26 02:14] funilrys commented on #154
Hey, @spirillen want to play a game?

Do this:

1. copy this patch into a file in your filesystem:

[code]

2. Re-Clone PyFunceble, move to the `4.0.0-dev` branch, switch to the latest commit (as of now), apply the patch, and run PyFunceble against the same dataset 😉

[code]

What do you see? 😄

[2020-12-26 06:10] Yuki2718 commented on #155
For example, foreign.txt in AdGuard Base filter (formerly English filter). This is the actual error message:
<details>
<summary>Screenshot</summary>

![cp932](https://user-images.githubusercontent.com/58900598/103146422-6dea5780-478c-11eb-8184-c70b3a3d910f.png)

</details>

[2020-12-26 10:29] spirillen commented on #151
Yep, but it can also become problematic that you export to global level.

Let's take a though case, and yet one I have experienced my self.

at 10:00 I start a job with EXPORT (Global change of GLABAL variables, the script is running and hours are parsing by.

at 17:00 (First script still running in shell1) I then have to test something else in shell 2. How I have forgotten I did an EXPORT in shel

[2020-12-26 10:32] spirillen commented on #154
Still on first cop of sod soo

speed?

[2020-12-26 10:33] spirillen commented on #155
Super, I setup a test to have that fixed (Travis)

[2020-12-26 11:09] funilrys commented on #154
Yes and no. Read how much is waiting in the queue :wink:

[2020-12-26 11:09] spirillen commented on #154
Patch format detection failed.

[2020-12-26 11:44] spirillen opened #160 "--dns-protocol https fails"
## Bug description
[code]

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/jobs/464806396>

Sandbox <https://github.com/dns-test/PyFunceble-Sandboxed/tree/alpha_test_adblock>

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
[code]

## Expected behavior
<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/jobs/464806395>

## Scre

[2020-12-26 11:57] funilrys commented on #154
Just to explain for those wondering.:

![efe](https://raw.githubusercontent.com/PyFunceble/draw.io/master/dist/Thread_Model_PyFunceble_CLI.png)

Right now, when a single test is done, it submits to the producer thread (single thread) which works sequentially. Meaning that right now (for your example) if you apply the patch you will see that the tester is actually so fast that the producer is not f

[2020-12-26 12:39] spirillen commented on #154
I'll give it a deeper though before answering it...

There are a lot of things that we would need to take into consideration vs the [pyramid top](https://www.mypdns.org/project/view/15/)

[2020-12-26 13:14] funilrys commented on #154
Mhh the best will actually be to have one single thread for each job (autocontinue storage, whois storage, etc).
We will gain in performance. And as the writing (files) is sequential, we will have to wait anyway regarding the drive that is used. That's the problem with I/O bound tasks like writing files or waiting for network resources.

Here is the new structure (as per the last commit mentioned

[2020-12-26 13:30] spirillen commented on #154
Oh simply generate file "file" worker who handling the file read/write to mem (this is a fast thought without reading code

[2020-12-26 13:42] #160 closed

[2020-12-26 14:40] spirillen commented on #160
Test parsed

https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210608136

[2020-12-26 14:42] spirillen commented on #151
[code]

[2020-12-26 17:25] spirillen opened #161 "Adblock Failed extration"
For example, foreign.txt in AdGuard Base filter (formerly English filter). This is the actual error message:
<details>
<summary>Screenshot</summary>

![cp932](https://user-images.githubusercontent.com/58900598/103146422-6dea5780-478c-11eb-8184-c70b3a3d910f.png)

</details>

_Originally posted by @Yuki2718 in https://github.com/funilrys/PyFunceble/issues/155#issuecomment-751323033_

[code]

https:/

[2020-12-26 22:45] #152 closed

[2020-12-27 01:32] spirillen commented on #153
The test as such is good, however the one test performed with a comma separated selection failed.

I tested this as it should be considered a widely chosen way to separate multiply selection.

Yes wrong from a bash argument perspective, but yet!

<https://travis-ci.com/github/dns-test/PyFunceble-Sandboxed/builds/210630098>

According to that, we have no more travis for the rest of the year :unamus

[2020-12-27 10:57] spirillen commented on #142
DBR > 0 still retest all, the following records was last successfully tested 4 days ago.

[code]

[2020-12-27 11:48] spirillen commented on #152
It looks promising... So far now complains when mixing `-f + -uf` The only thing I see is a extensive huge number of FP's on `https://raw.githubusercontent.com/mitchellkrogza/Phishing.Database/master/phishing-links/output/domains/ACTIVE/list`

As the list is quit big, the test will take it's time to complete, but I'll consider the issue as FIXED this far

[2020-12-27 12:02] spirillen commented on #132
Updated OT

Another thing, for which we might wan't to wait implanting the proxy a bit, is we should actually append conditional rules such as:

[code]

[2020-12-27 12:34] funilrys commented on #153
It is documented: Space-separated 😉  But let me reopen this.

-----------------------

@spirillen Look at your setting is "OSS consume credit" activated too by default? I don't have time for their joke but one should ask their support why they are doing that and if there is a way to solve the issue.

I mean, they are still stating that open source projects will still be free. What they are doing i

[2020-12-27 12:49] spirillen commented on #153
I'm into the same, I sick of them, but all credits are gone, just have a look at <https://github.com/spirillen/ublockorigin-rules/commit/7f1e24b123f6836dcac06e35c64997b7dd80a306>, <https://github.com/mypdns/matrix/commit/7d64617c3e4b7db558d94676404df189051856b3> & <https://github.com/mypdns/porn-records/commit/8b0b14038a9f49cbd4c176559a526ebb83355cfe>   They are not processed at all

In short as w

[2020-12-27 13:04] spirillen commented on #153
Clicking on <https://travis-ci.com/organizations/dns-test/plan?anchor=oss-consumption> =

![image](https://user-images.githubusercontent.com/44526987/103171254-07783e80-484b-11eb-9ef8-213ecf3500f9.png)

But access them directly shows this

![image](https://user-images.githubusercontent.com/44526987/103171267-32fb2900-484b-11eb-8370-5569ced2e480.png)

![image](https://user-images.githubusercontent.

[2020-12-27 13:23] spirillen commented on #146
Revisiting thanks to <https://github.com/funilrys/PyFunceble/commit/aac8ee63a6f5167d31970f1213cb4f948470c2f2>

`1peep-show.blogspot.ae.porn.host.srv.` is actually from the [RPZ](https://www.mypdns.org/w/rpz/) zone [porn.host.srv](https://www.mypdns.org/w/recursorserver/#porn-host-srv) So that specific record is solely related to <https://github.com/funilrys/PyFunceble/issues/86#issuecomment-750505

[2020-12-27 13:48] funilrys commented on #153
"Consume paid credit for OSS" shouldn't be activated by default. What we do is just OSS 🤢

[2020-12-27 13:53] spirillen commented on #151
Test failed...

[code]

[2020-12-27 13:53] spirillen commented on #153
Let me try to disable it....

[2020-12-27 14:34] spirillen commented on #153
No changes this month.... :sob:

[2020-12-27 17:34] #86 closed

[2020-12-27 17:48] spirillen commented on #86
Unfortunately I'm probably not able to test this until morning, the URL test is still running

[2020-12-27 18:18] funilrys commented on #153
Not worth the time (supporting `,` separated status).

Closing. People will have to live with the space separated.

[2020-12-27 18:18] #153 closed

[2020-12-27 18:54] spirillen commented on #151
Got this on a fresh user profile

[code]

[2020-12-27 20:23] spirillen opened #162 "sql connection lost"
**Is your feature request related to a problem? Please describe.**
Append a reconnect/retry to the sql

**Describe the solution you'd like**
[code]
With this we can minimize lost results, in case the DB is to busy or what have made it temponary unavailble, it could also be as simple as a security update of the DB, reboot etc.

In addition we should add a short wait like x seconds until test contin

[2020-12-27 20:41] spirillen commented on #153
TEST OK

[code]

[2020-12-27 20:45] spirillen commented on #86
TEST OK

[2020-12-27 20:46] spirillen commented on #115
Test OK

`--adblock` have it's own issue https://github.com/funilrys/PyFunceble/issues/161 & https://github.com/funilrys/PyFunceble/issues/155

[2020-12-27 20:47] spirillen commented on #159
@DandelionSprout

Can you retest this one for us, non of us have Windows to test on and all out Travis time is up :unamused:

[2020-12-27 20:50] spirillen commented on #150
/assign to next version... milestone v4.0.1

I'll consider `In that case the entire CIDR should actually be tested individually` more like a new feature than a alpha fix

[2020-12-27 20:50] #162 closed

[2020-12-27 20:51] spirillen opened #163 "test full CIDR individually"
**Is your feature request related to a problem? Please describe.**
See

https://github.com/funilrys/PyFunceble/issues/150#issuecomment-750696305

https://github.com/funilrys/PyFunceble/issues/150#issuecomment-750698545

Version not before 4.0.1

[2020-12-27 20:55] spirillen commented on #151
Sill minor troubles 4.0.0a35.dev, but should be fixable by ensuring cleaning all v3 files from `~/.config/PyFunceble` | `./.env`

[code]

After deleting all non v4 related files from `~/.config/PyFunceble` everything was fine

[2020-12-27 20:57] funilrys commented on #150
@spirillen Can you write a PR for the docs of:

That's what I'm waiting for to close this.

[2020-12-27 21:00] spirillen commented on #150
Puuh, ok, Was hoping to wait for tomorrow... but ok :smiley: let me move my corpus to the desk

[2020-12-27 21:07] funilrys commented on #150
It can wait 😉 It was just info. This issue will remain open until it's done 😉

[2020-12-27 21:29] spirillen commented on #150
Just Reviewe https://github.com/spirillen/PyFunceble/pull/10 and I'll work on it :rescue_worker_helmet: I have moved my corpus by now ready to type

[2020-12-27 23:12] funilrys commented on #151
I can implement the `--ouput-location` but the autoconfiguration part is not that easy because that means removing the `Configured value: XXX` when using the`--help` argument.

[2020-12-27 23:46] funilrys commented on #155
Have you tried https://stackoverflow.com/a/52617143/5308363 ? I had a simular problem with the GitHub Actions under Windows and I solved it by adding the `PYTHONIOENCODING` variable: https://github.com/funilrys/PyFunceble/blob/d97612786227c0d7059c733ba4e61fcba51b29ba/tox_run.ini#L8

[2020-12-27 23:53] DandelionSprout commented on #159
This one is not easy to simply test in a hurry, because it'd require me to reinstall an older version of domain2idna again prior to such a test, which I'm not 100% sure is even possible.

[2020-12-28 00:10] DandelionSprout commented on #155
My experiences with `--adblock` in these past 2 days:

I often run into `ConnectionAbortedError: [Errno 113] Software caused connection abort`, and sometimes even `Fatal Error: [Errno 113] Software caused connection abort`, most often when running PyFunceble on Nordic Filters (by saving [the main list version](https://raw.githubusercontent.com/DandelionSprout/adfilt/master/NorwegianList.txt) local

[2020-12-28 08:35] Yuki2718 commented on #155
So run `chcp 65001 & set PYTHONIOENCODING=utf-8` before Pyfunceble? I'll check later.

[2020-12-28 08:37] Yuki2718 commented on #155
Haven't got that on any of uAssets, AG, or personal lists.

[2020-12-28 10:49] spirillen commented on #160
Just tested that the values `UDP`, `TCP`, `HTTPS` and `TLS` They are CaseSensitive, I think we should consider making them CaseInSensitive in at least the Beta release.

[2020-12-28 11:08] spirillen commented on #162
TEST FAILED

[code]

[code]

[2020-12-28 11:15] spirillen commented on #159
You can alter the `requirement.txt` before installing and change

[code]

Det du skal gjøre er at nedladden pyfunceble fra kilden og så installere i `venv`
guide: <https://pyfunceble.readthedocs.io/en/4.0.0-dev/installation/index.html#for-development>

På denne måde for du pyfunceble til at installere med den nedgraderede version.

Herefter installere du med den almindelide metode od du skulle vær

[2020-12-28 11:20] spirillen commented on #155
@DandelionSprout what is your test string?

Exmaple of what I mean:

[code]

[2020-12-28 12:07] spirillen opened #164 "Mix the dnstest into urltest v4.0.1.x"
**Is your feature request related to a problem? Please describe.**
When testing the phishing url it caught my eye that we keep testing URI on a dead domain

[code]

[code]

**Describe the solution you'd like**
When testing URI, we should first validate / test the domain

[code]

**Describe alternatives you've considered**
Currently none

**Additional context**
By appending this feature we can save

[2020-12-28 13:31] spirillen commented on #151
I would like `--ouput-location` as it would make bash|command line scripting easier.

However, for the issue in question, I believe we should do was is the easy way, delete non v4 files then generate|download v4 related. :thinking:

[2020-12-28 14:05] keczuppp commented on #156
I don't want to interrupt the conversation in the another thread so I'm commenting here in a less important and closed thread, so I won't interrupt anything:

Ping (...) @Fanboynz (...) @ THEtomaso (...)

- did I just spot some typos in your comment as it should be:
`@ryanbr` instead of  `@Fanboynz` and `@THEtomaso` instead of `@ THEtomaso`
or it was intentional to not ping these two directly

[2020-12-28 14:11] spirillen commented on #154
## With DB
[![asciicast](https://asciinema.org/a/yA4gvszrelDha9oYS4Rar6Jpd.svg)](https://asciinema.org/a/yA4gvszrelDha9oYS4Rar6Jpd)

## No DB
[![asciicast](https://asciinema.org/a/21qxMsgG49fmmnuLfQe53vuPL.svg)](https://asciinema.org/a/21qxMsgG49fmmnuLfQe53vuPL)

## Note
Have a look at the `output/` :speak_no_evil:

[2020-12-28 14:25] spirillen commented on #156
That will be lazy :unamused: as I couldn't remember there exact nicks, I copied them from a commit list :wink:

[2020-12-28 20:04] funilrys commented on #151
`--output-location` is in there (previous commit referenced here) 😄

[2020-12-28 20:20] funilrys commented on #151
Patch on it's way.

[2020-12-28 20:29] #151 closed

[2020-12-28 20:36] funilrys commented on #142
@spirillen Mhh we may have to rename that flag.

DBR actually means: Retest all non `ACTIVE` (related to the current file and test mode) which are in the database for X days.

[2020-12-28 21:16] spirillen commented on #142
Hmm it would be cool if we had one that "stalled" all lately tested. to avoid re-testing what was tested 2 minutes ago

[2020-12-29 00:23] spirillen commented on #150
Doc issues:
  - [ ] <https://github.com/spirillen/PyFunceble/issues/16> `--syntax --rpz`

[2020-12-30 00:14] spirillen opened #165 "PyFunceble: MariaSql it so slow... honestly..."
## Bug description
https://www.mypdns.org/T1249

My latest test with the phishing url list

2 hours of testing with the cdb backend....

Putting all test to a hold until something have been fixed

## Modifications under `.PyFunceble.yaml`

none

## Reproduction

-uf phishing uri list

## Expected behavior
about at least 5 urls a second as https://github.com/funilrys/PyFunceble/issues/164 not yet h

[2020-12-30 01:17] spirillen commented on #151
TEST: OK :heavy_check_mark:

[2020-12-30 02:24] spirillen commented on #155
[code]

My test result is: SLOW, but my eyes haven't court any weird

@Yuki2718 could you retest this issue with @funilrys suggestion?

Another thing I noticed, we aren't filtering what is to become doubles...

[code]

[2020-12-30 02:25] spirillen opened #166 "--adblock not filering doubles"
## Bug description
Noticed, we aren't filtering what is to become doubles...

[code]

Mother https://github.com/funilrys/PyFunceble/issues/155#issuecomment-752304429

[2020-12-30 03:04] spirillen commented on #155
Test of @DandelionSprout <https://github.com/funilrys/PyFunceble/issues/155#issuecomment-751532410>

[code]

Result: No errors

![image](https://user-images.githubusercontent.com/44526987/103327259-154ce000-4a54-11eb-9cec-be2a9a76172f.png)

[2020-12-30 03:14] spirillen commented on #147
just to be a killswitch.... haven't with v4 too

[code]

[2020-12-30 09:24] Yuki2718 commented on #155
@spirillen Sure, I just forgotten. As I said, I believe the issue is specific to Japanese locale.

[2020-12-30 12:02] Yuki2718 commented on #155
Doesn't help, I still get the same error.

[2020-12-31 14:19] #147 closed

[2021-01-03 20:35] funilrys commented on #166
The system tries to handle this at its best. But I won't fix this (yet). PyFunceble will ingest what you give it. In fact, I used to handle such cases in the past. But right now, it's not my priority to fix this. This issue will come along with the development and improvement of the auto continue mechanism (over time).

My actual response is that to counteract the "issue", the duplicates are remov

[2021-01-04 07:42] #165 closed

[2021-01-04 07:42] #154 closed

[2021-01-04 07:46] funilrys commented on #157
Closing as it should be better now.

Actually, it was not "slow" or "oddly long". It was running a background job and just to keep CI awake, I chose to print a dot every 5 seconds (assuming you are using the default timeout).

[2021-01-04 07:46] #157 closed

[2021-01-04 07:48] funilrys commented on #161
The exception assumes that it was because of the `shadow_file` which does not exist anymore (at least at the time I'm writing this) into the `4.0.0a41` version of PyFunceble.

Therefore, I'm closing this.

[2021-01-04 07:48] #161 closed

[2021-01-04 07:56] funilrys commented on #155
Do you have a firewall configured? I'm asking because it is one of the ways to get `ConnectionAbortedError: [Errno 113] Software caused connection abort`.

[2021-01-04 19:42] funilrys commented on #135
Just a side note, I just integrated the support for GitHub Actions. Feel free to follow https://github.com/PyFunceble/ci_test/blob/master/.github/workflows/main.yml for an example of how you can configure it.

[2021-01-05 04:40] spirillen commented on #162
:sob:

<details><summary>Very looong log output</summary>

[code]

</details>

[2021-01-05 04:50] spirillen commented on #162
Appendix to the above

I did forget to add the `--adblock` #161 to the args line....

2 runs before these got stocked with the `--local` while using our cdb

[2021-01-05 14:22] funilrys commented on #162
Considering this as successful. @\me if I'm wrong :wink:

[2021-01-06 21:02] funilrys commented on #134
Hello, World!
Hello @mitchellkrogza @DandelionSprout @ZeroDot1 @spirillen,

Just for information, we are now out of alpha. Please test it and let me know if something is wrong.

- Documentation (still ongoing) is now located at http://pyfunceble.readthedocs.io/en/dev.

- You can now download PyFunceble 4.0.0 (beta) through:

[code]

- The `4.0.0-dev` branch is now **stale** and will be removed nex

[2021-01-06 23:00] spirillen commented on #162
Since the DB test is still running from yesterday, i'll say it is :)

[2021-01-06 23:01] spirillen commented on #161
TEST: :heavy_check_mark:

[2021-01-06 23:04] spirillen commented on #165
Test: :heavy_check_mark:

Speed: Room for some improvements, but can easily be at my end as well. More test would be required to comment finally on this part of the topic.

Thanks for some cool coding :wave:

[2021-01-06 23:05] spirillen commented on #154
Seems fixed :heavy_check_mark:

[2021-01-06 23:06] spirillen commented on #135
Should be fixed with https://github.com/spirillen/PyFunceble/pull/25

[2021-01-06 23:08] spirillen commented on #157
@DandelionSprout can you confirm this have been solved?

[2021-01-06 23:16] spirillen commented on #147
Solved for me in two cases :heavy_check_mark:

[2021-01-06 23:24] spirillen commented on #142
I believe you can close this issue (for now) as I've moved the question to <https://github.com/funilrys/PyFunceble/discussions/168>

[2021-01-06 23:25] spirillen commented on #142
Ups, had forgotten <https://github.com/funilrys/PyFunceble/issues/142#issuecomment-750275863>

[2021-01-06 23:55] spirillen opened #171 "SpecialRule 24.eu (Needs confirmation)"
**Is your feature request related to a problem? Please describe.**
Add special rule for 24.eu with 503 as the marker for `INACTIVE`

[code]

![image](https://user-images.githubusercontent.com/44526987/103834160-fddcab00-5082-11eb-9ce8-888f90a4a358.png)

SelfAssign as need external test outbond the Proxy

The thirdlvl domain is tested from <https://www.mypdns.org/T1194> (GoodbyeAds Samsung Adblock)

[2021-01-07 00:04] spirillen opened #172 "If not syntax test, lowercase all domain path"
## Bug description
This is actually a VALID record

[code]

[code]

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

[code]
## Expected behavior
Let's see :smirk:

## Screenshots
![image](https://user-images.githubusercontent.com/44526987/103834551-02ee2a00-5084-11eb-8995-b320c05b3d06.png)

## Versions

**OS:** Ubuntu 20 + Conda
**Python Version:** 3.9.1
**PyFunceble Version:** py

[2021-01-07 00:30] funilrys commented on #172
The upper case is not accepted as VALID. But I think that converting to lowercase may help everybody including lists maintainers.

[2021-01-07 02:00] spirillen commented on #172
:laughing: Well spotted, I haven't noticed the upper `P` probably because I've got used to the default to lowercase handling :open_mouth:

[2021-01-07 12:48] DandelionSprout commented on #157
I can at the very least confirm that I have no problems with this after updating to 4.0.0b1.dev, using the same work-environment and dependencies as I used with success when writing https://github.com/funilrys/PyFunceble/issues/157#issuecomment-751294264

[2021-01-07 12:51] DandelionSprout commented on #155
Seems like this works without problems as of 4.0.0b1.dev. I'm not 100% sure how, but it does.

[2021-01-07 13:39] funilrys commented on #157
Awesome! Thanks for the feedback @DandelionSprout.

[2021-01-07 17:04] spirillen opened #173 "pip install -pre warning MarkUpSafe"
## Bug description
This is less a bug, than something we should keep in mind...

When install through `sudo -H python3.9 -m pip install -U --pre PyFunceble-dev` The following warning appears

[code]

AND :sob: this fellow have returned outside conda...

[code]

Even tried with `-I`

[code]

to force reinstall all subpackages and deleted the following from `$HOME/.config/PyFunceble`

[code]

![imag

[2021-01-07 17:05] spirillen commented on #173
This issue is in reply to <https://github.com/funilrys/PyFunceble/issues/134#issuecomment-755691141>

[2021-01-07 17:17] funilrys commented on #173
Yup, I noticed this while looking @mitchellkrogza's internal workflow after switching to 4.0.0.
I simply can't explain this. Installing `SQLAlchemy` (case sensitive) manually fixed it ... And I can't understand it.

[2021-01-07 17:22] funilrys commented on #173
Oh ! I think I get it. You are downloading:

[code]

Mhh I need to test that one.

[2021-01-07 17:29] spirillen commented on #173
Will look into this in 1 minutes, would just explain the `-I`

The `-I` (capital) When upgrading, reinstall all packages even if they are already up-to-date.

[code]

Ignores the installed packages (reinstalling instead).

[2021-01-07 17:31] spirillen commented on #173
Because we uses `--pre` then we get the beta of `SQLAlchemy` vs the stable release :stuck_out_tongue_closed_eyes:

[2021-01-07 17:33] funilrys commented on #173
The patch is on its way out 😄.

[2021-01-07 17:37] funilrys commented on #173
The patch is now out. It will be into `b2` which is under deployment.

GHA: https://github.com/funilrys/PyFunceble/actions/runs/469543082

[2021-01-07 17:45] spirillen commented on #173
and it made a conflict with <https://github.com/funilrys/PyFunceble/pull/174> :unamused:

[2021-01-07 17:46] funilrys commented on #173
How can a single commit create a conflict !? I thought you were just into the docs 😂  I will try to look into that while reviewing your patch.

[2021-01-07 17:56] funilrys commented on #173
Update: There was a problem because of an error in the format of the README.

New GHA for the deployment of `b2`: https://github.com/funilrys/PyFunceble/actions/runs/469586032

[2021-01-07 18:09] funilrys commented on #173
`b2` available to the world. Closing.

[2021-01-07 18:09] #173 closed

[2021-01-07 18:53] spirillen commented on #171
Ran the test from hetzner.de network, same results (503)

[code]

If other can confirm this, i'll move forward to add this into the special rules

[2021-01-07 21:04] funilrys commented on #171
Waiting for confirmation from people that are not me before adding this into one milestone.

[2021-01-07 21:40] funilrys commented on #172
Into `b3` which is under deployment.

GHA: https://github.com/funilrys/PyFunceble/actions/runs/470055186

[2021-01-07 21:40] #172 closed

[2021-01-08 01:45] ZeroDot1 commented on #147
Hi @funilrys I just installed the latest DEV version from the AUR, unfortunately the error still occurs.
All required packages were completely uninstalled and then reinstalled.

`yay -S domain2idna python-alembic python-box python-colorama python-cryptography python-distribute python-dnspython python-dotenv python-inflection python-msgpack python-pyaml python-pymysql python-requests python-ruamel-

[2021-01-08 01:53] ZeroDot1 commented on #147
[code]

[2021-01-08 11:37] ZeroDot1 commented on #134
My test was unfortunately ended very quickly see:  https://github.com/funilrys/PyFunceble/issues/147#issuecomment-756494340

[2021-01-08 19:33] spirillen commented on #147
The box module sure makes some noise...

What does this command gives you?

[code]

[2021-01-08 19:36] funilrys commented on #147
I updated the `python-box` and `domain2idna` which I maintain in the AUR.

Unfortunately, the following package is not matching the PyPi version.

community/python-dnspython 1:1.16.0-3 [installiert]
    A DNS toolkit for Python

It should be >=2.0.0.

I will have to write to the mailing list to ask for the status of that package 😞.

[2021-01-08 19:37] funilrys commented on #147
* Sorry for the waiting time, had a very long day.

[2021-01-08 19:48] spirillen commented on #172
Test results: :heavy_check_mark:

[2021-01-08 21:41] funilrys commented on #147
This won't be easy because using dnspython 1.6 means no DOT or DOH.

It won't be updated until some other issues are fixed as per https://bugs.archlinux.org/task/68546.

Is `python-dnspython-git` (AUR) working on your machine?

[2021-01-08 22:03] ZeroDot1 commented on #147
OK, I have now installed the updates, now new errors occur.

python-box  5.2.0-0 & domain2idna 1.12.0-2

[code]

python-dnspython  1:1.16.0-3 -> python-dnspython-git v2.1.0.r2.9d435c1-1

[code]

[2021-01-08 22:05] ZeroDot1 commented on #147
No problem, take your time. Rome was not built in a day.

[2021-01-08 22:24] funilrys commented on #147
@spirillen, is working on the docs right now. Until his work is merged here you can see what was deprecated at https://github.com/spirillen/PyFunceble/blob/4.x-patch/docs/usage/deprecated-variables.rst

[2021-01-08 22:28] funilrys commented on #147
In your case @ZeroDot1, it will be `pyfunceble -w 4 -a --syntax -f All.txt`

Note: there is actually no WHOIS lookup in place if you use the `--syntax` argument. But the `--no-whois` has been replaced with `--whois-lookup` (a switch of the default value of the configuration.

[2021-01-09 11:21] ZeroDot1 commented on #134
Hi @funilrys Please don't forget to update the checksums in the AUR.
![Bildschirmfoto vom 2021-01-09 12-21-01](https://user-images.githubusercontent.com/28985171/104090197-304dfa00-5275-11eb-83bb-b906bc1403ab.png)

[2021-01-09 11:23] ZeroDot1 commented on #147
OK, I'll take a look at it as soon as I can.

[2021-01-09 13:11] ZeroDot1 commented on #134
OK, I have now run this for over 1 hour, there is no change, 1 CPU core is permanently 100% used, and there are no files in the output folder.

![Bildschirmfoto vom 2021-01-09 13-15-21](https://user-images.githubusercontent.com/28985171/104092416-1a940100-5284-11eb-9157-ab49c7d5c254.png)

[2021-01-09 13:19] funilrys commented on #134
[code]

It's working here 🤔

[2021-01-09 13:22] funilrys commented on #134
That's normal. It is still converting the format from json2csv. That job takes a bit of time but once done you will never meet that again.

About the single CPU in json2csv conversion, I have to convert sequentially (1CPU) because instead of loading the JSON file in memory and risk an out of memory error, I read all line of each file and then convert them to our new dataset layout.

[2021-01-09 13:23] ZeroDot1 commented on #134
The problem with the AUR package is solved, thank you.

[2021-01-09 13:31] funilrys commented on #134
If you really don't want it, simply remove those file from your configuration directory:

- `inactive_db.json`
- `whois_db.json` (Please don't do this)

[2021-01-09 13:49] spirillen opened #178 "Flip defaults for host vs plain (community question)"
## Community voting

**Describe the solution you'd like**
I would like to suggest the @pyfunceble community to give there oppion on flipping the default output format from `--h | --host` to `--plain`

### Why
Because the plain format as in this example, is way easier to handle for scripts as it is a "clean" data list, while the ort hosts format requires extra data processing before it can be used.

[2021-01-09 13:54] spirillen opened #179 "plain not generated"
## Bug description
`--plain`not generating any results files

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

`pyfunceble -f /tmp/gstatic.com --dns 91.239.100.100 89.233.43.71 -a --plain -dbr 0 --output-location /tmp/`

## Expected behavior
Generation of output for plain/domain list

`/tmp/output/gstatic.com/domain/$status/`

## Screenshots

![image](https://user-images.githubuse

[2021-01-09 14:04] funilrys commented on #179
As per https://github.com/funilrys/PyFunceble/blob/2b12f88e69d549e52de681c1fd490c6f4c54ec04/PyFunceble/data/infrastructure/.PyFunceble_production.yaml#L172

`plain` is activated by default, meaning that `--plain` negates it.

In practice what is done (extremely simplified):

[code]

[2021-01-09 14:04] #179 closed

[2021-01-09 14:48] spirillen commented on #146
Still FP's

`events.data.msn.cn`

See <https://github.com/MrWaste/Ad-BlockList-2019-08-31/issues/1>

Source file: <https://github.com/MrWaste/Ad-BlockList-2019-08-31/blob/master/Pi-Hole%20BackUps/Black%20List/All%20Server%20Black%20List>

[code]

[2021-01-09 14:49] spirillen commented on #179
Oki.... I'll change that in the docs

<https://pyfunceble.readthedocs.io/en/dev/usage/index.html#plain>

[2021-01-09 15:01] funilrys commented on #179
Is the default value not okay for you ? We can discuss that 🤔

[2021-01-09 15:03] spirillen opened #180 "SQL New DB fails"
## Bug description
[code]

## Reproduction

Steps to reproduce the behavior:
1. empty DB
2. Run with `--database-type mariadb`
4. See error

## Expected behavior
:thinking:

## Screenshots

![image](https://user-images.githubusercontent.com/44526987/104094888-fa6c3e00-5293-11eb-8882-fa301de630be.png)

## Versions

**OS:** Ubuntu 20.04 (minus) conda
**Python Version:** 3.9
**PyFunceble Version:** 4

[2021-01-09 15:16] ZeroDot1 commented on #134
OK, that would have taken forever, my inactive_db.json had a size of 525MB.
I just deleted the inactive_db.json and restarted the whole process, now it runs.

[2021-01-09 15:25] ZeroDot1 commented on #178
That makes sense.

[2021-01-09 15:46] spirillen commented on #134
Well it took roughly 10 hours to convert the DB with about 265.000 records :clock10:

For the file conversion, the slowest part is probably the disk...

[2021-01-09 15:53] #146 closed

[2021-01-09 15:57] funilrys commented on #134
@spirillen, have you documented https://github.com/funilrys/PyFunceble/issues/134#issuecomment-757191648 ? 🤔

[2021-01-09 16:05] spirillen commented on #134
Nope, not yet.

Will throw it in the todo list.... <https://github.com/spirillen/PyFunceble/issues/30>

[2021-01-09 16:12] spirillen commented on #146
Once the DB is moved to `cdb.matrix.rocks` I'll repeat the test

[2021-01-09 16:46] funilrys commented on #146
Still not released because of a failing test: https://github.com/funilrys/PyFunceble/actions/runs/474248118

[2021-01-09 16:46] funilrys commented on #146
The patch is on its way.

[2021-01-09 17:43] spirillen commented on #146
The DB is a slow learner, so no rush :nail_care: :tropical_drink:

[2021-01-09 17:49] ZeroDot1 commented on #134
OK, after a few hours an error occurred and the testing process was stopped.

`Fatal Error: fromisoformat: argument must be str`

[2021-01-09 17:51] funilrys opened #181 "Fatal Error: fromisoformat: argument must be str"
OK, after a few hours an error occurred and the testing process was stopped.

`Fatal Error: fromisoformat: argument must be str`

![Bildschirmfoto vom 2021-01-09 18-49-18](https://user-images.githubusercontent.com/28985171/104104955-6e661080-52ab-11eb-8770-bdd48dd4d38e.png)

_Originally posted by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/134#issuecomment-757342046_

[2021-01-09 20:50] spirillen commented on #181
@ZeroDot1 can you remember which test args and file you was using??

Was it `pyfunceble -w 4 -a --syntax -f All.txt` from <https://github.com/funilrys/PyFunceble/issues/134#issuecomment-757172892>

IF == True can I access the `All.txt` somewhere?

[2021-01-09 21:27] ZeroDot1 commented on #181
`pyfunceble -w 4 -a --syntax -f All.txt`

That was exactly the command I used, I can't make the file available to you because it is currently internal, but the error occurred while checking the follow URLs.

[code]
The All.txt file contains 115500+ entries.

[2021-01-09 21:36] spirillen commented on #181
That's nothing :smiley: it's only a small footnote compared to some of those i tests.....

  - https://github.com/dns-test/porn.host.rpz (1.500.000)
  - https://github.com/dns-test/rpz.mypdns.cloud (650.000)

There is a reason I keep saying speedup :smirk:

[2021-01-09 21:36] ZeroDot1 commented on #181
If needed, you can find additional information about the IOCs via [Pulsedive](http://pulsedive.com/purchase/pro).

https://pulsedive.com/indicator/?iid=13004843
https://pulsedive.com/indicator/?iid=13004849
https://pulsedive.com/indicator/?iid=13004847
https://pulsedive.com/indicator/?iid=13004848

[2021-01-09 21:53] ZeroDot1 commented on #181
Hm, when I check this two times I get only 3 results the first time.
![Bildschirmfoto vom 2021-01-09 22-51-56](https://user-images.githubusercontent.com/28985171/104109374-7171f880-52cd-11eb-89cb-5053aca9d6a2.png)

[2021-01-09 22:08] ZeroDot1 commented on #178
OK, I looked at it again, that makes sense, because it would save a very good amount of time, which can be very important in some scenarios.

[2021-01-09 22:16] spirillen commented on #181
@ZeroDot1 what are your relation / usage of that site? At first review it looks a lot like what we are trying to build matrix.rocks into... but with own source-files test capability

[2021-01-09 22:26] #181 closed

[2021-01-10 08:33] funilrys opened #183 "Not everything is getting tested systematically while testing for single entries (not files)"
Hm, when I check this two times I get only 3 results the first time.
![Bildschirmfoto vom 2021-01-09 22-51-56](https://user-images.githubusercontent.com/28985171/104109374-7171f880-52cd-11eb-89cb-5053aca9d6a2.png)

_Originally posted by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/181#issuecomment-757372823_

[2021-01-10 11:25] ZeroDot1 commented on #183
OK, after another run with different URLs I can confirm the problem, it always occurs completely randomly.
No difference on what URLs you check.

[2021-01-10 12:52] funilrys commented on #180
I literally have no way to reproduce this 🤔  Is it MariaDB or MySQL?

[2021-01-10 13:19] spirillen commented on #183
I actually had the same issue first time i tested the 4 urls yesterday :unamused:

[2021-01-10 13:22] spirillen commented on #180
I believe it's mysql....

keybase://chat/funilrys,spirillen/2581

If you can't setup one true keybase://chat/funilrys,spirillen/2580 let me know and I setup a fresh one for you

[2021-01-10 14:37] #183 closed

[2021-01-10 14:38] ZeroDot1 commented on #134
PyFunceble is running since a while (5,5H) now, it is very slow. To use plain as default see: https://github.com/funilrys/PyFunceble/issues/178 Makes sense when testing very large lists.

[2021-01-10 14:44] ZeroDot1 commented on #183
@funilrys Thanks for fixing the bug, I will test everything as soon as possible.

[2021-01-10 16:16] spirillen opened #184 "no_special vs --special-lookup"
Since v4.x the syntax have changed for special rules.

[code]

But in the `.PyFunceble_production.yaml` they are still called by `no_special` this seems unlogick. At best I'll suggest it stays for backward capability but it's equivalent will find it's way into the yaml: `special-lookup`

https://github.com/funilrys/PyFunceble/blob/c8bca124c40858fd3586145a129c5c2f1c9a962e/.PyFunceble_production.yam

[2021-01-10 16:17] spirillen commented on #184
Doc relation:
  - [ ] https://github.com/spirillen/PyFunceble/issues/33
  - [ ] https://github.com/spirillen/PyFunceble/issues/33

[2021-01-10 16:23] funilrys commented on #184
@spirillen you are referencing the wrong file. That file in the root of the project is still in there because we want the older version to still work.
Since `4.0.0a1` it is in there: https://github.com/funilrys/PyFunceble/blob/0d5e5450473aff6712277d8dd0bbc240e2f953f1/PyFunceble/data/infrastructure/.PyFunceble_production.yaml#L194

[2021-01-10 16:28] funilrys commented on #184
The difference (technically): The new version is delivered with the PyPI package (itself).

Meaning that it is bound to the deployed version. Also meaning that we don't need to download them, they are delivered with your `pip install` 😄.

Finally, there is obviously no need to download the latest configuration from here (since `4.0.0a1`). So no more break or issues after each push out here.

[2021-01-10 16:33] spirillen commented on #184
Super... I'll fic it up in the docs... Working on https://github.com/spirillen/PyFunceble/issues/24 right now :smiley:

[2021-01-10 16:34] #184 closed

[2021-01-10 17:23] spirillen opened #185 "Special rule: www.example.org & m.example.org redirects to example.org"
**Is your feature request related to a problem? Please describe.**
There are no such thing as `^(www|m)\..*\.tumblr\.com$`

  - [X] Check response status for these cases, in the past they responded 200

**Describe the solution you'd like**
Wee should append a `302` rule

[code]

**Describe alternatives you've considered**
Even better would be

[code]

**Additional context**
Add any other context o

[2021-01-10 20:38] ZeroDot1 commented on #134
Hi @funilrys OK, now it's been running for over 16 hours (including the 4.5 hours from yesterday).
This makes it very clear for me that PyFunceble is not usable for productive use.
PyFunceble needs to become significantly faster, a simple syntax check should not and cannot take so much time.

[2021-01-10 23:13] spirillen opened #187 "orm (PyFunceble_dev-4.0.0b7-py3-none-any.whl)"
## Bug description
<details><summary>Long log</summary>

pip install -UI --pre pyfunceble-dev
Collecting pyfunceble-dev
  Downloading PyFunceble_dev-4.0.0b7-py3-none-any.whl (459 kB)
     |████████████████████████████████| 459 kB 3.4 MB/s
Collecting dnspython[doh]>=2.0.0
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 21.3 MB/s
Collecting doma

[2021-01-11 14:17] mitchellkrogza commented on #164
I give this a big +1

[2021-01-11 14:54] #187 closed

[2021-01-11 16:54] ZeroDot1 commented on #134
`--auto-continue` needs a lot of time until the syntax check is continued.

Default setting in the configuration file not changed.

[2021-01-11 19:25] spirillen commented on #134
So by setting `autocontinue: False` you get some descent speed on `--syntax`?

[2021-01-11 19:38] ZeroDot1 commented on #134
@spirillen @funilrys When I set --auto-continue to false it runs like a rocket with the speed of light.

[2021-01-11 19:40] spirillen commented on #134
Can confirm that.... it's tremendous speed enhangement actually, even against the DB

[2021-01-11 19:40] ZeroDot1 commented on #134
Addition, as soon as the entire list is processed it hangs again.

[2021-01-11 19:42] spirillen opened #188 "unset autocontinue for syntax"
## Bug description
Bug found by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/134#issuecomment-758083832

This means

[2021-01-11 19:45] spirillen commented on #188
Own Ref note

Have some relevance to <https://github.com/spirillen/PyFunceble/issues/29>

[2021-01-11 19:50] ZeroDot1 commented on #134
The syntax check needs only a few seconds if --auto-continue is set to false.
OK, Confirmed, after a second and third test the whole program hangs no completion message.
I think something is not working as it should.

![Uploading Bildschirmfoto vom 2021-01-11 20-46-24.png…]()

[2021-01-11 19:59] spirillen commented on #188
By setting `-c --syntax` You actually also more than halves the CPU load..... both tests includes `--database-type mariadb`

Without `-c`
![image](https://user-images.githubusercontent.com/44526987/104231774-b887f700-544f-11eb-9570-122bf664a96f.png)

With `-c`
![image](https://user-images.githubusercontent.com/44526987/104231894-de150080-544f-11eb-98be-af46f01ce2f1.png)

[2021-01-11 20:03] ZeroDot1 commented on #188
I got exactly the same results. :100:

[2021-01-11 21:01] spirillen commented on #188
<https://github.com/funilrys/PyFunceble/issues/134#issuecomment-758183890>

Hmm haven't got to the end with my [test.list](https://github.com/PyFunceble-Templates/pyfunceble-miniconda/blob/master/test.list) yet

[2021-01-11 21:12] spirillen opened #189 "SQL more than one match of WHOIS"
## Bug description
sqlalchemy.orm.exc.StaleDataError: UPDATE statement on table 'pyfunceble_whois_record' expected to update 1 row(s); 12 were matched.

Simply just merge them, as in this example it actually reasons of a broken import

![image](https://user-images.githubusercontent.com/44526987/104239030-23d6c680-545a-11eb-8896-4f27bf96423e.png)

[2021-01-11 21:20] spirillen commented on #189
While we are at the MariaDB

This happens on both MariaDB and MySql when I was exporting / importing
![image](https://user-images.githubusercontent.com/44526987/104239666-2b4a9f80-545b-11eb-92ed-bf4bc17c20a2.png)

![image](https://user-images.githubusercontent.com/44526987/104239687-37cef800-545b-11eb-8600-0989319bdfce.png)

![image](https://user-images.githubusercontent.com/44526987/104239714-3ef

[2021-01-11 21:43] spirillen commented on #188
`pyfunceble -f test.list --mining --complements --database-type mariadb --ex --wildcard --local -w 30`

![image](https://user-images.githubusercontent.com/44526987/104241649-4b2f9280-545e-11eb-908f-cbc768717ffe.png)

`pyfunceble -f test.list --mining --complements --database-type mariadb --ex --wildcard --local -w 30 -c`

![image](https://user-images.githubusercontent.com/44526987/104241684-5be008

[2021-01-12 18:04] ZeroDot1 commented on #188
I think an option should exist to do a syntax test without a database function.
This will be useful for many if you just need an error check.

[2021-01-12 19:11] spirillen commented on #188
If you do `pyfunceble --syntax -(u)f $SOURCE_FILE` it should not be touching your usual CSV (database) IF I recall it right, it just a use the CDB as default backend for everything (kepping it warm)

Maybe @funilrys can followup on that?

[2021-01-12 20:09] ZeroDot1 commented on #188
That's interesting, when I use `-uf` all URLs are sorted as invalid.

`pyfunceble -w 6 --plain -a --syntax -uf "FILE.txt"`

[2021-01-12 20:53] ZeroDot1 commented on #134
I may have found another bug.
When I run `pyfunceble -w 6 --plain -a --syntax -f "All.txt"` invalid URLs are not written to an extra file.

[2021-01-12 20:57] ZeroDot1 commented on #134
Addition, if I use --plain HOSTS should not be created.

[2021-01-12 21:09] funilrys commented on #188
@ZeroDot1 Please define "URLs".

- This is a domain: `example.org`
- This is an IPv4 `93.184.216.34`
- This is an IPv6 `2606:2800:220:1:248:1893:25c8:1946`
- This is a URL `http://example.org/?example=yes`
- This is another URL `https://example.org`
- This is another URL `ftp://ftp.example.org`

-------
To your question: User has the choice. If you want to disable any database while using the `--s

[2021-01-12 21:17] ZeroDot1 commented on #188
[code]

[2021-01-12 21:22] ZeroDot1 commented on #188
That's a good idea.

[2021-01-12 21:53] funilrys commented on #189
They actually have a default value. But not a server-side one. They are client-side. Meaning that if inserted by PyFunceble, such things (images) should not happen. Unless, when we played with it and I was not ready with the structure of the dataset.

Just put a default date of your choice in there. Those 2 `created_at` and `modified_at`, are just meant for humans and are not used by PyFunceble di

[2021-01-12 21:53] #189 closed

[2021-01-13 13:31] spirillen commented on #189
Will try that :+1:

Try keybase://chat/spirillen,funilrys/2581

[2021-01-13 13:42] spirillen commented on #134
Hey @ZeroDot1 this is because `you disabled the plain files output and only kept the hosts file. I went into the same pitfall my self. the thing is the generation of the DOMAIN (plain) [default is true](https://pyfunceble.readthedocs.io/en/dev/usage/index.html#plain) and I haven't noticed this.

https://github.com/funilrys/PyFunceble/blob/773e5f96746ddf779da2ee68c5b81f0fe212c08c/PyFunceble/data/in

[2021-01-13 14:19] spirillen commented on #188
That's actually a two headed coin you got there, it was my initial thought based on my answer (<https://github.com/funilrys/PyFunceble/issues/188#issuecomment-758874458>)

And the real answer most depend...
  1. What is the most common usage of `--syntax` without specifying the `--database-type`
  2. Should the `--database-type` actually be assigned by default?
    1. :thought_balloon: if I'm a us

[2021-01-13 14:43] spirillen commented on #188
On second thoughts, I most admit I have never given it any thoughts that the local csv (previously json) files was touched was running with the `--syntax` without specifying the db-type, I was/is only concerned about the `output` dir...

[2021-01-13 15:06] spirillen commented on #180
From github.com:funilrys/PyFunceble
   0d5e5450..773e5f96  dev        -> origin/dev
Updating 0d5e5450..773e5f96

virtual env, seems to work.

Test still running.

----------

Straight in Ubuntu, no virtual envs, this happens in less than a second.... :unamused: pythin and Ubuntu just don't like each other #39

**4.0.0b9.**

[code]

[2021-01-14 05:42] spirillen opened #190 "Hangs at end of test"
## Bug description
First reported by @ZeroDot1 in <https://github.com/funilrys/PyFunceble/issues/134#issuecomment-758178503>

Can confirm this on latest commit..., It have been hanging for 10 hours after last test...

![image](https://user-images.githubusercontent.com/44526987/104549508-4f60d900-5633-11eb-8254-2f45a923ecca.png)

[code]

[2021-01-14 05:47] spirillen commented on #190
Appendix.. almost latest... retesting with

git log
commit 773e5f96746ddf779da2ee68c5b81f0fe212c08c (HEAD -> dev, origin/dev)

[2021-01-14 18:45] ZeroDot1 commented on #134
@funilrys I'm doing a test run after deleting and recreating the entire configuration (except for Whois.CSV), so far it runs smoothly.
If errors occur, I'll get back to you.

[2021-01-14 21:09] ZeroDot1 commented on #190
Hi @funilrys After some more test runs, I can confirm the problem.

[2021-01-14 21:18] ZeroDot1 commented on #190
When I kill the process it displays the following message.

[code]

[2021-01-15 06:24] spirillen opened #191 "v4-dev ModuleNotFoundError: No module named 'importlib_resources'"
## Bug description
Fresh install of pyfunceble through git <https://pyfunceble.readthedocs.io/en/dev/installation/index.html>

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

<details><summary>Long log</summary>

[code]

</details>

## Expected behavior
Not nessecary

## Screenshots
Not needed, it's all in the log

## Versions

**OS:** Ubuntu 18.04 (Virtual image)
**Python Versio

[2021-01-15 06:30] spirillen commented on #191
If you uses `pip install pre-commit` you'll also need to install dataclasses as you'll see this message next `ModuleNotFoundError: No module named 'dataclasses'`

`pip3 install dataclasses`

[2021-01-15 06:41] spirillen opened #192 "object 'datetime.datetime' has no attribute 'fromisoformat'"
## Bug description
Started migration of the pyfunceble_file and pyfunceble_status tables.
Finished migration of the pyfunceble_file and pyfunceble_status tables.
Fatal Error: type object 'datetime.datetime' has no attribute 'fromisoformat'

## Modifications under `.PyFunceble.yaml`

See #191

[2021-01-15 07:30] spirillen commented on #192
+ https://github.com/funilrys/PyFunceble/issues/189

[2021-01-15 07:44] spirillen commented on #189
Still happens on mariadb

![image](https://user-images.githubusercontent.com/44526987/104695962-cec2db00-570d-11eb-9c24-570590ef4a9a.png)

[2021-01-15 09:31] spirillen commented on #188
[code]

VS

[code]

![image](https://user-images.githubusercontent.com/44526987/104694379-64a93680-570b-11eb-9ebb-15946778bb9a.png)

According to @ZeroDot1 found and my own tests on this issue, I most admit, my opinion is getting closer to entirely ditch this feature in favor of the `--dbr` <https://github.com/funilrys/PyFunceble/discussions/168> The thing is, the db (sql|csv) are keeping the time

[2021-01-15 09:31] spirillen commented on #189
From local db to [cdb.mypdns.org](https://www.mypdns.org/project/view/34/)

![image](https://user-images.githubusercontent.com/44526987/104696582-cb7c1f00-570e-11eb-8698-85eb82effd53.png)

See also: <https://github.com/funilrys/PyFunceble/issues/188#issuecomment-760780457>

[2021-01-15 09:36] spirillen commented on #189
Hmm https://github.com/funilrys/PyFunceble/issues/188#issuecomment-760780457

[code]

[2021-01-15 13:04] spirillen opened #194 ".PyFunceble.yaml dns server as array"
**Is your feature request related to a problem? Please describe.**
As the default config file is a yml file I would have expected some form of array possibility for listing several values.
In this case the DNS servers from <https://github.com/dns-test/script-hub/blob/master/dnsdist/downstream-server.lua> as there are plenty to spread the load on many, rather than beating the same few and having a

[2021-01-15 13:17] spirillen opened #195 "Fatal Error: 'NoneType' object has no attribute 'tested_at'"
## Bug description
See title :arrow_double_up:

## Modifications under `.PyFunceble.yaml`
[code]

A clear representation of what you changed.

## Reproduction
[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
![image](https://user-images.githubusercontent.com/44526987/104731572-2e37df80-573c-11eb-98f1-d81bb868d82b.png)
![image](https://use

[2021-01-15 13:20] spirillen commented on #195
A look at the db contents

![image](https://user-images.githubusercontent.com/44526987/104731923-b322f900-573c-11eb-8e92-14c5342379c4.png)
![image](https://user-images.githubusercontent.com/44526987/104731968-c766f600-573c-11eb-89f0-cf149c8af991.png)

[2021-01-15 13:24] spirillen commented on #195
And the weird part is, it's the exact same data and DB I've been testing with/against since this early morning

Ref:
  - https://github.com/funilrys/PyFunceble/issues/194
  - https://github.com/funilrys/PyFunceble/issues/192
  - https://github.com/funilrys/PyFunceble/issues/190
  - https://github.com/funilrys/PyFunceble/issues/188
  - https://github.com/funilrys/PyFunceble/issues/180
  - https://g

[2021-01-15 14:16] spirillen commented on #194
Found the solution.. no indent

Will add this to the docs

[2021-01-15 14:16] #194 closed

[2021-01-16 00:15] funilrys commented on #195
Next time please add the `--logging-level critical` so that it will log the full traceback into `output/*_loggging_/**`

[2021-01-16 00:18] funilrys commented on #195
Closing as I'm unable to start anywhere after checking all occurrences of `tested_at`.

 Please give me a Traceback or reopen if you have further information.

[2021-01-16 00:21] funilrys commented on #192
This is happening because it was introduced in Python 3.7. I'm going to drop 3.6 for our good sake.

I'm not willing to lose my time with 3.6.

[2021-01-16 00:24] funilrys commented on #191
Well, `dataclsses` is in 3.7 (built-in). But not in 3.6.

[2021-01-16 00:29] funilrys commented on #191
@spirillen Can you document that if people want to use it with Python 3.6, they need to install https://pypi.org/project/importlib-resources/ manually?

I'm not going to handle this manually. Dropping, 3.6 will be done later (probably next week) but not this night.

[2021-01-16 00:31] funilrys commented on #192
This is one will be good in the known issues I guess.

[2021-01-16 01:02] funilrys commented on #178
Just as a side note on this, in 3.x `hosts` file generation is activated by default, and `plain` file generation is disabled by default.

I'm willing to switch if others are okay with it.

[2021-01-16 01:08] funilrys commented on #190
Closing in the hope that my patch fixes this. Please feel free to @\me or reopen if it's not the case.

[2021-01-16 01:08] #190 closed

[2021-01-16 03:12] spirillen commented on #192
:+1:  will add it to the lsit of ToDo: <https://github.com/spirillen/PyFunceble/issues/38>

Another **_though_** to this.. :thought_balloon:  :thought_balloon:  :thought_balloon:  :thought_balloon:  :thought_balloon:

That will disarm the possibility to use default raspberry4 32bit OS....

Not even with conda you can go higher than 3.6 on raspberry for time being :unamused:

[2021-01-16 03:15] spirillen commented on #191
Added to the <https://github.com/spirillen/PyFunceble/issues/38> ToDo

[2021-01-16 03:52] spirillen commented on #195
`pip install -U --pre pyfunceble-dev` pyfunceble 4.0.0b9.dev (Blue Duckling)

![image](https://user-images.githubusercontent.com/44526987/104796449-9a572980-57b6-11eb-9eee-b439e431a641.png)

<details><summary>output/__pyfunceble_loggging__/critical.log</summary>
[code]

</details>

------

commit 365d13328ef2ee77e2c7e9c94edf5693c8c8153b (HEAD -> dev, origin/dev)
Author: funilrys <contact@funilrys.

[2021-01-16 08:52] spirillen commented on #195
Also in the build <https://github.com/funilrys/PyFunceble/runs/1712130659#step:6:72>

[2021-01-16 10:33] funilrys commented on #195
Yup, I went to bed after pushing 😄

[2021-01-16 10:35] funilrys commented on #195
Let's reopen.
This issue is all about:

[code]

[2021-01-16 11:32] #195 closed

[2021-01-16 14:05] #188 closed

[2021-01-16 22:13] ZeroDot1 commented on #134
Hi @funilrys,

Everything worked very well for me today and I released the [CoinBlockerLists](https://zerodot1.gitlab.io/CoinBlockerListsWeb/downloads.html) update.
See: https://gitlab.com/ZeroDot1/CoinBlockerLists/-/commit/58bd86449062ccb05fa1fe5bf821623a38fad73b?expanded=1
Thank you for your very good work it helps me a lot to move the CoinBlockerLists forward.
![Bildschirmfoto vom 2021-01-16 22

[2021-01-16 22:41] ZeroDot1 commented on #134
@funilrys

Possibly a #bug,

After a complete list has been checked and all files have been created, many entries in the output files are duplicated or even more often.

I noticed the problem because the output files were significantly larger than the input files.

[2021-01-17 04:04] spirillen opened #197 "preload disables the -f protocol://"
## Bug description
[code]

VS

[code]

[code]
## Modifications under `.PyFunceble.yaml`

[code]

## Reproduction

Steps to reproduce the behavior:
See description remote-location becomes local stored file

## Expected behavior
Hmm let's see...

## Screenshots
If applicable, add screenshots to help explain your problem.

## Versions

**OS:** Ubuntu 20.04 + virtualenv
**Python Version:** 3.9.1
**PyF

[2021-01-17 04:17] spirillen commented on #197
pyfunceble -f coinblocker.txt --dns 192.168.1.1 --http -c --preload (MariaDB)

As it preload very very slow, after about 10 minutes only 1123 records in `pyfunceble_continue`

[2021-01-17 17:16] #142 closed

[2021-01-17 17:18] spirillen commented on #191
/documented in b12f8ba

[2021-01-17 17:18] spirillen commented on #192
/documented in b12f8ba

[2021-01-17 18:05] spirillen commented on #135
- [x] In progress https://github.com/funilrys/PyFunceble/projects/7#card-51840757
  - [ ] Done https://github.com/funilrys/PyFunceble/projects/7#card-51840757

[2021-01-19 07:21] spirillen opened #198 "substitute referer with the right word referrer"
## Bug description
substitute `referer` with the right word `referrer` in all script, including

https://pyfunceble.funilrys.com/api/
https://pyfunceble.funilrys.com/api/no-referer

https://github.com/funilrys/PyFunceble/blob/95943e96a405fbe9403a72bc1623664539f9ea98/PyFunceble/data/infrastructure/.PyFunceble_production.yaml#L326

[2021-01-19 09:45] funilrys commented on #198
@spirillen, you have my OK for a new PR with that change.

[2021-01-19 10:25] spirillen commented on #63
/reopen for v4 same issue

[2021-01-19 10:30] spirillen commented on #44
Reopen for v4 Github Actions

examples for two workaround:
  - <https://github.com/mypdns/porn-records/blob/43042284215833a2b982ea0f755f196618932c3a/.github/workflows/main.yml#L79-L90>
  - <https://github.com/mypdns/porn-records/blob/43042284215833a2b982ea0f755f196618932c3a/.github/workflows/main.yml#L63-L65>
  - <https://github.com/PyFunceble/ci_test/blob/3ffb3f0950234fa3d5349520a6f12afb4425eaf0/

[2021-01-19 10:31] spirillen commented on #51
Could be fixed with conditional proxy <https://github.com/funilrys/PyFunceble/issues/132>

[2021-01-19 17:45] spirillen opened #200 "GHA -ci fatal: refusing to merge unrelated histories"
## Bug description
The error occur when you are running on a sub-branch of master

## Modifications under `.PyFunceble.yaml`

<https://github.com/mypdns/porn-records/blob/master/.pyfunceble/.PyFunceble.yaml>

## Reproduction
<https://github.com/mypdns/porn-records/blob/master/.github/workflows/main.yml>

<https://github.com/mypdns/porn-records/actions?query=workflow%3A%22PyFunceble+CI+tests%22>

#

[2021-01-19 17:47] spirillen commented on #200
Appendix, :thought_balloon: Is it possible to have PyFunceble signing with the GPG key? it of curse missing the private part...

[2021-01-19 17:52] spirillen commented on #50
I think this one should have been closed with https://github.com/spirillen/PyFunceble/issues/19 & https://github.com/funilrys/PyFunceble/pull/176

[2021-01-19 17:57] spirillen commented on #150
I think we can close this one, as the docs is written and the test full CiDR individually have it's own issue

[2021-01-19 19:54] spirillen opened #201 "CI ensure files uses LF"
## Bug description
[code]

## Modifications under `.PyFunceble.yaml`

Not relevant

## Reproduction
Run any CI, haven't check with local only versiosns

## Expected behavior

All files encoded in UTF-8 with LF unless other specified as in example [.gitattributes](https://github.com/mypdns/porn-records/blob/master/.gitattributes)

[2021-01-19 20:00] spirillen opened #202 "-ci --preload not committing"
## Bug description
In case `--preload` did not finish within the `--autosave-minutes  x minutes` build completes without committing to branch, hence upload to ticker next build cycles.

Example within GHA <https://github.com/mypdns/porn-records/runs/1729751401?check_suite_focus=true>

[2021-01-20 07:34] spirillen opened #203 "Output/status/list more than dubble the records"
@funilrys

Possibly a #bug,

After a complete list has been checked and all files have been created, many entries in the output files are duplicated or even more often.

I noticed the problem because the output files were significantly larger than the input files.

_Originally posted by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/134#issuecomment-761691545_

------

## Confirmed
I c

[2021-01-20 18:13] ZeroDot1 commented on #134
Hi @funilrys A new bug, some invalid (incorrect TLD) URLs were not detected.

For examples see the following link: https://gitlab.com/ZeroDot1/CoinBlockerLists/-/commit/6a934f6ab4ba188c3f28c575c9c4d5304fc6c7f7

[2021-01-20 18:18] spirillen opened #204 "Bug, some invalid (incorrect TLD) URLs were not detected."
Hi @funilrys A new bug, some invalid (incorrect TLD) URLs were not detected.

For examples see the following link: https://gitlab.com/ZeroDot1/CoinBlockerLists/-/commit/6a934f6ab4ba188c3f28c575c9c4d5304fc6c7f7

_Originally posted by @ZeroDot1 in https://github.com/funilrys/PyFunceble/issues/134#issuecomment-763836312_

These are valid TLD's

[code]

but I admit info**s** isn't :smiley:

[2021-01-20 18:34] ZeroDot1 commented on #204
Here is a list of inavlid URLs/TLDs:

[code]

[2021-01-20 20:27] spirillen opened #205 "end_commit_message: not applied on final commit"
## Bug description
end_commit_message: not applied on final commit

## Modifications under `.PyFunceble.yaml`

<https://github.com/mypdns/porn-records/blob/4892534293e519cd777c9749b120477b859281a7/.pyfunceble/.PyFunceble.yaml>

## Reproduction

<https://github.com/mypdns/porn-records/blob/4892534293e519cd777c9749b120477b859281a7/.github/workflows/main.yml>

[code]

## Expected behavior
To see the

[2021-01-20 20:28] spirillen commented on #204
Super thanks for the follow up :+1:

[2021-01-20 20:40] spirillen commented on #204
`ac` is a valid TLD <https://github.com/mypdns/tld/blob/c9bb295c9d8e7e7cad374acabafb1d9c97ae541c/tld.list#L11>
`be` is a valid TLD <https://github.com/mypdns/tld/blob/c9bb295c9d8e7e7cad374acabafb1d9c97ae541c/tld.list#L122>
`bi` is a valid TLD <https://github.com/mypdns/tld/blob/c9bb295c9d8e7e7cad374acabafb1d9c97ae541c/tld.list#L135>
`do` is a valid TLD <https://github.com/mypdns/tld/blob/c9bb295c9

[2021-01-20 21:02] funilrys commented on #204
Are we talking about the same thing?

[code]

[2021-01-20 21:03] #204 closed

[2021-01-20 21:03] funilrys commented on #204
Closing as I couldn't reproduce. Feel free to add more context and reopen.

[2021-01-20 21:05] funilrys commented on #204
For the record, PyFunceble uses https://www.iana.org/domains/root/db.

[2021-01-21 01:21] spirillen commented on #204
/reopen

No @ZeroDot1 talking about 2 things
  1. A number of TLDøs he concidered wrong
  2. That there actually is errors in the handling of the TLD in his result `cookiescript.infos #tld`

There are no TLD .info**s**

[2021-01-21 01:37] ZeroDot1 commented on #204
Everything is completely wrong. The point is that incomplete TLDs cannot be separated from complete ones.
e.g. freecontent.st (.ST) exists, but this is invalid for the domain (freecontent.stream), .stream is the correct TLD for the domain.

[2021-01-21 01:50] ZeroDot1 commented on #204
Additional screenshot to show the whole thing better.
![Bildschirmfoto vom 2021-01-21 02-48-52](https://user-images.githubusercontent.com/28985171/105268945-5d62ac80-5b93-11eb-8b61-56eec413dc1b.png)

[2021-01-21 01:58] ZeroDot1 commented on #204
I recommend to include an extra step e.g. `--syntx --tldcheck` to be able to check the correctness of the TLD also separately from a quick syntax check.
Sort a fastmode and a detailmode.

[2021-01-21 11:01] spirillen commented on #204
<details><summary>Just a note for other, that urlscan.io is unsafe.... (track- spyware infected)</summary>

| | | | | | | |
|:--- |:--- |:--- |:--- |:--- |:--- |:--- |
| +18 | `##[href^="https://twitter.com"]` |  | urlscan.io |  | dom | `https://urlscan.io/result/scan/` |
| +18 | ##.sc--twitter |  | urlscan.io |  | dom | `https://urlscan.io/result/scan/` |
| +18 | no-remote-fonts: * true | -- | ur

[2021-01-22 22:34] spirillen commented on #200
I have giving it a few thought, but I think I would request that we make PyFunceble able to rebase before commit, to avoid wasting good CI time, as it otherwise will drop all test results from a run, if you commit anything to the repo while a CI test is running.

[2021-01-24 14:46] spirillen opened #206 "--rpz Fatal Error: <value> should not be empty."
## Bug description
[code]

## Modifications under `.PyFunceble.yaml`

doesn't matter...

## Reproduction

Steps to reproduce the behavior:
pyfunceble -f test_data/rpz.mypdns.cloud.list --rpz -ex --logging-level critical

https://github.com/dns-test/rpz.mypdns.cloud/actions

## Expected behavior
:thinking:

## Screenshots
ot this time

## Versions

**OS:** for example Arch Linux (5.0.5-arch1-1-ARCH

[2021-01-24 15:35] spirillen opened #207 ".PyFunceble_production.yaml not updated in GHA"
## Bug description
It seems like `.PyFunceble_production.yaml` doesn't get updated as expected.. if test branch other than master

Same, commits are not pushed to test branch, but running purely on master branch seems to work...
  <https://github.com/dns-test/rpz.mypdns.cloud/commit/fe559fe60b6b561babc78113e6b299aa4a8b21df>

[code]

## Modifications under `.PyFunceble.yaml`

https://github.com/dns

[2021-01-24 15:43] spirillen commented on #207
[code]

[2021-01-26 17:18] spirillen opened #208 "SQL interaction"
**Is your feature request related to a problem? Please describe.**
The way the SQL tables and the usage of those tables, really need some works

**Describe the solution you'd like**
Mentioned plenty of times before

If we take a peak at three GHA runs with the mariadb backend (cdb.matrix.rocks) will see that in a 45 mins cycle only 3-8 domains actually are tested

[code]

From: (same order)

https

[2021-01-26 21:11] funilrys commented on #205
Well, @dead-hosts use the CLI (indirectly) and I can't see this issue 🤔 What am I missing?

Note: [ci_test](https://github.com/PyFunceble/ci_test) too is working 🤔

[2021-01-26 22:05] #180 closed

[2021-01-26 22:44] #203 closed

[2021-01-26 22:44] #197 closed

[2021-01-26 22:44] #200 closed

[2021-01-26 22:45] #201 closed

[2021-01-26 22:47] #150 closed

[2021-01-26 22:48] #50 closed

[2021-01-26 22:48] #121 closed

[2021-01-26 22:54] funilrys commented on #63
Uhh actually 🤔 This line should fix it: https://github.com/funilrys/PyFunceble/blame/b18b220d283b4cfdcb92eb70cdb1f3d37d2f9b61/PyFunceble/cli/processes/workers/file_sorter.py#L212

[2021-01-26 22:54] #63 closed

[2021-01-26 23:13] spirillen commented on #63
Will follow up tomorrow, leaving as unread, you get a screenshot on keybase in 1 sec

[2021-01-26 23:43] spirillen commented on #205
I think you are missing that the -ci-minutes in this case is 45m, so when it would do the `git commit -m` the message should be the final commit message, not the auto-continue message as in this particular case

[2021-01-27 15:30] AvinashReddy3108 opened #209 ""IndexError: list index out of range" on clean install."
## Bug description
A clear and concise description of what the bug is.
[code]

## Modifications under `.PyFunceble.yaml`
[code]

A clear representation of what you changed.

[code]

## Reproduction

Steps to reproduce the behavior:
1. `pip install pyfunceble` (or `pyfunceble-dev`)
2. Run `pyfunceble -h`.
4. See error

## Expected behavior
A clear and concise description of what you expected to hap

[2021-01-27 15:50] spirillen commented on #209
Pyfunceble v3.3.3.dev is known to have these issues, in fact all versions between 3.2.0 (stable) to 3.3.7-dev are troubled, however Pyfunceble 3.3.2 & 3.3.37-dev are both running stable under a virtual env like Conda #39

In case you have just been installing with `python3.x -m pip install pyfunceble(-dev)` you should clean your pip cache

you can also use the `--no-cache` parameter to ensure you

[2021-01-27 17:43] funilrys commented on #209
I don't like to touch that 3.x thing, but I'll write some retro compatibility patches so that it keeps working until 4.0.0 takes over.

[2021-01-27 18:03] spirillen commented on #209
I will say it should be necessary to write mote fixes for that, you can just merge the 3.3.7 dev into the stable, and then we make a notification about it probably will require a virtual environment like conde to be running as expected. Since the 3.3.7-dev is rather stable under Conda and python2 virtualenv /python3 venv

[2021-01-27 22:47] spirillen opened #211 "[EOL] for PyFunceble Version 3.x"
# EOL of any version 3.x

Development of Pyfunceble version 3.x have reached the End Of Life.
This means any errors recurring in any version below Pyfunceble version 4.0.0 will no longer be fixed, but we will still be here to help you with a number of workarounds that might be required to have these releases working for you, until the final stable release of Pyfunceble version 4.0.0.

-------

If

[2021-01-27 23:31] funilrys commented on #209
@AvinashReddy3108, thank you for reporting. It's late here in Berlin Time, but the patch is into the dev branch as `PyFunceble-dev==3.3.8`.

I'll deploy to the stable later today as it is Midnight ++ here right now.

Time for me to sleep.

[2021-01-28 00:04] spirillen commented on #209
2 things I stumbled upon

1. You have probably tried to use the `pyfunceble -h` to print the help, however, the `-h` is for switching the hosts files generation output on|off. You'll need to use the full length version `--help`
2. The full command line to use for installing is:
    1. `$ pip3 install -U --no-cache -I --user pyfunceble-dev==3.3.8` OR
    2. `$ python3.9 -m pip install -U --no-cache

[2021-01-28 01:47] AvinashReddy3108 commented on #209
I removed all installed versions of PyFunceble from the virtualenv and installed the `-dev 3.3.8`
[code]

Is it OK that it asks me to update it, on a `-dev` branch?
[code]

[2021-01-28 13:25] spirillen commented on #209
Hi @AvinashReddy3108 about the:

[code]

I'll say it's OK, with the consideration, that we do not plan to tush the code any further. On the other hand, you are right it's a bit early in the light of the 4.0.0 is still in beta.

My personal opinion is I'm OK with this as the 4.0.0.b17 is stable enough for most use cases.

Here is a couple of examples of running PyFuncebles: https://github.com/dns-t

[2021-01-28 17:52] funilrys commented on #209
Hi @spirillen @AvinashReddy3108,

You are right. A beta version shouldn't mark the currently installed version as deprecated.

It should be fixed with the next 3.x-dev version.

[2021-01-28 23:08] #209 closed

[2021-01-28 23:25] funilrys opened #212 "[INFO] EOL of PyFunceble 3.x"
The development of PyFunceble 3.x will soon reach its End Of Life (OEL). This means that in the exception of some recurring error that impeaches the execution of PyFunceble, it will no longer get any new patch and bug fix.

But, that doesn't mean that you are not allowed to report issues regarding `3.x`.
I (among others) am still going to be there to help you with a number of workarounds regarding

[2021-01-28 23:25] #211 closed

[2021-01-28 23:25] funilrys commented on #211
Superset by #212.

[2021-01-29 19:07] spirillen opened #213 "pyfunceble_CONFIG_DIR"
## Bug description
The global variables like `pyfunceble_CONFIG_DIR` is not picked of from bash scripts

[code]

[code]

## Modifications under `.PyFunceble.yaml`

<https://github.com/dns-test/EasyList/blob/a38953a4ff4cdcf9faade1edfb7eed6d2a0933bb/.pyfunceble/.PyFunceble.yaml>

## Expected behavior
I would expect pyfunceble picked up the modifications of `.pyfunceble/.PyFunceble.yaml` and therefor

[2021-01-29 21:29] funilrys commented on #213
I won't play with all variations. Please update your variable to be in UPPER CASE.

[2021-01-29 21:29] #213 closed

[2021-01-30 12:22] rusty-snake opened #214 "404: README.rst: Please report to the documentation for more GIF."
The README.rst (master) has a 404 link in section https://github.com/funilrys/PyFunceble#what-can-pyfunceble-do (just above https://github.com/funilrys/PyFunceble#supporting-the-project).

[code]

[code]

[2021-01-30 14:53] #155 closed

[2021-01-30 14:55] funilrys commented on #178
Just another side note on this, since `4.0.0a1` both `hosts` and `plain` are activated by default.
So if I understand this thread correctly, you want the `plain` to be the only activated one. Is that what you want @spirillen @ZeroDot1?

[2021-01-30 14:57] funilrys commented on #214
Thanks for reporting @rusty-snake. I thought I deleted that section a long time ago.

As of now - and in the future, GIF's/video of PyFunceble running will be available at: http://pyfunceble.github.io/.

But it's true, we need to fix this. It will be done.

[2021-01-30 15:16] funilrys commented on #207
Just a clarification @spirillen, are you talking about `.PyFunceble.yaml`?

I'm asking because `.PyFunceble_production.yaml` is not updated nor needed anymore.

[2021-01-30 15:42] funilrys commented on #206
Just for the clarification @spirillen, was the `test_data/rpz.mypdns.cloud.list` file different at that time?

[2021-01-30 16:15] funilrys commented on #208
Isn't this why we now have the preload thing @spirillen ?

[2021-01-30 16:28] funilrys commented on #205
Just to clarify @spirillen, after 45 minutes (in your example), the `commit_message` is used if the test of the file is not complete (yet). And the `end_commit_message` only at the real end of the test - when it's complete.

What am I missing here?

[2021-01-30 17:08] #214 closed

[2021-01-31 10:22] #207 closed

[2021-01-31 10:22] #206 closed

[2021-01-31 10:22] #202 closed

[2021-02-01 12:35] spirillen commented on #155
Hey @Yuki2718 Is this one still an issue https://github.com/funilrys/PyFunceble/issues/155#issuecomment-751323033

![Image](https://user-images.githubusercontent.com/58900598/103146422-6dea5780-478c-11eb-8184-c70b3a3d910f.png)

If so, I think I would suggest to put it into it's own issue, as I don't see why you shouldn't be allowed to run a full sized scan as well...

[2021-02-01 12:39] spirillen commented on #206
There have been some removals, as entries have been moved to the right locations as adware/tracking etc. but we are only talking about 5-800 records in total as they have been wildcarded and therefor lowered to 2 records :100: (the zone holds about 630-650.000 records) So the changes are insignificant.

[2021-02-01 12:48] spirillen commented on #207
I'll get back to this one, as I for this moment don't recall the entire situation...

[2021-02-01 12:52] spirillen commented on #178
Si, senore... As also mentioned in another thread, I just noticed this later. That `--plain` was set to default `True`

Yes, I think we should set `host: False`, so that the few users that actually want a hosts file as results can activate it. Personally I prefer the `plain` alone as it is way eassier to reuse in situations like scripts.

[2021-02-01 12:54] spirillen commented on #208
And when was it #202 w might have been fixed :tongue: I'll give it a spin later, are you kind to add this one to the retest project?

[2021-02-01 13:05] spirillen commented on #205
As you write it your self... If we looks at the results, the actually execution time  before end is about 5 minutes, which to me is a indicator that PyFunceble have finished the test. **_There are no more to test, we are done_**.  Agreed?? As so, I would expect the `end_commit_message` message.

While if the test had been running for the full 45 minutes, then I will expect the `commit_message` to

[2021-02-01 14:21] spirillen commented on #213
I'm going to link these two issues: https://github.com/funilrys/PyFunceble/issues/207

The thing is, it looks like `.PyFunceble.yaml` in the `PYFUNCEBLE_CONFIG_DIR(=|:)` isn't picked up at all Try to have a look at https://github.com/dns-test/rpz.mypdns.cloud/actions/runs/527891765 There is the https://github.com/dns-test/rpz.mypdns.cloud/blob/7d2b3e2507d72328215a9b20d214f1fbb53c8464/.pyfunceble/.

[2021-02-01 14:24] funilrys commented on #206
Just wanted to know before writing the patch. I couldn't reproduce but wrote the patch which theoretically fixes the issue.

[2021-02-01 14:27] funilrys commented on #207
PyFunceble will read 2 configuration file.

1. The one it comes with: `$installDIR/PyFunceble/data/infrastructure/.PyFunceble_production.yaml`
2. The one at your configuration location `$configDir/.PyFunceble.yaml`

(1) is only read when (2) is not found. But we don't copy (1) into `$configDir/.PyFunceble_production.yaml`.

In the past (1) was only remote accessible and downloaded to this reposito

[2021-02-01 14:28] funilrys commented on #178
All right. I'm okay with this. Let me change the priority of this.

[2021-02-01 14:28] funilrys commented on #178
All right. I'm okay with this. Let me change the priority of this.

[2021-02-01 14:40] funilrys commented on #205
You are describing what PyFunceble `4.0.0` actually does...

https://github.com/funilrys/PyFunceble/blob/01ef48c2d02ef92da60bc56f1978699f2c065870/PyFunceble/cli/system/launcher.py#L856-L864

I don't see where the problem is 🤔

[2021-02-01 16:11] Yuki2718 commented on #155
@spirillen I will test in a few days, please wait.

[2021-02-01 17:08] funilrys commented on #155
Thank you @Yuki2718! Can you test with `4.0.0bX` ?

[2021-02-04 13:01] Yuki2718 commented on #155
On 4.0.0b19 the issue is solved, and it's noticeably faster than the old version. Thx for keeping good work!

[2021-02-04 13:02] Yuki2718 commented on #155
BTW I had to downgrade Python to 3.8 as dnspython is not yet compatible to 3.9.

[2021-02-06 02:29] funilrys commented on #178
Closing as it should be solved for future users.

# Side Note

People who were/are testing PyFunceble `4.0.0bX`, needs to manually change the value in their configuration file. Alternatively, a regeneration of the configuration file after its deletion will include the changes provided by this fix.

[2021-02-06 02:29] #178 closed

[2021-02-06 02:38] funilrys commented on #205
Can I get an update from your side - when you get a bit of time?
@spirillen

[2021-02-06 16:49] spirillen commented on #213
/Closed as solved.... Thank you Microshit for messing with linux not knowing what you are doing.....

[2021-02-07 02:07] spirillen commented on #155
?? I'm running dnspython on python 3.9.1 without any issues

[code]

[2021-02-07 19:40] spirillen commented on #205
yep, just found that the `--ci-max-minutes` actually was set to 5 :unamused: I have no clue when this should have happent...

[2021-02-07 19:40] #205 closed

[2021-02-08 02:28] spirillen opened #215 "preload use relative path"
**Is your feature request related to a problem? Please describe.**
Let's use a live example <https://github.com/mypdns/porn-records/blob/43efb7722cb785a97539a0cb745e2d45089667c9/active_domains/output/domains.list/preload.json>

When we look at the file will notice, pyfunceble are using full path
[code]

**Describe the solution you'd like**
Use relative path, so both a ci/machine.x can use the same

[2021-02-08 09:36] funilrys commented on #215
I somehow want to remove the absolute path because it makes it nearly impossible to continue a job from another machine, network, or infrastructure. It is in my backlog. But I have to focus on some side but PyFunceble related project too.

So, in the near future, this won't be an issue once I'm getting away from the absolute path.

But don't expect it to be as fast as other migration. Such convers

[2021-02-08 12:42] spirillen commented on #207
To get back to this issue.

The situation was, I was lunching from `$configDir/.PyFunceble.yaml@v3` to `$configDir/.PyFunceble.yaml@v4`

And the `$configDir/.PyFunceble.yaml` wasn't updated **on sub-branch** as I would expect.

The real issue seems to be, that @PyFunceble are not able to run on a sub-branch.... and in fact have very little to do with the `$installDIR/PyFunceble/data/infrastructure

[2021-02-08 14:00] spirillen commented on #206
And it seems to have fixed the issue :smiley:

I think the `empty record` can be a leftover from drill, but I'm not sure, as if I do it locally, everything looks right (except from a double SOA record)

However we are still waiting for a successful run at https://github.com/dns-test/rpz.mypdns.cloud/actions to make the true answer.

But as the source contains over 630.000 records, it's a bit trick

[2021-02-08 14:27] BARMOLEY007 commented on #206
7529

Вс, 24 янв. 2021, 20:46 spirillen <notifications@github.com>:

[2021-02-09 02:13] spirillen opened #216 "--ci not adding new files"
## Bug description
Without adding the `--ci-command "git add ."` nothing is committed when running under CI/CD tested in 3 repos now

https://github.com/mypdns/matrix/blob/a23578592bf4bbc61948190e5cca1b9b8d7126c2/.github/workflows/pyfunceble.yml#L70

[2021-02-09 13:23] spirillen opened #217 "(DRAFT) special rule fc2.com"
## Is your feature request related to a problem? Please describe.
While working on a lot of sub-domains to [fc2.com](https://www.mypdns.org/T3474) it have come to my attention that they are using HTTP code `301` for closed subsites

## Describe the solution you'd like
We should, if the pattern is consistent add HTTP code `301` as special rule as INACTIVE

## Describe alternatives you've considered

[2021-02-10 20:03] funilrys commented on #216
Hey @spirillen,

thank you for reporting this.

But, can you explain why it is working in our [ci_test](https://github.com/PyFunceble/ci_test) repository?

[2021-02-11 00:18] spirillen commented on #216
If I could, I could be rich :money_mouth_face:

The only thing I can link (In time) is this commit https://github.com/funilrys/PyFunceble/commit/2f57772c5518ccd32afdb79dcfa1557122867c5e (Fix issue with the session ID. ), which solved one of the commit issue and then it kind a broke down again for the three others and with https://github.com/funilrys/PyFunceble/commit/2a583fc12441e9bb18a6edf3ac0260

[2021-02-11 13:38] spirillen opened #218 "[Feature] Filter line, not decoded entry."
## Bug description
It seems that you can't combine both `--filter` and `--adblock` which is a shame as it is a nifty way to extract specific records and test them before importing into other projects

## Modifications under `.PyFunceble.yaml`

Seems irrelevant

## Reproduction
Source file: <https://github.com/easylist/easylist/blob/master/easyprivacy/easyprivacy_thirdparty.txt>

`-ex --dns 192.168

[2021-02-12 23:57] funilrys commented on #218
Am I missing something @spirillen ?

<details>
<summary>Mhhh</summary>

[code]
</details>

[2021-02-13 20:49] spirillen commented on #218
A bit in doubt which part you are refs to here, so for the following

1. `--syntax` Your results seems right, and they are marked right, however, I would not expect to see them at all as they are _invalid domains_ and the test should _only_ test valis domain of from the `--adblock` source (Filtered out silently)
2.  hmmm weird.... on this computer it's working as supposed to....
    1. test env (4

[2021-02-13 21:05] spirillen commented on #218
ad 2 => https://www.mypdns.org/T3508

[2021-02-13 21:34] spirillen commented on #208
The test is committed here https://github.com/dns-test/porn.host.rpz/blob/6d0a53391bf820789b5184e1825ba834fe0d8cbc/.pyfunceble/.PyFunceble.yaml#L22-L45

First GHA run is here: https://github.com/dns-test/porn.host.rpz/actions/runs/564545645

[2021-02-13 21:52] spirillen commented on #208
Another test that have been running for some time

https://github.com/dns-test/rpz.mypdns.cloud/blob/293cf28c825be312233cad1026cec802f76043db/pyfunceble/.PyFunceble.yaml#L22-L45 commit: https://github.com/dns-test/rpz.mypdns.cloud/commit/4fac7a310da88ac04bb6a5136080317bffdb9c6d#diff-7f3a4449b6c3799c7aae7dd18b925220093e68368182a58165036b031131849b

However, I would need to check the DB to see what

[2021-02-14 02:20] #215 closed

[2021-02-14 12:24] funilrys commented on #218
To complete the new title. We should let people filter the lines to keep before we actually do the decoding.

[2021-02-14 17:59] spirillen commented on #218
The entire test process should filter for VALID domains before testing and as you mentioned in the "[Show and tell](https://github.com/funilrys/PyFunceble/discussions/219#discussioncomment-367510)" a new feature to only extract records based on specific rules could in the future be desired, however, we should then be thinking of Squid files as well.

[2021-02-14 18:06] spirillen commented on #13
For others who stumbles on this thread and wonders how they can solve this, there is a use example here: <https://github.com/funilrys/PyFunceble/discussions/219>

[2021-02-15 00:32] spirillen opened #220 "MySql Tested_at twenty years ago :thinking:"
## Bug description
Found this in cdb.matrix.rocks

|id|created_at|modified_at|idna_subject|checker_type|destination|source|tested_at|session_id|
|--|----------|-----------|------------|------------|-----------|------|---------|----------|
|762095|2021-02-15 00:15:53|2021-02-15 00:15:53|cdn.shopify.com|AVAILABILITY|strict.domains.list|/home/runner/work/porn-records/porn-records/strict.domains.list|

[2021-02-16 13:11] spirillen opened #221 "Need For speed III"
## Bug description
Running a full test of https://github.com/Clefspeare13/pornhosts/tree/master/submit_here takes no less than:

`Execution Time: 01:00:01:21.243098`

## Modifications under `.PyFunceble.yaml`

Non as I can recall it, beside `hosts: False`

## Reproduction

Steps to reproduce the behavior:
Run https://github.com/Clefspeare13/pornhosts/blob/master/toolbox/domain-test.sh inside the r

[2021-02-17 10:18] spirillen opened #222 "got a response from ('130.225.244.166', 53) instead of ('185.109.89.254', 53)"
## Bug description
Fatal Error: got a response from ('130.225.244.166', 53) instead of ('185.109.89.254', 53)

## Modifications under `.PyFunceble.yaml`

None

## Reproduction

Steps to reproduce the behavior:
1. Run <https://github.com/Clefspeare13/pornhosts/blob/master/toolbox/domain-test.sh>
2. Run with `-ex -h -a --hierarchical --database-type mariadb --dns 185.109.89.254 130.225.244.166 130.2

[2021-02-21 16:40] #135 closed

[2021-02-21 16:41] #198 closed

[2021-02-21 16:47] #138 closed

[2021-02-21 16:48] funilrys commented on #138
Closing. Because I assume that this is solved.  Feel free to reopen or create a new issue.

[2021-02-21 16:53] funilrys commented on #141
Closing because of #215.

[2021-02-21 16:53] #141 closed

[2021-02-21 16:53] funilrys commented on #191
Closing as this behavior is now doucmented.

[2021-02-21 16:53] #191 closed

[2021-02-21 16:54] funilrys commented on #192
Closing as it is now documented.

[2021-02-21 16:54] #192 closed

[2021-02-21 17:12] funilrys commented on #220
This is normal behavior if you are using the `--preload` thing.
A dataset is considered as "pre-loaded" and "to-be tested" if the `tested_at` column is at least 20 years ago.

![](https://media.giphy.com/media/ZqlvCTNHpqrio/giphy.gif)

[2021-02-21 17:12] #220 closed

[2021-02-21 17:21] funilrys commented on #218
Actually, it depends. That's why the focus on decoding Adblock filter files should come within another issue or #13.

This issue will be about adding a new argument that will let you (as an end-user) filter a line before we actually do the decoding.

[2021-02-21 17:50] funilrys commented on #222
I tried to find where this is coming from, and I can't locate it.

[2021-02-21 18:36] spirillen commented on #220
Yeah, but as said

So it should not be 20 years ago.... it should be 2 minutes ago....

[2021-02-21 18:36] funilrys commented on #120
Closing as I assume that this is not happening again.

[2021-02-21 18:36] #120 closed

[2021-02-21 18:39] funilrys commented on #216
Closing as I can't reproduce.  We need to set up something which will let us prove that this is really happening.

[2021-02-21 18:39] #216 closed

[2021-02-21 18:39] spirillen commented on #222
I'll run it with the `--loggin-level debug` next time, we will then find a sweetspot to upload the complete output, (BIIIIG data) as it might be near the end of the test, do to the time before failure.

[2021-02-21 18:42] funilrys commented on #221
Is the auto continue active here?

[2021-02-21 18:48] spirillen commented on #221
[code]

[2021-02-21 18:53] spirillen opened #223 "No such file or directory: 'domains.list'"
## Bug description

This started to happen 6 hours ago.... (https://github.com/funilrys/PyFunceble/commit/d70495c7b4410e3427c4e2da5c65f1f86c5cdec8, https://github.com/funilrys/PyFunceble/commit/f1ab6d0758b4968fa7199ffbce6f42766bad6cbf or https://github.com/funilrys/PyFunceble/commit/1188022ceef6767c7b5a5e8b10ec12199250165c)
https://github.com/mypdns/porn-records/runs/1946909413?check_suite_focus=t

[2021-02-21 18:54] spirillen commented on #223
The same thing happens in https://github.com/dns-test/rpz.mypdns.cloud/runs/1947025492?check_suite_focus=true

https://github.com/dns-test/porn.host.rpz/actions/runs/586948849

[2021-02-21 19:39] funilrys commented on #222
My last commit will always provide a traceback when such a thing happens.

[2021-02-21 20:05] #223 closed

[2021-02-21 20:57] funilrys commented on #220
@spirillen Patch is on its way. Thanks for getting back.

[2021-02-23 17:50] funilrys commented on #221
Just a bit of context, as I found out where the "latency" actually - if not mostly - happens.

PyFunceble, because of:

- reported issues
- discovery by contributors
- discovery of me and/or @mitchellkrogza  while doing some manual backtesting of the output of Py - Funceble (early around 2017-19)

is not only doing an `NS` lookup. Early on we were only doing some `NS` lookup. But today, it is not

[2021-02-23 19:14] funilrys opened #224 "[Documentation] Queries to pyfunceble-XXXXXXXXXXXX.com"
Please help me document the queries made to `pyfunceble-XXXXXXXXXXXX.com`. I'd love to get this somehow documented in either a new component or in one of the existing ones. PR are welcome.

Let me explain the how and why.

# Origin

It all started with #45 which ended with this patch: https://github.com/funilrys/PyFunceble/commit/5398233e149b93c34343a387bfffeab68294c069

In short, all HTTP queries

[2021-02-23 20:07] spirillen commented on #221
I most say, I'm a bit surprised, because as I did understand it, then we cycled (load balanced) thought the DNS severs DNS1 to record 1, DNS2 to record 2 etc, why I have added ~20 dns recursors to the lists

The idea about working through the lists of DNS servers is a good safety, but I think a third possibility could be just as safe,

First DNS, no positive reply for any record => ask Second on t

[2021-02-23 20:42] funilrys commented on #221
@spirillen, what you are describing as the third possibility looks like what PyFunceble is doing now.

Let's say we give 10 DNS servers and want to test `example.org`.

What PyFunceble is doing is:

- Ask server 1 about NS, CNAME, DNAME, A, AAAA. If they all (records) fail (without any response), continue to server 2.
- Ask server 2 about NS, CNAME, DNAME, A, AAAA. If they all (records) fail (with

[2021-02-23 21:10] spirillen commented on #221
I really can't decide, but I think we should leave it as is... simply to ensure the highest hit rate possible... that most be the most important

[2021-02-24 19:59] spirillen commented on #222
![image](https://user-images.githubusercontent.com/44526987/109056959-70602380-76e1-11eb-9cc5-bb50562d4707.png)

[code]

remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
remote: error: GH001: Large files detected. You may want to try Git Large File Storage - https://git-lfs.github.com.
remote: error: Trace: bf03f2169e5e02d3f29bbb117cacf6320debab1b3e0e96cd23744daaa4f7e85a
remot

[2021-02-26 19:32] #221 closed

[2021-02-26 19:36] funilrys commented on #221
For those who are following this thread, my previous commit introduces the following argument:

- `--follow-server-order`
- `--trust-dns-server`

## `--follow-server-order`

This argument can be used to force PyFunceble to randomize the order of the DNS server. Meaning that the order is randomized before any DNS lookup.

## `--trust-dns-server`

When active, it does what I previously described (he

[2021-02-27 17:17] spirillen opened #225 "Mixing inout output lines"
## Bug description
Easiest to show

Input file
![image](https://user-images.githubusercontent.com/44526987/109394468-6d567480-7927-11eb-8955-4ba50ec3f05a.png)

Output file
![image](https://user-images.githubusercontent.com/44526987/109394474-7cd5bd80-7927-11eb-8432-f98a83bc6aef.png)

## Modifications under `.PyFunceble.yaml`
<details><summary>pyfunceble.yaml</summary>

cli_decoding:
    adblock: f

[2021-02-28 08:30] funilrys commented on #225
😞 I tested 60 times with the same configuration and the file you provided and I can't reproduce this behavior 😢

[2021-02-28 10:48] spirillen commented on #225
I thing that I came to think of is.... could the original vs the copied you tested against, actually hold some unwanted endings = mixed ending :thinking: as I have copied from various sources witch theoretically could be a mix of LF\CRLF\and even a tab :thinking:  The though came as I recalled, when copied one of the lines into it's issue, it had a unwanted line ending???, let me retest the file,

[2021-02-28 11:33] spirillen commented on #225
Sent....

[2021-02-28 20:29] spirillen commented on #221
2 those who can't read the kaybase chatbetween @funilrys and I, I'll just spread the word of https://github.com/funilrys/PyFunceble/commit/248486e16b607a641dbd1dab9f7b836cee31386b

The rewrite of how, the output to file is process now, have added a speed gain up to 35-40% on tests of https://github.com/funilrys/PyFunceble/issues/225

can't wait to test on https://github.com/mypdns/porn-records and

[2021-02-28 21:40] funilrys commented on #225
Is this fixed now @spirillen ?

[2021-02-28 21:42] spirillen commented on #225
Let me get back when I've tested on https://www.mypdns.org/project/view/29/

[2021-03-01 11:51] spirillen commented on #222
New error occurred.

Same script...
Test line: `-ex -a --hierarchical --database-type mariadb --dns 185.109.89.254 130.225.244.166 130.226.161.34 185.38.24.52 --complements -w 30 --trust-dns-server --follow-server-order`

<details><summary>error log</summary>

[code]

</details>

[2021-03-01 15:36] spirillen commented on #221
2 DNS Servers
First run
![image](https://user-images.githubusercontent.com/44526987/109512664-9d775200-7aa4-11eb-8c03-2d015ae00d61.png)

2. run
![image](https://user-images.githubusercontent.com/44526987/109514841-bc76e380-7aa6-11eb-8040-7a508a5ecda7.png)

All DNS Servers from https://www.mypdns.org/P41
First run
![image](https://user-images.githubusercontent.com/44526987/109512741-b2ec7c00-7aa4-1

[2021-03-01 15:47] spirillen commented on #222
Found a relation to this issue, it's a odd vs even.

Every time i use a odd number, the job fails ie 5

When I use a even number the job succeds ie 6

^:^

[2021-03-01 18:56] funilrys commented on #222
This looks like a false positive issue. What I mean: dnspython is returning this issue because it queried to `185.109.89.254` but it got a response from `130.225.244.166`.

Tell me, are you using the UDP protocol?

From [the documentation](https://dnspython.readthedocs.io/en/latest/_modules/dns/query.html) of dnspython:

[code]

[2021-03-01 18:59] spirillen commented on #222
Yeps, all UDP.

[2021-03-01 19:04] #225 closed

[2021-03-01 19:10] funilrys commented on #222
What about switching to TCP ?

[2021-03-01 19:51] BARMOLEY007 commented on #221
Пн, 22 февр. 2021, 0:49 spirillen <notifications@github.com>:

[2021-03-01 20:05] funilrys commented on #221
@spirillen, keep in mind: If there is a timeout error or a socket error, we (internally) loop over the whole list.

[2021-03-01 22:46] spirillen commented on #221
sure, but it shouldn't be the case, they should all be stable and reliable DNS servers.  But let's discuss the list in https://www.mypdns.org/P41

[2021-03-01 22:47] spirillen commented on #222
Would be non-standard.... durable, but not std

[2021-03-04 16:21] Yuki2718 opened #226 "Fatal Error: Invalid IPv6 URL"
## Bug description
Every time I scan for my Yuki's uBlock Japanese filters (jp-filters.txt on my repo) it returns the error above but at different point (due to database cache, maybe). It doesn't occur for other files so something on my list may be interpreted as IPv6 address?

## Modifications under `.PyFunceble.yaml`

None AFAIK

## Reproduction

Steps to reproduce the behavior:
1. Get the list

[2021-03-04 22:22] spirillen commented on #226
Reproduced with conda, and the location is diffrent each time as well, however I noticed that it happent to one of the `blogimg.jp` for me each time.

If you @Yuki2718  take a look at the exact error location is there a pattern of ?

[code]

Test string:
[code]

[code]

[2021-03-07 04:43] funilrys commented on #226
Closing.

This should be fixed by PyFuncebe `v4.0.0b33`. Feel free to upgrade, test, and come back here it is still not working.

[2021-03-07 04:43] #226 closed

[2021-03-08 12:00] spirillen commented on #226
I'll say it is fixed

[code]

[2021-03-10 01:42] spirillen commented on #13
Hmm what did you change??

![](https://media1.tenor.com/images/ad6301d0e879cb372f02cde1d6daea3d/tenor.gif?itemid=13259634)

[2021-03-10 08:04] keczuppp commented on #13
I didn't delete the history of changes, doesn't it work for you?

<details not-open>
<summary>spoiler</summary>

![1](https://user-images.githubusercontent.com/74409207/110595859-e0a98300-817e-11eb-9a60-e52ed5f6fab5.png)

</details>

Anyway, I added last 4 rows of the table and the description.

[2021-03-10 12:36] spirillen commented on #13
<details><summary>OT response to keczuppp</summary>

Yes it does, however it is not obviously what was changed :wink: GH could do this better, or just do as they always have done, steel other idea's :smirk:

As an example from <https://www.mypdns.org/T2368>
![image](https://user-images.githubusercontent.com/44526987/110630241-6c360a80-81a5-11eb-9abb-86341f10dec0.png)

As you can see, it highlights

[2021-03-11 09:46] keczuppp commented on #13
<details not-open>
<summary>OT response to spirillen</summary>
<br>
I don't get your problem, GH does highlight the changes, just like on your screenshoot, with green color:

![capture_001_11-03-2021_10-32-05](https://user-images.githubusercontent.com/74409207/110767113-2c7b2b80-8256-11eb-9acc-7e10dd6270c1.png)

![capture_002_11-03-2021_10-32-27](https://user-images.githubusercontent.com/74409207/

[2021-03-11 21:22] funilrys commented on #13
Mhh, it's true. It was confusing to introduce the `--aggressive` argument. But as the time it was first introduced, I wasn't even sure that that thing that I engineered will be actually used.

My objective was to try to be as accurate as possible and to reduce false positives when people are using the output of PyFunceble directly into their workflow ...

The AdBlock decoder itself is self-enginee

[2021-03-11 21:48] spirillen commented on #13
<details><summary>OT to @keczuppp </summary>

I most clicked on a wrong "version"...

![image](https://user-images.githubusercontent.com/44526987/110859438-b6111480-82bb-11eb-83d8-35580c212727.png)

</details>

[2021-03-11 21:58] spirillen commented on #13
I'm fine with this, as long it won't eat up a lot of resources trying to figure out what and how to "understand" the input for extraction of actual data. Since most blacklists are in a specific form adblock/regex/hosts/RPZ/Squid(-guard), whereof adblock probably is the hardest to decode and write rules for to get the right domain to test. The domain can be both first separated by commas and last s

[2021-03-11 22:01] spirillen opened #227 "Change the direction for read-in of files (AdBlock sources only)"
I'm fine with this, as long it won't eat up a lot of resources trying to figure out what and how to "understand" the input for extraction of actual data. Since most blacklists are in a specific form adblock/regex/hosts/RPZ/Squid(-guard), whereof adblock probably is the hardest to decode and write rules for to get the right domain to test. The domain can be both first separated by commas and last s

[2021-03-12 05:12] funilrys commented on #227
The change of direction was only meant for the ad block decoder (yet) and the way it works from an end-user POV.

Such directions should be decided individually for each decoder. The discussion about the way the adblocker works is following almost since the day I decided to release and adblock decoder into PyFunceble. Nobody said it easy but I took the challenge hopping that if it is used, I will

[2021-03-12 16:11] keczuppp commented on #13
(my reply is also a reply to https://github.com/funilrys/PyFunceble/issues/227#issuecomment-797239112 at the same time):

- yeah, to create a good quality Adblock Decoder is not an easy task, it's tricky, it's a good challenge in programming skills, to extract good domains and avoid false positives at the same time, if you don't feel up to it or you think it's too complicated to continue the devel

[2021-03-13 18:41] spirillen opened #228 "New read-in format of DLEF (json)"
**Is your feature request related to a problem? Please describe.**
As of @Somebodyisnobody `Domain list exchange format.`([T3776](https://www.mypdns.org/T3776)) already have seen the first real implementation by ChongLuaDao.Vn in there phishing blacklist <https://api.chongluadao.vn/v1/blacklist>, I'll like to suggest that PyFunceble can handle the DLEF format as well. example: <https://www.mypdns.

[2021-03-14 00:00] Somebodyisnobody commented on #228
The XML Style sheet can be shown here: https://www.mypdns.org/P38 The categories are not fixed at the moment because of less time on my side

[2021-03-14 21:02] #13 closed

[2021-03-14 21:02] #227 closed

[2021-03-16 11:56] Yuki2718 commented on #226
I can't install ver 4.x via `pip3 install --user --pre pyfunceble-dev`, `PyFunceble --version` says my version is 3.3.9.

[2021-03-16 13:00] #163 closed

[2021-03-16 14:19] funilrys commented on #226
@Yuki2718 What is your current PATH ?

[2021-03-16 14:19] funilrys commented on #226
I will try to uninstall it completely and try to reinstall it. 🤔

[2021-03-16 14:24] Yuki2718 commented on #226
@funilrys You mean environment variable? I set `C:\Users\Username\AppData\Roaming\Python\Python38\Scripts\` and `C:\Users\Username\AppData\Roaming\Python\Python39\Scripts\` tho actual Python version is 3.8.

I uninstalled miniconda completely and reinstalled, the same. Is Python 3.9 mandatory?

[2021-03-16 14:36] funilrys commented on #13
Please take my commit and the underlying tests as the response. Is it still too much @keczuppp ?

Let's discuss the future of that specific decoder. I'll inject any future report about missing decoding into the tests. So the more reports, the better that decoder will be 😄

As I wrote, I'm not one of those who write a filter list... So help or directions are welcome!

[2021-03-16 14:37] funilrys commented on #218
I'm wondering if this is still needed ... Let me close this.

@spirillen, does https://github.com/funilrys/PyFunceble/commit/aa19208316d8a9585aade53a875fe07a18d87450 fixes your issue - without the need to add a new argument?

[2021-03-16 14:37] #218 closed

[2021-03-16 14:40] funilrys commented on #226
No Python version is mandatory as long as it is greater than 3.7.

Mhh that's weird ... `pip3 install --user --pre pyfunceble-dev` is correct.

Can you check where is PyFunceble located through the following?

[code]

[2021-03-16 14:43] Yuki2718 commented on #226
It returned `'C:\\Users\\Username\\AppData\\Roaming\\Python\\Python38\\site-packages\\PyFunceble\\__init__.py'`

[2021-03-16 14:48] Yuki2718 commented on #226
Thx, 4.0.0b36.dev is now installed!

[2021-03-17 11:35] keczuppp commented on #13
Hello, I was already trying to test the new version of Adblock Decoder (`4.0.0b35`) but:
- the standalone Adblock Decoder https://github.com/PyFunceble/adblock-decoder hasn't been updated
(I was using it for testing before)
-  when I was trying to run it from PyFunceble I was unable coz I received some errors in Python (3.7.6):
<details not-open>
<summary>error</summary>

[code]
</details>

- also

[2021-03-17 13:10] funilrys commented on #13
@keczuppp Thanks for the notice. I'll update the AdBlock decoder project as soon as possible.

The simple way, is the `pyfunceble --syntax --adblock --aggressive -f [file]` arguments. 😄

Note to self: Cleanup documentation.

[2021-03-18 09:58] keczuppp commented on #13
So I've tried the newest version `v4.0.0b36.` and:
- PyFuncable has worked finally, it doesn't throw the error I mentioned in my previous comment anymore
( `FileNotFoundError: [Errno 2] No such file or directory:` ) so at least I was able to run the whole `PyFunceble`
- however, when I ran the `Adblock Decoder` with the command you provided in your comment, with a few lists (EasyList and also two

[2021-03-18 18:50] funilrys commented on #13
@keczuppp, b37 is available and it should fix the error you reported.

Thanks again for testing !

[2021-03-18 19:28] funilrys commented on #13
@keczuppp, the [adblock-decoder](https://pypi.org/project/adblock-decoder/)  is also upgraded to use the 4.0.0bX of PyFunceble.

[2021-03-18 21:19] keczuppp commented on #13
yep, good work:
- the bugs are fixed, and PyFunceble embeded Adblock-Decoder is finally working, the standalone version is working as well
- the split introduced in the rewrite is good (as it should be since the beginning)
- the new decoder fixes almost all failures from https://github.com/funilrys/PyFunceble/issues/13#issuecomment-749607193, except the last 3

more tests later

[2021-03-19 05:50] keczuppp commented on #13
And don't laught at me, fvcktard.

[2021-03-19 15:07] keczuppp commented on #13
- strange, I tried today the standalone Adblock Decoder and it crashes and throws errors
- also it wasn't crashing yesterday, and I didn't change anything since yesterday, but I'm not sure whether I have been testing the same filter lists yesterday or not, so perhaps the bug was here already yesterday
<details not-open>
<summary>spoiler errors log</summary>

[code]
</details>

- the Embeded Decode

[2021-03-19 21:32] funilrys commented on #13
Who is laughing at you?

We are all here for some constructive work, enhancement, and discussion in our free time.
I personally take any input I can get regarding the decoder. I don't have time to laugh at someone when they are giving constructive inputs.

If it is because of my emoji, sorry if it offended you. It wasn't meant to harm.

-------------------

Your last 3 cases are now into the sourc

[2021-03-19 22:20] funilrys commented on #13
@keczuppp Please update and test the [adblock-decoder](https://pypi.org/project/adblock-decoder)

[2021-03-20 10:25] funilrys commented on #166
Closing as this will evolve with the future. It has actually nothing to do with the AdBlock decoder.

[2021-03-20 10:25] #166 closed

[2021-03-20 10:28] funilrys commented on #222
This is an issue for dnspython. But actually, it's a good thing. dnspython just checks that the answer comes from the one requested.

Therefore, I'm closing this.

[2021-03-20 10:28] #222 closed

[2021-03-20 10:47] keczuppp commented on #13
- it's fixed now in `1.2.0`

- it's fixed now in the standalone  `Adblock Decoder 1.2.0`
- but in the embeded ` Adblock Decoder PyFunceble 4.0.0b39` it's fixed at 66%
because `site21.com` is still not being extracted

Also:
- I know you have [a reason](https://github.com/funilrys/PyFunceble/issues/166#issuecomment-753672484) to not do so in the embeded Adblock Decoder,
but shouldn't at least the s

[2021-03-21 09:09] keczuppp commented on #13
As for the `domain=` filters (for ex. `domain=page1.com|page2.com`):
- the last 3 failures from [my previous comment](https://github.com/funilrys/PyFunceble/issues/13#issuecomment-749607193) were just example failures, the point is the decoder, instead of fixing particular `domain=` failures, should extract all domains regardless what is on the left or right side of `domain=`
- but currently the d

[2021-03-22 09:52] ZeroDot1 opened #229 "Fatal Error: got a response from ('192.168.21.1', 53) instead of ('192.168.1.1', 53)"
## Bug description
During a normal test with the current beta version from the AUR, multiple errors occurred with no modification on my part.

pyfunceble -w 12 --plain -a -f '/home/FILE.txt'

## Modifications under `.PyFunceble.yaml`

I first entered my local DNS server to make testing faster, my DNS server is configured correctly.
` 192.168.1.1`

[code]

[2021-03-22 09:59] ZeroDot1 commented on #229
After I changed UDP to TCP as a test I got these errors.

[code]

[2021-03-22 13:54] keczuppp commented on #229
Similiar to https://github.com/funilrys/PyFunceble/issues/222, might be a duplicate (or not).

[2021-03-23 15:20] spirillen commented on #13
Hey @keczuppp

What are you missing in the docs? and Could you elaborate it in a issue at <https://github.com/spirillen/PyFunceble/issues> (The repo I make the docs from)

I'm sorry you have taken it this way, it is not, and trust me we are laughing of each other "Error 40" we just happens to mostly do this on Keybase :smirk:. Next to this I can promise you that @funilrys never laughs (evilly) of

[2021-03-23 15:27] spirillen commented on #229
Yes it is a dub of #222 But what I've later noticed is it in my case was related to the worker `-w n` more than it seems directly related to the number of dns servers, So @ZeroDot1 could you post your full test string, then I'll try to replicate it when I in a couple of weeks get my fiber through the wall, yes, the cable have been laying on the ground, right outside the wall for 5 month now....)

[2021-03-24 00:58] ZeroDot1 commented on #229
@spirillen @funilrys

`pyfunceble -w 12 --plain -a -f  '/home/Scan.txt'`

It does not matter how many DNS servers are stored in the configuration file, the same errors always occur.
I have tested it with different numbers of DNS servers.
Currently I have only my own local DNS server in the configuration file.
Normally this also works, I hope there is a solution for the problem.
Thanks to all who c

[2021-03-24 01:20] spirillen commented on #229
Ooooh yah and the media converter... I have all three things in one of my moving boxes.... what I don't have is the tool to add the endpoints to the fiber.... and then the ISP is absolutely not that keen to get people connected.  Just called them today again to hear what's going on... you'll hear from us in another 2 to 5 work days.... :unamused:

So yes, I got to a hold as I'm running on a metere

[2021-03-24 10:56] ZeroDot1 commented on #229
@spirillen I understand.
Maybe some internet providers should take us open source developers as an example, we usually provide support within a few hours.
In my location there is no fiber and no LTE only old rotting telephone cables older than me.
I know how you feel with your bad connection.
I wish you that your internet provider manages to connect your lines within the next few days and that you

[2021-03-24 15:50] keczuppp commented on #13
Hi,

Rather nothing, I think now, I didn't get familiar enought with the PyFunceble, thus I just overlooked.

This time it was not so, I felt uncomfortable, I was trying to take it the way you described but I could not.

Nope, the fact that I wrote back with complaints later does not change anything, I was just trying to ignore it and think about it like you described, but even 2 days later I stil

[2021-03-24 16:07] spirillen commented on #13
Well, from my own point of view, I can only say: I'm feeling there are missing some emojis for the "fast feedback", meaning some would have to overlap others.

[2021-03-24 23:00] funilrys commented on #13
I will look at it when I find time to touch that module back.

----------------

Emojis are not necessarily meant to harm. My emoji was really not meant to harm, nor was it in an evil matter.
The usage of the `"The simple way"` was just meant to introduce something which is not supposed to be hard and something that is supposed to also be easy to use and work as easy as possible. I do not expect e

[2021-03-24 23:00] funilrys commented on #229
Hi folks,

My time is limited, so let me just talk about this issue. There is 3 way to handle this:

1. Handle the issue and ignore it aka continuing to the next DNS server/record type.
2. Leave it as it is.
3. Accept unexpected.

About the third option: DNS python allows us to ignore that message and accept the provided answer. I'm not a big fan of it but I have to think of default behavior.

I'm

[2021-03-25 10:50] ZeroDot1 commented on #229
The third option seems to make the most sense to me, because there should be less problems in the future I think.

[2021-03-25 10:54] keczuppp commented on #13
Hi funilrys,

as for the incident:  I appreciate your explanations, but I will not change my mind, my answer is the same as to spirillen: https://github.com/funilrys/PyFunceble/issues/13#issuecomment-805941359, there is too many people who tell sweet lies and manipulate, I trust my feelings.

as for:

Sure, and that's why I mentioned the crashes **only as an example** where someone could dishonest

[2021-03-25 13:01] keczuppp opened #230 "The last domain is missed sometimes"
## Bug description

The last domain from the file is ignored / missed / skipped sometimes.

## Modifications under `.PyFunceble.yaml`

A clear representation of what you changed.

## Reproduction

Steps to reproduce the behavior:

Content of the file `test.txt`:
[code]

1. Run command  `pyfunceble -f test.txt` several times.
2. Notice sometimes the last domain is skipped.

## Expected behavior

Th

[2021-03-25 17:46] spirillen commented on #229
My acceptable choices would be

The first option, it need to be fixed, this said, I would accept the third option as a hotfix.

[2021-03-25 18:08] spirillen commented on #13
Please, can we park that emoji?? agreeing that you do not agreeing in the explanation and usage of it for the the specific situation??

And let's stick to the [Code of conduct](https://github.com/funilrys/PyFunceble/blob/master/CODE_OF_CONDUCT.rst) and get back to the actual topic, the error produced.

I'll hope so.

[2021-03-25 18:10] spirillen commented on #230
I believe this can have relation to the worker as in #222 & #229, also I have reported a similar issue in another issue :thinking: Can't remember witch :thought_balloon:

[2021-03-25 21:14] funilrys commented on #229
@ZeroDot1, the problem with the third solution is that if you get someone in the middle, it may change the outcome.

The first option on the other hand refuses to read the data from the response because it is not "safe". Provoking the system to skip and move on.

I agree that the second one is not an "option", but it's still something to keep in mind :-)

[2021-03-25 21:26] ZeroDot1 commented on #229
Hi @funilrys,

OK, I understand, maybe the best solution would be to implement this so that users can simply set it in the configuration file and the safest method is predefined.
That would be the best compromise I think of.

[2021-03-25 23:06] spirillen commented on #229
Hey @ZeroDot1 the third option should never be an option as what is happening is, worker 2 receives the response from worker 1's query.

Example:

w1: qeuries for `example.ORG`
w2: queries for `example.COM`

Now w2 get the response to the query `example.ORG`

This will leads to false results, which should never be trusted and why the `2. Leave it as it is.` should never had been mentioned. and it'

[2021-03-26 01:59] ZeroDot1 commented on #229
Hi @spirillen,
I quickly tested it with a different number of workers, always with the same result that the error mentioned above occurs.
The problem occurs also with only one worker, I have tested it also extra with different files.

[code]

[2021-03-26 10:41] #229 closed

[2021-03-26 11:37] funilrys commented on #230
Uhh, this will take more time that I thought.

I tested 60 times, without any error.

[code]

[2021-03-26 16:45] spirillen commented on #229
I'm confused... I would have checked the python-dns module, if I had the bits available, but right now I have to count every single one used on the connection. as This only happens for me on one of three devices...

[2021-03-26 16:59] funilrys commented on #229
I wrote the patch but I couldn't reproduce this issue. I'm not sure that it has something to do with the workers at all. In fact, the message with worker_N is just because they get killed as soon as one of them is getting an error.

[2021-03-26 17:09] spirillen commented on #229
We most remember this one to after eastern where I get the right connection.... @ZeroDot1, @funilrys Could you please try to remember me to test this, follow up on this after the eggs have cracked?

[2021-03-26 17:17] ZeroDot1 commented on #229
Thanks for fixing the problem, I will test it as soon as the next version is available via AUR.

[2021-03-26 18:03] keczuppp commented on #230
Because you tested with altered/different command than provided by me in the first comment,
neither me can reproduce with `--logging-level debug`,
however as soon I remove `--logging-level debug` I can reproduce.
but yeah, strange that adding `--logging-level debug` makes a difference in reproducibility of the bug
(did I just spot another bug or is the original bug so nasty...)

[2021-03-26 19:46] ZeroDot1 commented on #229
@funilrys @spirillen

It works very well, thanks again for the fast and very reliable solution for the problem.

![Bildschirmfoto vom 2021-03-26 20-42-52](https://user-images.githubusercontent.com/28985171/112684829-e5a34d80-8e73-11eb-96bd-4e956e23ca5a.png)

[2021-03-27 00:26] spirillen commented on #229
@ZeroDot1 I have for a long time been wondering what hardware you are testing on, I have never been able to get the results as fast as you....  1 min and 35 secs for 2000 records, is fast.

[2021-03-27 02:47] ZeroDot1 commented on #229
Hi @spirillen,
I work with the following components. And I don't play games, I just find games boring, I prefer to work.

Board: [MSI Z370 KRAIT GAMING](https://amzn.to/3lVnF4g)
CPU: [Intel Core i5-8600K](https://amzn.to/2PcrB4z) (unfortunately with a defective core)
I would like to replace my CPU with the [9700K](https://amzn.to/3w2UZuP) so I could work even better. Because the defective core of

[2021-03-27 07:01] funilrys commented on #230
Hi @keczuppp,

I tested 60 times again without the `--logging-level` argument and I get the same result anyway.

I'll try to look at the root of this today.

Have a nice day/night.

[2021-03-27 16:03] spirillen commented on #229
Found where you are "winning" `SSD NVMe PCIe M.2 2280 1TB`....

You are using NVMe vs mine SSD (Sata connected) Coz the only time I have been able to get near your times are when I'm using ram-drive. Thanks for your reply :smiley:

PS: that puter is more a gaming than working computer :smirk:

[2021-03-28 12:16] ZeroDot1 commented on #229
Hi @spirillen,
The problem is, when I use such a simple cheap office computer, everything takes way too long.
Gaming PCs are just an invention of the industry so that more computers can be sold.
Gamining is nothing more than a word for me.
I always build my own computers if I can or I rebuild ready made computers so that they work well.
I have been doing this since 1999.

By the way, the SSD can o

[2021-03-28 17:12] spirillen commented on #229
Yep. But it also a "hint" of the current performance in the current marked.

Wondering if we are about the same age :thinking:

Nice...

But that cut.... (I'm a old blacksmith :smiley: )

[2021-03-29 12:03] keczuppp commented on #230
I've retested on the newest version, see my updated comment: https://github.com/funilrys/PyFunceble/issues/230?_pjax=%23js-repo-pjax-container#issuecomment-808416716
Btw I didn't check whether anything related to the issue was changed in 40 or 41,
so I don't know whether the different behaviour of the issue at my side is related to changes in 40 or 41 or is it just a coincidence (which would mean

[2021-03-29 13:54] keczuppp commented on #229
And I don't play games, I just find games boring, I prefer to work.
Gaming PCs are just an invention of the industry so that more computers can be sold.
Gamining is nothing more than a word for me.

Yep

===========================================================================

Your logic applies to movies, music as well as it I can be paraphrased:
"Movies and music are just an invention of the

[2021-03-29 20:43] spirillen commented on #230
Python <= 3.8 is not supported...., it stroke me, that the similar problem we had before Christmas was on my Pi4 with python 3.7.x

https://pyfunceble.readthedocs.io/en/dev/facts/known_issues.html#python-3-7

Could you try to update your python to 3.9.x and test again?? for example in a Conda environment?

[2021-03-30 09:54] keczuppp commented on #230
I can't upgrade because `3.7.6` is the last version whch runs on` Win 7 SP1`, I already tried in the past to install the newest Python versions but anything newer than `3.7.6` throws an error saying it requires minimum `Win 8.1 or 2012`.

However, I've checked on another device, a laptop which has `Win10`, but the bug is still here with `Python 3.9.2` as well.

[2021-04-01 01:04] spirillen commented on #230
Why not just upgrade to *nix?? I did for the same reasons you mentioned. And trust me, the moon have to fall down or burn up or something before I'm changing back to shitdows or IOS.x-predetorian-animal

[2021-04-01 06:43] funilrys commented on #230
I tried to get a Windows 10 with Python `3.9.2` and `3.7.6`  and I could not reproduce this issue (again).

Can you run with `--logging-debug` and send us a ZIP of the logging directory ?

[2021-04-01 09:30] keczuppp commented on #230
Shortly, tried in the past, but had bad experiences, more or less like similiar to such many topics:
https://forum.beyond3d.com/threads/linux-is-a-pile-of-shit.60616/. More in the spoiler.
<details not-open>
<summary>OFF-TOPIC (to spirillen)</summary>

Tried various Linux distros in the past, but 3 reasons caused me to drop Linux:
- it's too problematic, there are too many bugs / problems, when yo

[2021-04-01 11:16] ZeroDot1 opened #232 "[Bug]: Fatal Error: [Errno 17] File exists: '/home/user/output/test.txt'"
## Bug description
It is not possible to test a file if the input file is located in the output directory.

## Modifications under `.PyFunceble.yaml`

DNS-Server

## Reproduction

`$ pyfunceble -w 12 --plain -a -f '/home/user/output/test.txt'`

## Expected behavior
That the test goes through normally.

## Screenshots
![Bildschirmfoto vom 2021-04-01 13-15-29](https://user-images.githubusercontent.c

[2021-04-01 11:27] ZeroDot1 commented on #230
I tried to reproduce the bug, but I did not succeed.
With the current AUR version the test works without problems.
Testfile: [test.txt](https://github.com/funilrys/PyFunceble/files/6243143/test.txt)
![Bildschirmfoto vom 2021-04-01 13-24-43](https://user-images.githubusercontent.com/28985171/113287554-080eee00-92ee-11eb-9e2b-62883cff6139.png)

[2021-04-01 15:47] keczuppp commented on #230
I've noticed that the bug exists even without `--syntax`:

<details not-open>
<summary>LOG</summary>

[code]

</details>

[2021-04-01 16:29] keczuppp commented on #13
funilrys, can we get some cleaning in this thread, could you put in the spoiler your OFF-TOPIC https://github.com/funilrys/PyFunceble/issues/13#issuecomment-806238322, just like I did with my OFF-TOPICS, thx

[2021-04-01 19:35] ZeroDot1 commented on #230
I can't confirm this, everything runs smoothly for me.

[2021-04-02 15:32] funilrys commented on #232
Hey @ZeroDot1, thanks for the feedback.

With 4.x people should avoid to have their files located at the same location as the defined (per environment variable) or pre-defined (as per docs) output directory.

I'm not sure that this is a real issue because my solution to that will be to delete the `/home/user/output/test.txt` so that I can create the output directory. I'm not sure that it is in our

[2021-04-02 16:00] ZeroDot1 commented on #232
I suggest to move the test file automatically to the document directory if the file is in the output directory and then start the test automatically with the new path.

[2021-04-02 16:32] keczuppp commented on #230
The patch doesn't fix the bug as it makes the bug occurring **every time**, however this means it does touch it, what is a good news, we know where the bug lies, so now it can be fixed finally.

[2021-04-03 16:09] ZeroDot1 commented on #230
I can't confirm this, everything runs smoothly through like liquid butter.

![Bildschirmfoto vom 2021-04-03 18-07-17](https://user-images.githubusercontent.com/28985171/113484225-734ff000-94a7-11eb-938e-bf11ab4c2c43.png)

@funilrys Very good work, thank you very much. i appreciate your work very much. :1st_place_medal:

[2021-04-04 01:43] ryanbr opened #233 "Some domains are reported as INACTIVE which aren't"
Sometimes domains are reported INACTIVE, which aren't always. Makes it more time consuming when needing to investigate each domain regardless

Running `python3 ./PyFunceble --clean-all --adblock -f easyprivacy.txt > output`

[code]

Output: https://secure.fanboy.co.nz/easyp-03-04.txt

[2021-04-04 04:51] #233 closed

[2021-04-04 19:27] funilrys commented on #233
Hi @ryanbr,

sorry for the waiting time. Could you try the beta version of PyFunceble 4.x and let me know if it is still an issue?

Example:

[code]

[2021-04-07 13:05] ZeroDot1 opened #234 "Some ideas for very useful and helpful functions."
* Add a URL/Domain extractor.
With this function it should be possible to extract all URLs/domains from any text and save them to a file so that they can be easily checked at a later time without significant time and effort.
Simply a useful function for blacklist developers.

* Add a search function (yes I know you can do that with Linux, it would just be very handy to be able to do everything wit

[2021-04-07 16:59] ZeroDot1 commented on #234
Most of the online tools are simply unusable because they do not support the extraction of entire domains with subdomains and long TLDs such as .stream.
In addition, most tools are very limited e.g. by a size limitation of input files.

[2021-04-08 10:06] keczuppp commented on #234
- this one looks good and has no problem with it: https://en.rakko.tools/tools/62/, however it has a 50000 lines limit

[2021-04-08 12:50] ZeroDot1 commented on #234
Sorry, no the tool does not work.
I have tested it with different text inputs. From a HTML page with over 95 links only 32 URLs/Domains were extracted.

[2021-04-08 15:14] keczuppp commented on #234
It works very good, but it extracts domains only and not URLs,
I just missed you wanted to extract not only domains but also URLs.

Then there are several browser addons I use myself:
https://addons.mozilla.org/pl/firefox/addon/web-link-extractor/
https://addons.mozilla.org/pl/firefox/addon/link-gopher/
https://chrome.google.com/webstore/detail/link-gopher/bpjdkodgnbfalgghnbeggfbfjpcfamkf
https://

[2021-04-09 01:55] ZeroDot1 commented on #234
All this is not what I would need.
Your suggested tools are nothing more than online helpers.
I need tools that work completely offline.
I can't process 2GB text files with any of your suggestions.

[2021-04-09 07:20] keczuppp commented on #234
Wow.

Are you sure you don't want to split the file into smaller chunks?:
https://stackoverflow.com/questions/18208524/how-do-i-read-a-text-file-of-about-2-gb

Also:
https://stackoverflow.com/questions/159521/text-editor-to-open-big-giant-huge-large-text-files

[2021-04-09 16:30] spirillen commented on #234
:laughing: :rofl:

Try Linux :stuck_out_tongue_winking_eye:

This said, there is a python module that can do this, since you don't have (e)grep available out of the box.
My question to you (@ZeroDot1) is, are your source files in any kind of "standard" formatting? or would it be better to convert them first into some std format, which then can be processed by pyfunceble??

[2021-04-10 07:15] keczuppp commented on #234
Yeah, I'm curious as well, how did he end with a 2GB text file...
- is it a some log which accumulated over time (weeks/months)
- or is it a combined file from other many smaller files (filter lists, html webpages, etc..)

I just can't imagine how can a single 2GB text file ever be created in normal conditions.
I don't think a lot of people need this as it is rather a premium feature request neede

[2021-04-10 16:53] ZeroDot1 commented on #234
I use Linux most of the time.
Yes, this is really a very special function, but I think this function will be very useful and helpful me and for others.

The data are completely mixed files that are combined into one file.
The function should simply be able to read all text independent of the file format, because it makes very little sense with an extraction function to limit the function to specif

[2021-04-10 16:54] ZeroDot1 commented on #234
I use Linux since 1999.

[2021-04-10 18:21] keczuppp commented on #234
As I said in https://github.com/funilrys/PyFunceble/issues/13#issuecomment-797590637 : in case of Adblock Decoder, "Decode everything" mode, will give too many useless false positives which will clutter the output list, making the output a garbare dump.

There is a risk the same might happen with a 2GB mixed file, even if it doesn't contain Adblock Filter lists, or if you are lucky, it might not,

[2021-04-11 13:05] keczuppp commented on #234
Try this offline tool https://www.softpedia.com/get/Office-tools/Other-Office-Tools/Web-Link-Extractor-Linas.shtml#download, I've tested on easylist and:
- the result contain garbare: [result.zip](https://github.com/funilrys/PyFunceble/files/6291798/result.zip)
- you can test your 2 GB file with it to see whether the tool can handle such big files and how much garbare it produces
- by the way this

[2021-04-13 13:16] ZeroDot1 commented on #234
I can not use this tool, I use Linux as a system.

I don't have a VM at the moment because I don't have any free space and I can't buy a new SSD at the moment.

I have somewhere in my archive also a self-programmed software in C# to extract all possible URLs.
I can't use that right now, but a solution that works directly with Linux and command line is best.
I think the best solution would be to us

[2021-04-13 16:16] keczuppp commented on #234
And what about Wine?

It can be done, but the result will contain many false hits / rubbish, you will have to deal with cleaning the output on your own.

[2021-04-15 14:29] keczuppp commented on #230
In `4.0.0.b44` behaviour of the bug is back to random

[2021-04-16 12:14] spirillen commented on #230
@keczuppp can you enable the debug log as @funilrys suggested previously and then share it with us?

Documention on subject: https://pyfunceble.readthedocs.io/en/dev/usage/index.html#logging-level

[2021-04-16 12:36] spirillen commented on #234
I know, I most had been tired as I confused you with someone else :smiley: :sleepy: You are on Arch I know...

Sounds like an integration of [BeautifulSoup](https://pypi.org/project/beautifulsoup4/) could come in handy!!!

This said, I do understand why you (@ZeroDot1) would like to integrate it into @pyfunceble directly.

This is not an objection, but a thought of the [big picture](https://www.my

[2021-04-16 14:53] keczuppp commented on #230
- Done: [output_bug.zip](https://github.com/funilrys/PyFunceble/files/6325970/output_bug.zip) + [output_no_bug.zip](https://github.com/funilrys/PyFunceble/files/6325971/output_no_bug.zip)

- I run: `D:\download_big_temp\_koding>pyfunceble --logging-level debug --syntax -f test.txt` 2 times
- the first run resulted no bug occured (all domains present)
- the second run resulted the bug occured (the

[2021-04-16 16:17] keczuppp commented on #234
I saw it before, but I didn't mention about it coz it supports only HTML or XML, which is not the case the OP requested, he requested to extract from any text.

### 1
I already mentioned about it before (wrote "**might** / **can**" instead of "**will**") as mentioned before:

### 2
You quoted my statement out of context, in my comment https://github.com/funilrys/PyFunceble/issues/234#issuecomment-

[2021-04-18 20:04] spirillen commented on #230
Super, Ping @funilrys

[2021-04-22 16:45] DandelionSprout opened #235 "Assign filetype suffixes to output files to make them faster to open in Windows"
**Is your feature request related to a problem? Please describe.**
Currently, in the generated `output` folders, the files are named e.g. `list`, `INACTIVE`, `INVALID`, with no suffix. This means that Windows' "Which app do you want to open this file with?" dialogue shows up every time I want to open such files, losing about 2sec each time.

**Describe the solution you'd like**
Append `.txt` to th

[2021-04-24 12:53] funilrys commented on #235
Deployment completed. It should be available for testing.

Closing, but feel free to reopen or commenting after testing.

[2021-04-24 12:53] #235 closed

[2021-04-24 13:00] funilrys commented on #101
@spirillen, is this still actual after all those changes?

[2021-04-24 13:01] funilrys commented on #127
@DandelionSprout is this still happening with 4.x ?

[2021-04-24 17:31] spirillen commented on #101
Well, I have never seen any HTTP reponse code in 4.x :smirk:

![image](https://user-images.githubusercontent.com/44526987/115967449-fe665800-a532-11eb-8e4c-c232f138e81c.png)

![image](https://user-images.githubusercontent.com/44526987/115967483-25248e80-a533-11eb-9d79-7592e8359174.png)

Test string:
[code]

Most admit, I've forgot to follow up on this as we spoke of this some time before Christmas

[2021-04-24 18:36] funilrys commented on #101
Nope, you are not doing something wrong. 4.x is different.

In the past, I used to do some unnecessary query and do the evaluation at the end.

In 4.x It's like this (if enabled).

[code]

So first, it tries to switch to a positive status with the WHOIS. If not positive it tries with DNSLOOKUP, if not positive it tries with NETINFO. If not positive it tries with REPUTATION. If not positive it trie

[2021-04-25 09:29] funilrys commented on #232
Hey @spirillen @mitchellkrogza @DandelionSprout,

what's your POV on this?

[2021-04-26 01:30] spirillen commented on #232
:laughing: I kind a suggested this myself earlier and i had a broad smile on my face as I was reading this one yesterday. :+1:

But a lesson learned is this actually is bad as default, but I would for sure welcome a switch for it. I reason example is my test of the [AdAway](https://github.com/AdAway/adaway.github.io/issues/246) list. where a second and third retest would be in best practice for ve

[2021-04-27 10:03] spirillen commented on #101
This is actually super and saves a lot of lookup, however as i sees it, how should you get an HTTP response if you did not get a DNS response :smirk:  Is this related to the https://www.mypdns.org/T1271?

[2021-04-28 17:39] funilrys commented on #128
Reopening, because including such a dataset as a testing mode or comparison more may be interesting in the future.

[2021-04-28 17:42] funilrys commented on #101
Indeed @spirillen,  it's the result of weird behaviors in the past.

[2021-05-01 10:07] funilrys commented on #230
Ping

[2021-05-02 23:34] spirillen commented on #230
:ping_pong: Pong :smile:

@keczuppp Is it solved by https://github.com/funilrys/PyFunceble/commit/38beaee2c5a714ef2159a95c1de825d50b4d663d (v4.0.0b47) ?

Another thing from your logs... Are you running on Win 7 32bit Single core/Thread? as it appears you are only using one core in the tests.

[2021-05-03 00:00] spirillen commented on #128
Hey @jawz101

As I'm re-reading this issue, I'm thinking, Could you use UHBW: https://github.com/Ultimate-Hosts-Blacklist/whitelist/tree/script in conjunction with the top 1mil list?

[2021-05-03 18:53] jawz101 commented on #128
How so?  Like to see if a blocklist is overblocking?

[2021-05-03 23:21] spirillen commented on #128
reverse engineering :smirk:   if you like I can help make it spinning, it will likely be a bit clumsy and end up using grep in a `for loop`

[code]

Or something like that

[2021-05-04 02:55] jawz101 commented on #128
I do not understand

[2021-05-09 09:27] keczuppp commented on #230
It is finally solved by `v4.0.0b47`.
I was using Win7 64bit, with default pyfunceble settings.

[2021-05-09 09:27] #230 closed

[2021-05-16 22:27] DandelionSprout commented on #127
Testing with the newest 4.x version through pip, along with Python 3.9.5, PyFunceble does at least run in PowerShell now. So that's a good start. 🎉

On the other hand, being able to run it, means that I see that the color codes for lines don't work in PowerShell, and that PowerShell runs 4.x at approx. 1/15th of the speed that Cygwin does.
![image](https://user-images.githubusercontent.com/2278068

[2021-05-17 08:21] funilrys commented on #127
Hi @DandelionSprout,
That's an awesome news :tada:
I guess that it's because of the coloration if you are sure that no firewall or virus scanner is slowing down or preventing the writing to disk.

There is the `--colour` switch and it's `cli_testing -> display_mode -> colour` configuration counterpart if you want to get rid of it!

Here is what we deploy:

https://github.com/funilrys/PyFunceble/bl

[2021-05-23 18:52] funilrys commented on #127
@DandelionSprout can you explain how you installed it under windows (PowerShell) ? I'm looking for someone to help me close #83.

[2021-05-23 22:18] DandelionSprout commented on #127
From what I remember:

1) I used PowerShell 7.1.3, downloaded from Microsoft Store.
2) I installed the GUI installer for Python 3.9 for Windows.
3) I run `pip install --user --pre PyFunceble-dev`, and PyFunceble is correctly installed.
4) Here's comes the most interesting part: Due to having refreshed my Windows 10 installation 2 months ago, `pip` then shows quite a few errors (circa 10) about mis

[2021-05-25 03:03] DandelionSprout opened #236 "Odd error: "Fatal Error: A DNS query response does not respond to the question asked.""
## Bug description

When running https://raw.githubusercontent.com/VeleSila/yhosts/master/hosts through PyFunceble, I received the titular error near the end of the run.

## Modifications under `.PyFunceble.yaml`

None that I'm aware of.

## Reproduction

Steps to reproduce the behavior:
1. Download `https://raw.githubusercontent.com/VeleSila/yhosts/master/hosts` locally.
2. Remove `127.0.0.1 ` fr

[2021-05-26 18:01] #236 closed

[2021-05-26 18:01] funilrys commented on #236
Closing as 4.0.0b49 has been deployed. It should contain the patch that fixes this issue.

Thank you for the feedback @DandelionSprout 🎉

[2021-05-29 20:40] funilrys commented on #132
Note to self: Since the introduction of the `.PyFunceble.overwrite.yaml` file, it is not necessary nor wanted to create an extra file for this. We shouldn't add some "hidden" or "secret" files.

We should implement this feature through a new configuration section/index/key. It's way easier to maintain persistency now than earlier thanks to the `.PyFunceble.overwrite.yaml` configuration file that i

[2021-05-29 20:42] funilrys commented on #83
@DandelionSprout  [said](https://github.com/funilrys/PyFunceble/issues/127#issuecomment-846632513):

Therefore, I'm closing this issue as it looks like an installation and windows related issue. Feel free to try what @DandelionSprout wrote and give us some feedback.

[2021-05-29 20:42] #83 closed

[2021-05-29 20:43] funilrys commented on #127
Closing as I'm not able to test with windows. Feel free to add feedback over time @DandelionSprout.

Thanks to everyone.

[2021-05-29 20:43] #127 closed

[2021-06-01 08:00] spirillen commented on #128
You are extracting matches between the top1mill and source file and generates a new file to test and distribute

[code]

With the `grep` command you are reading lines and making a match to your own source (hosts) file, then for each match between the source (hosts) file and the top1million file will be outputted to a new file, this one could now be tested with pyfunceble and only contains records

[2021-06-01 17:13] jawz101 commented on #128
ah.  gotcha.  So it's like checking domains PyFunceble Offline... basically.  Since we now have a list of DNS records the world already look up.

I love those files.  I will say I try to download like "the past 30 days" of them because what if, say, a mobile app uploads a file of data it collects on you every 15 days.  So maybe a DNS record doesn't get hit every day of the month.  That was my thou

[2021-06-01 19:17] spirillen commented on #128
SI, noticed that

https://github.com/spirillen/adaway.github.io.top1mill.hosts/blob/11ae4e93d1a7a001d5637f325eb3c16fd0ad3805/compare.sh#L55

PS, the script can be run from a terminal.... the GHA are teasing me....

Just remember to out comment

https://github.com/spirillen/adaway.github.io.top1mill.hosts/blob/11ae4e93d1a7a001d5637f325eb3c16fd0ad3805/compare.sh#L77

Can't you just extract from the

[2021-06-01 20:00] jawz101 commented on #128
that's the same one I link to.  http://s3-us-west-1.amazonaws.com/umbrella-static/index.html .  the one on that page

[2021-06-01 20:37] spirillen commented on #128
Weird, I only had about 495.xxx lines from the one I found you linked to, while the other one from `http://s3-us-west-1.amazonaws.com/umbrella-static/index.html` provided the 1mill records.

I see, that a lot of stats, what are you table(s) layouts?  maybe I can come up with an idea for something.

[2021-06-02 00:16] spirillen commented on #128
# OT

@jawz101 the script is now running as supposed hence not as I thought it should be, but it is running....

https://github.com/spirillen/adaway.github.io.top1mill.hosts  If you like I can transfer the repo to you.

[2021-06-05 13:58] DandelionSprout opened #237 "PyFunceble 4 fails to recognise "!" lines as comments that should not be included in the search"
## Bug description

When running https://raw.githubusercontent.com/DandelionSprout/adfilt/master/GDPR%20451%20List.txt through PyFunceble 4.0.0b48dev, PF incorrectly interprets every single individual word in `!`-type commented-out lines as domains.

## Modifications under `.PyFunceble.yaml`

None that I'm aware of.

## Reproduction

Steps to reproduce the behavior:
1. Save `https://raw.githubuser

[2021-06-05 19:02] spirillen commented on #237
Nice catch, but I thought we had this one fixed :unamused:

From your dump, I'll suggest that all lines starting with a special character is considered a comment line to hit as broad as possible & that any such lines anyway always would be a INVALID.

Characters in question to be added as comment line

[code]

[2021-06-06 12:47] funilrys commented on #237
Hello there, I'm not ready to accept all possible comments characters. The most common ones are `#` and `!`.

I'm not going to follow the `!"#¤%&/()=?'*~"^` suggestion. But I'll implement extend the source code to support the `!` character.

Stay safe and healthy.

[2021-06-06 13:32] funilrys commented on #237
Closing as `b50` should be able to handle this.

Feel free to reopen or comment if something is not clear after your test of `b50`.

[2021-06-06 13:32] #237 closed

[2021-06-06 15:33] spirillen commented on #237
Hey @funilrys You should at least append `//` as they are supported by ICS Bind9 <https://downloads.isc.org/isc/bind9/9.16.16/doc/arm/html/configuration.html#a-caching-only-name-server>

[2021-06-06 18:13] funilrys commented on #237
Hey @spirillen, this issue is all about the decoding of plain text and host files.

The decoding of your RPZ format is handled differently. If you look at the source code, it's already supported:

CF:

https://github.com/funilrys/PyFunceble/blob/bf704a852424cc0f4238467b614e882a19943f1a/PyFunceble/converter/rpz_input_line2subject.py#L65

Cheers!

[2021-06-06 19:43] spirillen commented on #237
It wasn't about RPZ :smirk: it is about trying to predict what might be extracted from various sources before they got into pyfunceble :wink:

I know they are fixed for RPZ decoding, also why I actually was surprised it wasn't added to the "plain text" decoding :wave:

[2021-06-11 10:58] spirillen opened #238 "FR: List test file in status area"
**Is your feature request related to a problem? Please describe.**
As you can see on the screenshot below, I've tested for sources. But witch printed status applies to which sources??

**Describe the solution you'd like**
Have a "title" for each status print telling which source the status belongs to.

Why imagine the status for my [dead-hosts](https://github.com/mypdns/dead-hosts) if you ran that

[2021-06-11 11:10] spirillen commented on #234
Hey @ZeroDot1

As I'm re-reading your suggestion, I sitting here and thinking:
What would you prefer?
  1. A separated tool that can extract a random list and then test them through the PyFunceble API
  2. A integrated tool to PyFunceble

Related to: [Adult Contents submit program #python](https://www.mypdns.org/T2475)

[2021-06-13 09:16] funilrys commented on #238
Hi @spirillen, they are in the same order you declared them.

[2021-06-13 17:46] spirillen commented on #238
Moved "issue" to https://github.com/spirillen/PyFunceble/issues/45 for adding this to the docs.

[2021-06-13 17:46] #238 closed

[2021-06-16 00:28] spirillen opened #240 "An escaped code in a text format of DNS name is invalid."
## Bug description
An escaped code in a text format of DNS name is invalid.... Yes and!!

Oh yeah, build failure :smirk:

https://github.com/mypdns/matrix/runs/2833637476?check_suite_focus=true#step:6:13727

## Modifications under `.PyFunceble.yaml`

Usually Plenty: https://github.com/mypdns/matrix/blob/991bb7b81fad9563dce7bad80aa188574be86a97/.pyfunceble/.PyFunceble.yaml

## Reproduction

Steps t

[2021-06-17 20:36] #240 closed

[2021-06-20 11:20] funilrys commented on #232
@ZeroDot1, sorry but I'm closing this. @spirillen explained why this is a bad idea.

[2021-06-20 11:20] #232 closed

[2021-06-20 15:30] funilrys commented on #171
Introduced with https://github.com/funilrys/PyFunceble/commit/90039a5899164fcb6ae0100221b2e953b56b5461.

[2021-06-20 15:30] #171 closed

[2021-06-26 22:54] #101 closed

[2021-06-26 23:24] funilrys commented on #134
Hello everyone,

Just a warning from me, in the coming days/weeks the `b` in `4.0.0bXX` will be removed. Meaning that if you have some automatisms that are downloading the latest `pyfunceble-dev` version, you will get `4.0.0`.
**This is my last warning.** Be sure that you pined your version or you tested the `4.0.0bXX` against your automatisms. A lot has been changed in this major version.

## How

[2021-06-26 23:34] dnmTX commented on #134
How about that none of them lists is updating for months and months.
I started moving my lists upstream.
Honestly,loosing hope here that this ever will get fixed.
What's the point of all those Ultimate.Hosts....repos if nothing gets updated.
Looking at you @funilrys 👀

[2021-06-26 23:41] funilrys commented on #134
@dnmTX It's next on my list ... I just noticed that the central repository was still behind Travis CI (I don't know how it is possible but it was probably still tight to Mitch's personal account).

I'm coming back but slowly ... Thanks for the @\ping.

[2021-06-26 23:45] spirillen commented on #134
Hey @dnmTX are you sure you posted this the right place?? seem more like it should have been posted in the IHB group with a ref.. (Just saying)

[2021-06-26 23:48] funilrys commented on #101
@spirillen, please read the commit before saying that something is not as you described :wink:

[2021-06-26 23:59] DandelionSprout commented on #134
I think that's *far* more of a matter to report at https://github.com/Ultimate-Hosts-Blacklist/Ultimate.Hosts.Blacklist/issues instead.

[2021-06-27 00:02] spirillen commented on #101
:rofl: actually did :smirk: see my note in the commit, the code seems fully HSTS compliant (https://mypdns.org/pyfunceble/PyFunceble/-/commit/d4b67bdf971cd57d7ba52bdf26d3dcf0e15233b9#3cb77bda9a41e7e0a31a779f30b7012b487e7314_477_600)

[2021-06-27 00:12] dnmTX commented on #134
i'm posting whever i see fit....how is that for an answer @DandelionSprout  &&  @spirillen  ?????????

[2021-06-27 13:04] spirillen commented on #101
:BUHUU: :bug:

`requests.exceptions.TooManyRedirects: Exceeded 30 redirects.`

Source:
  - https://github.com/mypdns/porn-records/runs/2924212453?check_suite_focus=true#step:10:5092
  - https://github.com/mypdns/porn-records/runs/2923129154?check_suite_focus=true#step:10:5091
  - https://github.com/mypdns/porn-records/runs/2923340642?check_suite_focus=true#step:10:5091
  - https://github.com/mypdn