[2021-06-27 13:04] spirillen opened #241 "bug: requests.exceptions.TooManyRedirects: Exceeded 30 redirects."
:BUHUU: :bug:

`requests.exceptions.TooManyRedirects: Exceeded 30 redirects.`

Source:
  - https://github.com/mypdns/porn-records/runs/2924212453?check_suite_focus=true#step:10:5092
  - https://github.com/mypdns/porn-records/runs/2923129154?check_suite_focus=true#step:10:5091
  - https://github.com/mypdns/porn-records/runs/2923340642?check_suite_focus=true#step:10:5091
  - https://github.com/mypdn

[2021-06-27 13:17] spirillen opened #242 "BUG?: hint: (e.g., 'git pull ...') before pushing again."
## Description

This is my first seeing, of this error in a while, which makes me kind a believe it can be related to https://github.com/funilrys/PyFunceble/issues/241

## Configuration
See: https://mypdns.org/my-privacy-dns/matrix/-/blob/3ccc8d5e00709caedd0b6b6e171584e45584f8c7/.pyfunceble/.PyFunceble.overwrite.yaml

## Reproduction

1. https://github.com/mypdns/matrix/runs/2925022834?check_suite

[2021-06-27 13:17] funilrys commented on #241
What the hell are you testing ... That's something new ... Who redirects more than 30 times !??

[2021-06-27 13:18] funilrys commented on #101
That's a new bug ... unrelated to the patch I pushed ...

[2021-06-27 13:39] funilrys commented on #242
That's weird, I think I do everything correctly:

https://github.com/funilrys/PyFunceble/blob/a2244be80fdfd847864770655563a0a524428017/PyFunceble/cli/continuous_integration/base.py#L1119-L1128

[2021-06-27 13:41] #241 closed

[2021-06-27 15:04] spirillen commented on #242
True

If we dig a bit deeper, well also notice the error concerns

https://mypdns.org/my-privacy-dns/matrix/-/blob/3ccc8d5e00709caedd0b6b6e171584e45584f8c7/.github/workflows/main.yml#L75

[2021-06-27 15:05] #242 closed

[2021-06-27 15:09] spirillen commented on #241
:rofl:

google?? maybe!! I don't know, can't see the record in question :smirk:

[2021-06-28 22:01] spirillen commented on #218
Yeps

[2021-06-29 08:22] spirillen opened #243 "BUG: Suttenly just stops...."
## Description

<details><summary>The log</summary>

Process pyfunceble_tester_worker_5:
Process pyfunceble_producer_worker_1:
Process pyfunceble_tester_worker_22:
Traceback (most recent call last):
  File "/home/joakim/miniconda/envs/pyfunceble4/lib/python3.9/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/home/joakim/miniconda/envs/pyfunceble4/lib/python3.9/site-pack

[2021-06-29 10:25] spirillen commented on #243
When I'm looking in `/tmp/pyfunceble/output/hosts.txt/Analytic/SUSPICIOUS/suspicious_and_merged_in_results` then it end with these lines....

[code]

[2021-06-29 22:17] funilrys commented on #127
Hey @spirillen, should we document this ?

[2021-06-29 22:36] spirillen commented on #127
In case off I would say it would be something like python on windows doesn't export to PATH, this is a know Python "Issue"

And then maybe something about if you are stocked on a windows it have been seen some performance advancement by using cygwim.

On the other hand.... it is a windows limitation, not python / PyFunceble....

--------

If you find any of this interesting or useful throw a [tick

[2021-06-29 22:36] funilrys commented on #234
The search "function" won't be my priority. Other tools should be able to handle it better.

But some dedicated tools which proxies our internal decoders (like the [adblock-decoder](https://github.com/PyFunceble/adblock-decoder)) may be provided in the future.

Let's keep this open.

[2021-06-29 22:56] funilrys commented on #127
Actually, if my memory is still good, during the installation of python (in expert mode), there is a checkbox to add python to the PATH. If people don't do it, they have to later (don't know how) add it 😢 ...

I'm lost regarding Windows issues ....

[2021-06-29 22:57] funilrys commented on #127
Let's keep this issue or @DandelionSprout comment's as a reference for everything regarding windows installation ...

[2021-06-29 23:28] spirillen commented on #127
In the old days it was somewhere under "This computer" -> "properties" -> "advanced"

For the more "hardcore" you would do this in the reg_DB :)

https://www.reck.dk/reload-windows-enviroment-variables-whitout-restart/ :wink:

[2021-07-01 10:42] spirillen opened #244 "FEATURE: Merge results to one output"
## Description

This use-case is coming from the creation of `qq.com` at https://mypdns.org/my-privacy-dns/matrix/-/issues/1892, where I have to collect data from 5 sources....

1. a PR: https://github.com/AdAway/adaway.github.io/pull/262
2. Existing sources: https://github.com/AdAway/adaway.github.io/blob/master/hosts.txt (In case of removals and ups's)
3. My Own RPZ `drill axfr rpz.mypdns.cloud

[2021-07-04 08:08] funilrys commented on #243
It it better now ?

[2021-07-04 10:48] spirillen commented on #243
I saw your commit :+1: I'll give it a spin a little later.... searching for the topic, where you was asking about documenting win+python+cygwin as I have the docs repo opened :smiley:

[2021-07-04 11:46] spirillen commented on #244
This feature request also touches the FAQ: <https://pyfunceble.readthedocs.io/en/dev/facts/known_issues.html#combination-of-f-uf-and-adblock>

[2021-07-04 13:28] spirillen commented on #243
Follow up... :unamused:

[2021-07-04 14:14] spirillen commented on #146
Seems fixed... test file: https://gist.githubusercontent.com/spirillen/b9048539648ea495339b2fee6191914f/raw/5abfb3a75aa074c47a67a5704db85e0f2f768d02/360.cn.list (https://gist.github.com/spirillen/b9048539648ea495339b2fee6191914f)

Closes: https://github.com/funilrys/PyFunceble/projects/6#card-52395078

full test string etc:
[code]
[code]

[2021-07-04 14:17] spirillen commented on #173
Believes we should move this project to done :smirk:
https://github.com/funilrys/PyFunceble/projects/6#card-52384189

[2021-07-04 14:25] spirillen commented on #181
I believe we can move this one to Successfully tested https://github.com/funilrys/PyFunceble/projects/6#card-52499524

[2021-07-04 14:31] spirillen commented on #183
Can't reproduce this error

[code]

This should be moving the issue to "Successfully Tested" in https://github.com/funilrys/PyFunceble/projects/6

[2021-07-04 14:33] spirillen commented on #187
shoud be in the "Done" at https://github.com/funilrys/PyFunceble/projects/6#card-52575707

[2021-07-04 15:18] spirillen commented on #203
Haven't seen this behavior for a very long time, I believe it should be safe to mark "Re-testing" as done

[2021-07-04 15:22] spirillen commented on #200
Should be moved to Done on https://github.com/funilrys/PyFunceble/projects/6

[2021-07-04 15:24] spirillen commented on #201
We can't due any further than shifting to a non Microsoft terrorized image of the Ubuntu runner in GHA

Should be moved to done on the workboard https://github.com/funilrys/PyFunceble/projects/6

[2021-07-04 15:26] spirillen commented on #63
@ZeroDot1 is this related to https://gitlab.com/ZeroDot1/CoinBlockerLists/-/issues/65 ??

[2021-07-05 14:02] spirillen commented on #197
Retested = done

[2021-07-07 11:16] spirillen commented on #243
[Keybase chat](keybase://chat/pyfunceble.issues#issue_reporting/151)

PyFunceble v4.0.0b47

Fails with `--preload` + `db-type mariadb`

With the following errors

[code]

Another killed run, this time with the --db-t = csv

[code]

[2021-07-07 11:56] spirillen commented on #243
Hmm

One source is working....

![image](https://user-images.githubusercontent.com/44526987/124754785-e3e52d80-df2a-11eb-95ce-be9783455945.png)

While multiply source keeps freezing...

[2021-07-07 13:21] spirillen commented on #243
To followup on https://github.com/funilrys/PyFunceble/issues/243#issuecomment-875541852 latest comment, I've just reused the exact same test string on clefspeare13/pornhosts and it keep failing.

![image](https://user-images.githubusercontent.com/44526987/124766203-fd8c7200-df36-11eb-845e-e4affc5748cd.png)

[2021-07-09 15:52] #244 closed

[2021-07-09 22:47] funilrys commented on #132
Note to self after thinking about this .... With the complex schema described in https://github.com/funilrys/PyFunceble/issues/132#issuecomment-751459457, the implementation shouldn't provide any `--argument`. Everything regarding that complex this should be done from the configuration file (cf: previous comment).

The reason behind this is the complexity that is going up. For most people, the `HT

[2021-07-10 08:09] spirillen commented on #132
You are still missing the `--SOCK5-proxy` to support i.e. the `*.onion` and other country specific domain That can't be access (nor should) do to the GDPR, by which many American sites have blocked access from EU IP-adresses.

[2021-07-10 16:46] funilrys commented on #132
Hey @spirillen, with the requests python module, a `sock://` URL can be passed as `HTTP_PROXY` or `HTTPS_PROXY` if you install `requests[sock]` 😋

[2021-07-10 19:39] spirillen commented on #132
Super @funilrys didn't know that. I'm used to be a bit more specific about the protocols :smirk:

[2021-07-11 09:57] funilrys commented on #243
This is not the right version...

[code]

Line `106` is not that line in the latest 4.x version.

It looks like the domain that is being tested has a high amount of `CNAME` ...

[2021-07-11 10:00] funilrys commented on #185
This one is odd ... Who does that ?

[2021-07-11 11:37] spirillen commented on #243
Hmm the script (should) install with pip git-http:repo....

Another thing is, with 4.0.0.b53 it just worked... See https://github.com/Clefspeare13/pornhosts/commit/60360140931c9baa2da4a9872a7a2eb2b78e4525

But I'll give it another spin a bit later where I do the script lines manually

[2021-07-11 11:41] spirillen commented on #185
user who don't know better: https://github.com/Clefspeare13/pornhosts/issues/60

Have seen that other places as well actually, that why I suggested it in a global "scaled", other times I simply suspect some are using a script to completely headless append the `m.` and `www.` just to make there lists grow

[2021-07-11 15:27] funilrys commented on #243
Well, before b53, we were not manually resolving CNAME through our custom resolver ...

[2021-07-15 13:21] ZeroDot1 opened #246 "BUG: ScannerError"
## Description

[code]

After PyFunceble finished working, these errors occurred.

[code]

[2021-07-17 10:44] funilrys commented on #246
@ZeroDot, can you send us your configuration file ? It looks like it's not correctly formatted.

[2021-07-17 15:07] ZeroDot1 commented on #246
Strange, I changed absolutely nothing in the file, I set all the settings once and then forgot and never touched it again...

Here is the file see link:

https://gist.githubusercontent.com/ZeroDot1/cf4de1e7233318fa6226a52b737b4038/raw/c31980e3f5da815fef97982f05b0077a26e866d6/.PyFunceble.yaml

[2021-07-18 19:06] ZeroDot1 commented on #246
[code]

OK, after the last update, the configuration file was just completely replaced, and all my settings are gone.
This is not good, and definitely not how it should be.
Unfortunately, I realized that it went so wrong later.

[2021-07-19 05:29] funilrys commented on #246
@ZeroDot1 That's why you should put your own configuration into the `.PyFunceble.overwrite.yaml`.

For this issue I will invite you to wipe the `.PyFunceble.yaml` file and put your own settings into `.PyFunceble.overwrite.yaml` (that file should be generated for you by PyFunceble if it doesn't exists but is never touched again. After the creation PyFunceble will read it and overwrite the standard

[2021-07-20 11:45] spirillen commented on #246
Just to ensure there is a warning about this :smirk:

![image](https://user-images.githubusercontent.com/44526987/126316912-4598c253-0244-48af-ab35-676f5937f69c.png)

However I'll admit, there should be some kind of confirmation as when `.PyFunceble.yaml Y/N` that would warn users about this different behavior when they upgrade from 3.x to 4.x where `.PyFunceble.yaml` is ALWAYS overwritten in 4.x.

[2021-07-20 12:53] ZeroDot1 commented on #246
Hi  @funilrys @spirillen,

OK, I recreated my configuration file, and put it separately in PyFunceble.overwrite.yaml.
That I had to do it this way was simply not clear to me, because I assumed that I can create a configuration once and then forget it.
It would be better for future changes to display them immediately before the start of PyFunceble or otherwise make users aware of it.
Also, the whol

[2021-07-20 13:54] spirillen commented on #246
@ZeroDot1 is these words "god enough" or do you see room for further improvement?

https://github.com/funilrys/PyFunceble/pull/247/files#diff-d40c282f1ebb52b1000d68a78260a20617e22ff89f83a5ca1916c6c61cff427cR21-R26

[2021-07-20 14:57] ZeroDot1 commented on #246
@spirillen OK, perfect, thank you very much.

[2021-07-20 17:16] spirillen commented on #243
:cry: :sob:

This issue persists in b62...

This time it is `www.shopgiggles.com`

[code]

<details><summary>shell output on quit</summary>

![image](https://user-images.githubusercontent.com/44526987/126367374-732a901b-e922-4572-99f5-421b4cc209ba.png)

[code]

</details>

[2021-08-04 14:14] DandelionSprout opened #249 "FEATURE: Headsup that future versions of PyFunceble must not require cryptography ≥3.4, because its use of Rust makes it impossible to install or handle in Cygwin"
## Description

Okay, so after 6 hours of looking into why Cygwin didn't want to install PyFunceble 4.0.0b62, there appears to be multiple major problems with the "cryptography" package in PyFunceble's dependency list, at least one of which is fatal:

PyFunceble currently requires `cryptography 3.3.2` or higher. By default, all PyFunceble installation methods I've tried, currently tries to install

[2021-08-15 10:38] funilrys commented on #249
For the story follow `https://github.com/pyca/cryptography/issues/5771`. A special dependency file for windows will be provided.

[2021-08-15 10:39] funilrys commented on #249
I will do it because PyFunceble is running in highly automated environments.

But, please keep in mind, that you should really try to install it correctly: https://cryptography.io/en/3.4.5/installation.html#building-cryptography-on-windows

[2021-08-15 10:43] DandelionSprout commented on #249
Shy of anyone figuring out a way to compile Rust itself for Cygwin, it is sadly impossible for me to correctly install cryptography 3.4 for use in my work environment, from what I read up on about the matter 2 weeks ago.

[2021-08-15 10:57] #249 closed

[2021-08-15 11:06] funilrys commented on #249
@DandelionSprout, @spirillen is working on documenting this #247. But let's consider this a non-issue as https://github.com/funilrys/PyFunceble/commit/6051c636473606fa95a2d4b011dab9384b536db5 works around this.

[2021-08-15 13:07] funilrys commented on #243
Ping @spirillen ==> Please test.

[2021-08-15 17:46] spirillen commented on #249
Ping @spirillen to follow the workaround, to see if a note is needed......

[2021-08-15 17:49] spirillen commented on #243
Ey Ey captain.

[2021-08-19 08:32] funilrys commented on #243
@spirillen version already bumped :-) The last commits were just for CI/CD fixes as they were not working. So the last release has everything ..

[2021-08-19 09:38] spirillen commented on #243
You are not going to like this.... Have been running all knight (10 hours+)

https://github.com/Clefspeare13/pornhosts/blob/47fa9c25b0b7b20c816881c5521aec563757195e/toolbox/domain-test.sh

<details><summary>Log</summary>

[code]
[code]

</details>

[2021-08-24 12:43] keczuppp commented on #13
OK, so I've just tested the newest PyFunceble dev right now and I've noticed that the reported issues mentioned in :
https://github.com/funilrys/PyFunceble/issues/13#issuecomment-749607193 and https://github.com/funilrys/PyFunceble/issues/13#issuecomment-803537932 have been fixed.
<hr>

The summarision:

- the current EasyList Polish contains 3190 domains and the newest Pyfunceble has extracted 31

[2021-08-28 21:31] DandelionSprout commented on #249
Given that requiring Rust (or working around it with older packages) can be a make-or-break for some categories of potential users, this does sound like it'd qualify as a known issue.

[2021-08-31 13:17] spirillen commented on #249
Hey @DandelionSprout

Did the patch in commit https://github.com/funilrys/PyFunceble/commit/6051c636473606fa95a2d4b011dab9384b536db5 workaround this issue properly??

https://github.com/funilrys/PyFunceble/commit/6051c636473606fa95a2d4b011dab9384b536db5#diff-14138d007c8c5ea96638c34a39ab76db7139da485b98fb598f2a012da21b37a4R3

[2021-09-02 09:31] funilrys commented on #249
WARNING: The patch only touches people/machines that are going to install PyFunceble under Windows.

[2021-09-02 19:18] spirillen commented on #249
That is also what all this is about, for what I understand.

My question solely concerns whether a "known bug" is to be written or not, but as @DandelionSprout confirms you (@funilrys) have solved this in https://github.com/funilrys/PyFunceble/commit/6051c636473606fa95a2d4b011dab9384b536db5 I do not see any reasons for making any further text about this for know.

The only reason I can see this sh

[2021-09-03 10:39] funilrys commented on #249
Fresh installation of 4.x within windows shouldn't meet this issue ever again. But I would still recommend people to upgrade their cryptography package if they can ...

[2021-09-03 18:32] spirillen commented on #243
Ping, Ping any news on this one? or is it your work that takes up all your spare time :factory_worker:

[2021-09-04 17:05] funilrys commented on #243
I ran several tests on my raspberry pi but I couldn't find the underlying issue 😞

[2021-09-04 19:30] spirillen commented on #243
and without the logs....

Have you tested with some changes to the script for how you merge in the `apparently_inactive` to the final result file? as I have the feeling of is the place where this is going wrong.

[2021-09-05 10:35] funilrys commented on #243
@spirillen, are dots actives ?

[2021-09-05 12:08] spirillen commented on #243
Nope, You can see the full script at https://github.com/Clefspeare13/pornhosts/blob/af6a3cc2f900e521ba096217805b2485090fdb6b/toolbox/domain-test.sh#L115

The only thing I touches is the dns server used

[2021-09-06 08:55] spirillen commented on #243
Running on a newly installed Linux (Yes I upgraded my sisters Windows)

![image](https://user-images.githubusercontent.com/44526987/132189479-01d834cc-d858-422b-a1c3-ee311af7d109.png)

Now I don't get any of the error described earlier. Which means it for sure looks like https://github.com/funilrys/PyFunceble/commit/093ff809a23eaf1c2e9bb4cdf90a051f0e514682 solved the issue, it also means I have to

[2021-09-06 09:27] spirillen commented on #246
Hi @ZeroDot1

Was the issue actually ever solved? or is the issue come to a stall?

PS: I have been writing a bit more about the `.PyFunceble.overwrite.yaml`
 in https://mypdns.org/spirillen/PyFunceble/-/commit/955ae63351ffd58bbd75079699fed52170b0a883#efcd8a9d213d3023a5a48ee72bacd1c84a3fad7d_28_31

[2021-09-07 07:05] funilrys commented on #246
After using the `.PyFunceble.overwrite.yaml` file, there shouldn't be any issue at all - in the future.

[2021-09-08 20:24] #246 closed

[2021-09-13 22:16] spirillen commented on #243
@reopen :baby: :sob:

To continue our keybase comments on this issue, I have to say this is happening on the ned ubuntu installation too now.
The only major thing I can think of that have changed since about a week ago, is I have install docker, gimp, konquere, graphicsmagick, hexchat, python3.9 (from .bash_history)

From pip we have: adblock-decoder, pylint

[2021-09-20 11:53] spirillen commented on #243
Finally got some good stuff from the debug log....

The issue with >=b54 isn't related to a cname loop... it's related to non existing records

<details><summary>DEBUG LOG</summary>
[code]

</details>

[code]

And here comes the real question... where do the lookup off `wildcard.utherverse.com` comes from?? it have never been within any test source...

[code]

[2021-09-20 20:35] funilrys commented on #243
LoL ...

[code]

[2021-09-20 20:42] spirillen commented on #243
aaahhhhh

this one is actually cname'ing to it self....

So when records are cnamed to them self you have and endless loop, the Q is now, is that dnspython or?

drill -t CNAME wildcard.utherverse.com @192.168.1.6
;; ->>HEADER<<- opcode: QUERY, rcode: NOERROR, id: 37973
;; flags: qr rd ra ; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; QUESTION SECTION:
;; wildcard.utherverse.com.     IN

[2021-09-20 20:55] #243 closed

[2021-09-20 20:56] spirillen commented on #243
From IRC OFTC #powerpdns

<spirillen> evening guys, I know this is a bit OT, but I couldn't find my answer by a search. And since you work with dig/drill everyday one of you might hold the answer. Do any of you know why drill/dig do not showing cname that points to itself. IE  wildcard.utherverse.com  CNAME wildcard.utherverse.com
<ph1> uhh well they do 'show' it but do you expect that to actually

[2021-09-20 21:03] funilrys commented on #243
Yup, that's it ... And as we have our own resolver ... 😄

Can't deploy because coveralls.io is down: https://status.coveralls.io/ ...

[2021-09-20 21:10] spirillen commented on #243
yeah annoying when you think you've solved a bug and you then can't test it properly :unamused:
Did you see the docs review request here: https://mypdns.org/spirillen/PyFunceble/-/merge_requests/46

[2021-09-20 21:36] funilrys commented on #243
New version deployed.

[2021-09-21 13:32] spirillen opened #251 "FEATURE: Autocompletion of args"
## Description
It burring, you makes mistakes, we should have though of this a long time ago...

We are on Linux right? so why is it we haven't studied how we can make the args to become autocomplete with our most beloved :heart: TAB :heart_eyes:

## Possible Solution
Do some scripting....

## Considered Alternative
Have someone else to type for you.... :laughing:

## Additional context

[2021-09-21 15:01] funilrys commented on #251
I like the idea. But it may take some time. I want to roll out 4.0.0 first (it's about time!?)

[2021-09-21 15:16] spirillen commented on #251
I don't understand you haven't merged @dev with @master after the fix last knight it for sure solved the issue and I have been running the script on every single Ubuntu I have with success. So we did find the right issue.

[2021-09-21 15:36] funilrys commented on #224
@spirillen, some may wonder if they see a "pyfunceble-xxxxxxxx.com" in their logs .... If you have time, can you try to document this behavior based on what I wrote?

[2021-09-21 15:45] spirillen commented on #224
I'll give it a look later.... trying to optimize the mypdns.org server at this moment...

But from the top of my head, which log are we talking about, Translated is it the dns/web/???

[2021-09-21 15:47] spirillen commented on #251
I think we have... I haven't noticed that we should be missing anything :smile:

[2021-09-21 17:06] spirillen commented on #224
Not shown in my dns log...

`sudo rec_control trace-regex "^pyfunceble.*\.com"`

[code]

![image](https://user-images.githubusercontent.com/44526987/134215574-52ddda19-ec0a-45e2-991e-e0a75badeed0.png)

Or did I misunderstand something ??

[2021-09-21 19:35] #224 closed

[2021-09-21 20:14] funilrys commented on #234
btw, the [PyFunceble Web Worker](https://github.com/pyfunceble/web-worker) project, provides some endpoints for the decoding/conversion of inputs.

It basically exposes the (internal) converter of PyFunceble behind a web server / API. I can't and don't want to hosts such a service (yet) but it can be a good alternative for some people ... I'm still ready to fix the issues reported there though.

!

[2021-10-02 21:03] funilrys commented on #134
`4.0.0` released. Closing.

[2021-10-02 21:03] #134 closed

[2021-10-04 11:09] keczuppp opened #255 "FEATURE: Implement check the availability of website / detection of parked & for sale domains"
## Description

I have been thinking about it even before I've found this: https://github.com/StevenBlack/hosts/issues/1613#issuecomment-820162550 @AdKiller

As many as dead (non-existent domain etc) domains, there are many parked / for sale zombie domains, which still do exist but are dead at the same time...: "This domain is for sale", "Website is no longer available", currenlty PyFunceble marks

[2021-10-04 19:42] spirillen commented on #255
The trick is to setup your own DNS recursor and then import (Setup, configure) it with the RPZ zone `pirated.mypdns.cloud`

The reason is you then will be blocking through the [.rpz-nsdname](https://mypdns.org/mypdns/support/-/wikis/RPZ-record-types#the-nsdname-trigger-rpz-nsdname-anchor-nsdname) The next thing you have to do is to disable the http status code and whois check and purely relay on t

[2021-10-06 00:12] spirillen opened #256 "BUG: GitLab-CI"
## Description
As GHA is killing all our test jobs I decided to move on an install my own Gitlab-runners on mypdns. The thing is now that we have released the long time beta to stable I find this bug...

As setting up the pyfunceble  runner on gitlab is new, I take the risk of posting a Homer "DDOOH"

As mentioned before this is rather new so I started out with the template from the [docs](https:/

[2021-10-07 22:02] spirillen commented on #256
Not really, it's all on the docs.gitlab.com, but the variables keeps changing so it is my best advice to look there

a search https://duckduckgo.com/?q=site%3Adocs.gitlab.com+gitlab-runner+variables&t=ffab&ia=web gives me these feedback's

https://docs.gitlab.com/ee/ci/variables/

https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

As usual I've left it as default as possible, to ke

[2021-10-08 05:41] funilrys commented on #256
I mean, maybe some environment are there on https://gitlab.com but not on self-hosted nodes ...

[2021-10-08 09:05] spirillen commented on #256
I counted on that within my reply, but i can't find any docs on that.

[2021-10-09 18:30] funilrys opened #257 "BUG: --help is slow"
Right now when calling `--help` there is a latency of a few seconds.  Let's fix that!

[2021-10-09 21:14] funilrys commented on #256
@spirillen, I just tested within mydns.org and it's working. Meaning that you are missing at least one of the following environment variables.

- `GIT_EMAIL` (Commit Author Email)
- `GIT_NAME` (Commit Author Name)
- `GL_TOKEN` (GitLab Token to use to push changes)

[2021-10-09 21:14] #256 closed

[2021-10-09 21:58] #251 closed

[2021-10-09 21:58] #257 closed

[2021-10-10 10:29] spirillen commented on #185
I sometimes think a `HTTP code 302` is down, most cases actually, unless it is part of the HSTS (HTTP Strict Transport Security) as the specified target obviously is moved.

Then the HUGE exception.... redirecting spyware like `t.co` `bit.ly` etc they are all redirecting (Didn't check there response code at they are blocked here)

That's why I suggested this as a special rule, check for a forth le

[2021-10-15 18:43] veracioux opened #260 "Maintenance idea: A way to automate live CLI demos"
Disclaimer: This is shameless self-promotion, but I think this project could benefit from my suggestion.

## Description

Hi, I have noticed you use asciinema to create live demos, like [on your official website](https://pyfunceble.github.io/#/). I have created CLI demos for a few projects of mine, and I know how frustrating it can be when you make mistakes and have to do it all over again (or may

[2021-10-16 09:11] spirillen commented on #260
As one of the docs maintainer, I think it could be a very good idea to have the asciinema clips updated to match the new PyFunceble 4.x as there are many new feature, and some of the arguments simply are [deprecated](https://github.com/funilrys/PyFunceble/blob/dev/docs/usage/deprecated-arguments.rst)

I could also be a idea to make a few "videos" demonstrating, you can use PyFunceble in relation t

[2021-10-16 09:55] spirillen opened #261 "BUG: Y2k38"
## Description

As I was testing my little hobby zone [rpz.mypdns.cloud](https://mypdns.org/mypdns/support/-/wikis/RPZ-List#rpzmypdnscloud) (only ~600k records) I ran into the [Y2k38](https://en.wikipedia.org/wiki/Year_2038_problem)

## Configuration

Not relevant

## Reproduction

Test the above zone and you'll see an error like this:

[code]

AND

[code]

## Expected behavior

No errors

## Scre

[2021-10-19 10:30] spirillen opened #263 "BUG: Memory Leak + processes are not stopped + m*Sql retry"
## Description

Extremely high consumption of memory, See screenshot

MySql connection keeps breaking, there should be a retry 3 times (with delay), before failing. the reasons for a broken connection can be many.

## Configuration
[code]

## Reproduction

Any bigger zone file to test

`pyfunceble -w 60 --rpz -f /tmp/pyfunceble/rpz.mypdns.cloud`

## Expected behavior

No error and all pyfunceble t

[2021-10-19 10:40] spirillen commented on #255
Touching https://github.com/funilrys/PyFunceble/issues/128

You should do that as it will enhance your system performances significantly: you should read [Performance test of Hosts file vs DNS-Recursors](https://mypdns.org/mypdns/support/-/wikis/Performance-Test-of-Hosts-File-vs.-Dns-recursors) :wink:

[2021-11-03 19:33] T145 opened #264 "BUG: Logo generation causes error in PyPy 3"
## Description

[code]

## Configuration

N/A

## Reproduction

[code]
Then run the command from the description.

## Expected behavior

No errors.

## Screenshots

N/A

## Versions

[code]

## Additional context

I'd just go ahead and remove logo generation entirely. An abridged license header has the same affect.

[2021-11-03 22:43] spirillen commented on #264
Thanks for the report, and I do understand you would like to run this script within pypy, however I have never been able to do this my self either, going back to early 3.x.  I'm not sure pypy is or will be supported by @funilrys .

[2021-11-04 04:59] #264 closed

[2021-11-06 08:18] T145 opened #265 "DOC: Please format the documentation page so all arguments are clearly understood."
Example questions include:

- What is the "mining subsystem?"
- What are the details regarding the "Continuous Integration mechanism" and how is it configured?
- How is a source determined to ever be "MALICIOUS" or "SANE?"
- Is there a way to disable "splitted" output to prevent data duplication?
- What are "Analytic" files supposed to represent?

[2021-11-06 08:21] T145 opened #266 "FEATURE: Have Adblock, Adguard, and uBlock syntax all be "SPECIAL" or even "ADBLOCK" rules instead of having a separate "adblock" mode."
This will allow the `--adblock` parameter to be removed, and any list with adblock rules can be processed alongside other lists.

[2021-11-06 17:51] spirillen commented on #265
For your which for elaboration of `--mining` there is already a open issue on that on here: https://mypdns.org/spirillen/PyFunceble/-/issues/43

Continuous Integration mechanism, is a virtual environment running a full OS and for which you can control via different files, for GHA (Github Action), Gitlab runners and Travic-ci is controlled via yml files within a repository. You can read more on the

[2021-11-06 18:15] spirillen commented on #266
I (personally) would not vote for this, as all the regex and other code explicitly used for the `--adblock` code, would add to much extra and unnecessary system load doing test and the inpacting system load is already more than high enough.

And the `--adblock` and SPECIAL rules are 2 very different things
  1. The `--adblock` handles uBlock like rules, by first decoding the rules and then test wh

[2021-11-06 18:47] T145 commented on #265
1. I'm aware of what CI is, and am primarily asking to see if the documentation fully answers what PyFunceble should be doing in a CI environment. After reading the raw config file it becomes obvious, but the documentation doesn't seem to flush it out as well.
2. I'm not sure what you mean. There's a malicious and sane output type that never seems to have anything generated in it, so this question

[2021-11-08 02:37] T145 opened #267 "BUG: Error when running "--help" in PyPy 3"
## Description

[code]

## Configuration

N/A

## Reproduction

[code]
Then run the command from the description.

## Expected behavior

No errors.

## Screenshots

N/A

## Versions

[code]

## Additional context

N/A

[2021-11-08 08:12] T145 opened #268 "FEATURE: There's raw domain output, but no raw IP output."
## Description

It would be nice if there were a way to get directly IPs rather than from just the hosts file output.

## Possible Solution

On that note, it would also be great to at least leave `hosts_ip` empty and then output raw lists under `hosts`.
This would probably be the better option as opposed to having separate "domains" and "ips" outputs.
Then the present "domains" output becomes obso

[2021-11-08 08:12] #266 closed

[2021-11-08 16:28] spirillen commented on #268
A good idea. I defiantly second that as I handle IP my self both for firewall like nftables and RPZ zones, haven a clear & clean (IP|IP/CIDR) would be a nice feature.

[2021-11-08 18:59] T145 opened #269 "BUG: Error while only scanning against HTTP return codes in PyPy3"
## Description

[code]

## Configuration

`.PyFunceble.overwrite.yaml`

[code]

## Reproduction

https://github.com/T145/san-junipero/commit/5302221cf58534176d5d63110c683a3d4a81258f

Took about 5.5 hours though.

## Expected behavior

No errors

## Versions

Same as before.

[2021-11-08 21:36] spirillen commented on #269
Just a little note to one of your confs.

You should leave this one `true` `whois_db: False` for your own sake, otherwise you might get bannen at the NIC servers over time, This value stores a local copy of the WHOIS data and are looked up before quering the NIC server.

[2021-11-08 21:37] T145 commented on #269
Shouldn't disabling the `whois` lookup function prevent querying WHOIS data?

[2021-11-11 10:02] spirillen opened #270 "value too large"
## Description

<details><summary>stdout output</summary>

[code]

<details><summary>.PyFunceble.overwrite.yaml</summary>

## Configuration
</details>
cli_testing:
  cidr_expand: true
  db_type: mariadb
  display_mode:
    all: true
    colour: true
    dots: false
    execution_time: true
    less: false
    percentage: true
    quiet: false
    simple: false
    status: all
  file_generation:

[2021-11-11 11:30] spirillen opened #271 "BUG: KeyError: 'location'"
## Description

[code]

## Configuration
https://mypdns.org/clefspeare13/pornhosts/-/tree/master/toolbox

## Reproduction

1. git clone https://mypdns.org/clefspeare13/pornhosts/-/tree/master/toolbox.git
2. ./toolbox/domain-test.sh
3. watch the error orrcure several times

## Expected behavior
No Errors

## Screenshots

## Versions

**OS:** Ubuntu 20.04

**Python Version:** 3.10

**PyFunceble Vers

[2021-11-11 11:32] spirillen commented on #271
This one followed before finishing reporting the first one

[code]

[2021-11-12 22:34] ryanbr opened #272 "FEATURE: Showing Domain registrar info"
Not sure if this is an option, But when scanning Easylist/Easyprivacy, it could output domain providers also. Maybe have stats at the end showing the top 10/20 domain registrars used by various ad servers

[2021-11-14 20:46] ZeroDot1 opened #273 "BUG: KeyError: 'collection'"
`yay -S pyfunceble-dev ` Everything was installed properly and new.

`pyfunceble -w 32 --plain -a -f  deine Datei hier...`

[code]

[2021-11-15 12:10] spirillen commented on #273
Just info sharing:

[2021-11-16 03:24] ZeroDot1 commented on #273
It is completely irrelevant with which AUR helper I build the package, the result is unfortunately the same.

[2021-11-16 13:02] spirillen commented on #273
That's not good, I'll leave it to @funilrys , I was just pasting the info on what yay was as it was new to me, it might be it for others as well :smiley:

I have also over the past week had some issues similar to this, but they seems to have been solved outside this here, so it can have some relation to other packages like python ie I had to install python 3.1 from the source to have it working. (

[2021-11-18 04:49] DandelionSprout commented on #273
I'm receiving a very similar error as the OP, with PyFunceble-dev-4.0.2b2, Python3.8, and installing with pip:
[code]

[2021-11-18 23:42] spirillen commented on #185
Let me take a very fresh examlpe...

[2021-11-19 08:21] #267 closed

[2021-11-19 09:20] funilrys commented on #261
I'm guessing that vendors will fix this just before 2038 ... So until I can figure out another transport format, I could just automatically change the year by doing `YEAR-(YEAR-2038+N)` where `N` is implicitly `2038-N`.

[2021-11-19 09:22] #273 closed

[2021-11-19 09:44] #271 closed

[2021-11-19 09:44] #269 closed

[2021-11-19 09:44] funilrys commented on #269
`cli_testing.whois_db` is ignored when `lookup.whois` is not set to `True`.

[2021-11-19 11:08] ZeroDot1 opened #274 "BUG: No files are created."
## Description
No lists are created.

## Configuration

## Reproduction

1. Install the latest dev version
2. Run pyfunceble -w 32 --plain -a --syntax -f FILE.TXT
3. Open the folders and you can' t find any files.

## Expected behavior

That the files are created and are accessible.

## Screenshots

![Bildschirmfoto vom 2021-11-19 12-04-23](https://user-images.githubusercontent.com/28985171/142612

[2021-11-19 11:11] ZeroDot1 commented on #274
[code]

[2021-11-19 11:14] ZeroDot1 commented on #274
[code]

[2021-11-19 12:09] spirillen commented on #274
Nice set of reports It strikes me if you have set the `--no-files` in your `.PyFunceble.overwrite.yaml`

typical location `~/.config/PyFunceble/.PyFunceble.overwrite.yaml`

Did you try to compile python from source as I mentioned in another issue some days ago, I had the same issues as you have here, but they disappeared (almost) once I install a self-compiled python 3.10. Not saying it is **_the_

[2021-11-19 12:29] spirillen commented on #269
Just spotted a thing with your default configuration I would like to point your attention to.

[code]

These dns servers are **not** returning trustworthy results regarding the question for testing availability of a record as they all uses some forms of filter.

Article for filtering: https://mypdns.org/mypdns/support/-/issues/247 <kbd>control + f</kbd> `CloudFlare`

A neutral list for not manipul

[2021-11-19 12:33] spirillen commented on #261
That is something I have in mind

[2021-11-19 15:03] ZeroDot1 commented on #274
Hm @spirillen i have not set the `--no-files` flag.

Unfortunately I don't have the time to compile python myself at the moment, I lost my home a few months ago through no fault of my own, and currently have to work between door and angel.
I'm very happy that I can at least provide some updates for the CoinBlockerLists and especially my security IP feeds.

[2021-11-19 16:11] funilrys commented on #274
I'm wondering if you could post the state of you `.PyFunceble.yaml` file-s after merging !

[2021-11-19 16:35] ZeroDot1 commented on #274
[PyFunceble_Config_ZD.zip](https://github.com/funilrys/PyFunceble/files/7571592/PyFunceble_Config_ZD.zip)

Hi @funilrys see the Zip-File

[2021-11-19 17:16] spirillen commented on #274
Very sad to hear. If it wasn't for the 500 km you could crash on my couch. Hoping you'll soon get a more permanent place to stay, i know what it is to be broke..
What happens if you moves `.PyFunceble.overwrite.yaml` to `.PyFunceble.overwrite.yaml.bak` and starts out on a empty one? as I don't spot anything that should course this error

[2021-11-19 18:58] spirillen opened #275 "BUG: Weird output in ACTIVE/list"
## Description
Seems like I forgot to read a later RFC for valid DNS syntax... :smirk: :smiling_face_with_tear:

Non the less I found these in my `output/domain/ACTIVE/list`
[code]

## Configuration
<details><summary>.PyFunceble.overwrite.yaml</summary>

[code]

</details>

## Reproduction
1. pyfunceble -f ../live.txt (https://mypdns.org/-/snippets/42)
2. take a peek into the list (requires of cur

[2021-11-19 20:42] T145 commented on #269
I'm aware: those were chosen because of their speed predominately. Are domains not tested against each provided DNS?

[2021-11-19 20:55] funilrys commented on #269
@T145, if you choose to set `dns.trust_server` to `False`, PyFunceble will test against each provided DNS Server.

[2021-11-19 20:57] funilrys commented on #275
Uhh I don't understand ....

Is the line:

[code]

or really:

[code]

??

[2021-11-19 21:01] funilrys commented on #275
Oh, I think I got it ... You are asking yourself, why they are in the `ACTIVE` list ...

Well, it looks like WHOIS is giving a response ...

[2021-11-19 21:53] spirillen commented on #275
Those two lines was actually printed by pyfunceble to the `output/domain/ACTIVE/list` file :eyes:

The finished results by pyfunceble...
PyF did this to the `list`

That response code should never be in the finished result `/list`
A screen output maybe...

Do you understand now?

[2021-11-19 22:15] spirillen commented on #275
Close as I just noticed this game from a old data from the snipped which I just havenøt seen back then.

[2021-11-19 22:15] #275 closed

[2021-11-20 06:29] funilrys commented on #274
Uhh, the Scan Error typically means that the configuration files are not YAML compliant ...

But yours is defenitely YAML compliant ...
I copied your configuration files in my environment and it's working ....

What's the content of `/home/user/.config/PyFunceble/.PyFunceble.yaml` ?

[2021-11-20 06:35] funilrys commented on #274
Very sad to read 😞. I hope (too) that everything will get sorted soon. I can't imagine how bad it is but my hope and prayers will be with/for you.

[2021-11-20 12:20] spirillen commented on #274
That one is in the zip (https://github.com/funilrys/PyFunceble/issues/274#issuecomment-974225313) as well

![image](https://user-images.githubusercontent.com/44526987/142725978-680c031a-41ab-4a97-9110-0dbe3e927f59.png)
/home/ZeroDot1/.config/PyFunceble/
<details><summary>/home/ZeroDot1/.config/PyFunceble/.PyFunceble.yaml</summary>

[code]

<details>

<details><summary>/home/ZeroDot1/.config/PyFunc

[2021-11-20 15:19] spirillen opened #276 "FEATURE: argument *-only"
## Description
I often have to test input source before adding them or before altering any data by testing them against only one or two of the test options @Pyfunceble provides ie usual whois or dns.

When I then have to test with only `--dns` and/or `--whois-lookup`, then we need to flip every other fixed values from standard pyfunceble config files. If we now had the ability to append a `-only`

[2021-11-21 14:30] ZeroDot1 commented on #274
OK, I loaded a completely new configuration, but the problem still exists, which means it is not my configuration that is causing the problem.
![Bildschirmfoto vom 2021-11-21 15-25-58](https://user-images.githubusercontent.com/28985171/142765981-660ff708-655b-4134-a78b-3112b7884756.png)
![Bildschirmfoto vom 2021-11-21 15-26-22](https://user-images.githubusercontent.com/28985171/142765988-7a675900-

[2021-11-21 16:37] spirillen commented on #274
could you test on the default test list https://raw.githubusercontent.com/PyFunceble/ci_test/master/test.list and set `--logging-level debug`

and post the log output to @funilrys ?

[2021-11-21 18:42] ZeroDot1 commented on #274
@spirillen @funilrys I quickly executed it, all data is attached (zip file)
[test.list.zip](https://github.com/funilrys/PyFunceble/files/7576847/test.list.zip)
![Bildschirmfoto vom 2021-11-21 19-39-53](https://user-images.githubusercontent.com/28985171/142774837-d969188a-8f51-4440-aa27-1c22ee1a76b8.png)
.

[2021-11-21 19:00] ZeroDot1 commented on #274
`[user@work ~]$ pyfunceble -w 32 --plain -a --syntax -f https://raw.githubusercontent.com/PyFunceble/ci_test/master/test.list
`

[2021-11-21 19:26] spirillen commented on #274
:wink:   Yes that is a little fast test file we build, and it is actually exactly big enough for testing the `--ci-max-minutes 1`

[2021-11-21 19:32] spirillen commented on #274
you are missing the log folder...

[2021-11-21 19:48] ZeroDot1 commented on #274
@spirillen Hm, I put all the files and folders in the zip file that was created, there is no extra folder with log files.

[2021-11-21 20:35] spirillen commented on #274
:VERY VERY BIG EYES: and if you are using the "default"
[code]

[2021-11-21 20:37] spirillen commented on #274
and you are sure you are using pyf 4.x?? as the __pyfunceble_loggging__ have been default sine 4.0.0a1

[2021-11-21 21:11] ZeroDot1 commented on #274
Yes I am using the latest version and I tried the loglevel flag in the configuration. The log files were not created. I can't find any folder with the log files in the whole file system.

[code]

[2021-11-21 21:22] spirillen commented on #274
Just curious, does this also happens with the stable 4.0.1?

[2021-11-21 21:24] ZeroDot1 commented on #274
@spirillen @funilrys  If I pass the flag additionally as argument the log files are created. I left it extra enabled in the configuration, but obviously this has no effect on the functionality.
The files are only created when I pass the argument manually.

I quickly packed all the files into another zip file. [output.zip](https://github.com/funilrys/PyFunceble/files/7577142/output.zip)

`[user@wor

[2021-11-21 21:26] ZeroDot1 commented on #274
I have not tried the stable version, I have 90% only testing/alpha/ and beta software running on my system.

[2021-11-21 21:30] ZeroDot1 commented on #274
I think something is not working as it should. Maybe the program got infected with Corona :D

[2021-11-21 21:42] spirillen commented on #274
Well it is made in the south but the south west not south east (AUS) :smirk:

[2021-11-23 08:19] ZeroDot1 commented on #274
OK, I just tested the non DEV version.
With the non DEV_Version no files are created.
I think it can't be my software/system, I have installed all available updates in my Arch Linux normally.
[output_new_configuration.zip](https://github.com/funilrys/PyFunceble/files/7586574/output_new_configuration.zip)
[output_old_configuration.zip](https://github.com/funilrys/PyFunceble/files/7586575/output_old

[2021-11-23 08:29] ZeroDot1 commented on #274
I noticed while checking the data that data is generated but it is not sorted into the folders.
![Bildschirmfoto vom 2021-11-23 09-26-20](https://user-images.githubusercontent.com/28985171/142991408-a8fb7898-e862-4069-8210-7c9d254a781b.png)

[2021-11-23 14:06] ZeroDot1 commented on #274
Sorry that I always find such special little problems.  :heart:

[2021-11-23 14:17] spirillen commented on #274
[code]

[2021-11-26 21:51] funilrys commented on #274
Okay, I finally found it ....

If you have the following in your configuration:

[code]

Then, when you use `--plain`, you are actually disabling it ... Meaning that pyfunceble loads:

[code]

Meaning that no file is actually generated. The solution is just to remove `--plain` because the default value is `cli_testing.file_generation.plain: true` 😄

Default: https://github.com/funilrys/PyFunceble/

[2021-11-27 00:30] spirillen commented on #274
I honestly did not notice this... But you are right long a long, setting a ` --feture` in the test arguments will counter the value set in the default pyfunceble configurations.

But I'm not the only one who overlooked it to begin with :wink:  https://github.com/funilrys/PyFunceble/issues/274#issuecomment-974225313 + https://github.com/funilrys/PyFunceble/issues/274#issuecomment-974603553 :wink: *

[2021-11-27 08:57] ZeroDot1 commented on #274
Hi @funilrys @spirillen,

Oh man, sometimes I am sooo stupid, I should have noticed this error.

I think it would be good to add a function that informs users about misconfigurations.

Sorry that I have produced so much content here to this nonsense.

[2021-11-27 11:51] funilrys commented on #208
This needs some extensive tests in the future. Closing for now.

Stability is my priority right now. Performance tweak regarding SQL will come later.

[2021-11-27 11:51] #208 closed

[2021-11-27 11:53] #274 closed

[2021-11-27 11:57] funilrys commented on #274
@ZeroDot1, since you mentioned this, the commit that closed this issue introduced a way for me to provide some message to the end-user.

From now on, PyFunceble will produce the following when this "error" is seen:

![image](https://user-images.githubusercontent.com/14127285/143680292-696baf29-5623-42ce-957e-ba086dbd8f71.png)

If you have any other suggestions, feel free to share them in #277 !

S

[2021-11-27 12:03] funilrys commented on #276
Does anyone want this (too) ?

Asking for help: @ZeroDot1 @mitchellkrogza @DandelionSprout and others.

[2021-11-27 12:15] ZeroDot1 commented on #274
Hi @funilrys this is perfect, thank you very much.

[2021-12-02 10:56] spirillen commented on #261
And here it came again...

see https://github.com/funilrys/PyFunceble/issues/270 for how to redo the test..., let me be honest, it have now been running for 1.5 weeks and I can't even start it over, as the same error just will reappear

[code]

[2021-12-02 10:56] spirillen commented on #270
This epoch error reappeared after running the above test for about 8-10 days....

See the Y2k38 bug https://github.com/funilrys/PyFunceble/issues/261

[code]

[2021-12-03 10:29] spirillen opened #278 "BUG: INAVALID marked as INACTIVE"
## Description

From [output/merged_results/domains/INACTIVE/list](https://mypdns.org/my-privacy-dns/porn-records/-/blob/b905db9ff6397dc86366b7aff99c1c19f39bd489/active_domains/output/merged_results/domains/INACTIVE/list#L5-28)

AND Do also notice the CIDR notated IP adresses where the CIDR is prepended accortding to DNS RPZ

[code]

## Configuration
https://mypdns.org/my-privacy-dns/porn-records/

[2021-12-05 16:22] funilrys commented on #272
Hi @ryanbr, can you extend "it could output domain providers also."?

Stats at the end with the top provider shouldn't be an issue - though.

[2021-12-05 18:08] funilrys commented on #278
Hi @spirillen,

this one is expected - as of now - because you are using the `local_network` thing.

Cheers!

[2021-12-06 02:27] spirillen commented on #278
Mostly to @spirillen & @funilrys DOC improvement: https://mypdns.org/spirillen/PyFunceble/-/issues/50

[2021-12-06 22:13] gwarser opened #281 "BUG: missing dependency in AUR"
## Description

On Manjaro KDE installed from AUR trying to run prints traceback because `shtab` is missing.

[code]

## Configuration

Fresh installation of https://aur.archlinux.org/packages/pyfunceble

## Reproduction

1. On Manjaro
2. Install pyfunceble by pamac
3. run pyfunceble --help
4. prints traceback

## Expected behavior

Prints help page

## Screenshots

## Versions

**OS:** Manjaro Li

[2021-12-06 22:34] spirillen commented on #281
Super report, Thanks,

Hoping @funilrys will see this one soon

[2021-12-07 10:11] spirillen opened #282 "BUG: VALID domains marked INVALID"
## Description

https://mypdns.org/my-privacy-dns/porn-records/blob/f16754525807bca2ef5f44ade66774b3d47f7b28/active_domains/output/domains.matrix/domains/INVALID/list#L5

https://mypdns.org/my-privacy-dns/porn-records/-/blob/4c5d12ff4f4d72a03e217b05862d3a2f333fc109/active_domains/output/domains.matrix/domains/INVALID/list#L5

## Configuration
https://mypdns.org/my-privacy-dns/porn-records/-/blob/m

[2021-12-07 10:12] spirillen commented on #185
Just found this from another import....

https://mypdns.org/my-privacy-dns/porn-records/-/blob/4c5d12ff4f4d72a03e217b05862d3a2f333fc109/submit_here/imported/pornhosts.import-external-sources#L186-308

[2021-12-07 11:34] spirillen opened #283 "FEATURE: Special Rule *.dr.ag"
## Description
It have come to my attention that `*.dr.ag` (.99 cent hosting) are using the HTTP response 503 for non existing subdomains.

## Possible Solution

## Considered Alternative

## Additional context

![image](https://user-images.githubusercontent.com/44526987/145021999-8b51384f-375f-4c01-abda-b6ddc45075f0.png)

[2021-12-14 08:52] ZeroDot1 opened #285 "BUG: No package metadata was found for PyFunceble-dev"
[code]
Reinstall via yay -S

[code]
Logfiles: https://drive.google.com/file/d/1gRgWN_wi1N_gf0FzFJsENw4aSgL4yLCV/view?usp=sharing

[2021-12-14 09:47] ZeroDot1 commented on #285
It feels like a curse, whenever I want to use the program it doesn't work as it should.

Installing the non-DEV version doesn't help this time either.

[2021-12-14 09:57] ZeroDot1 commented on #285
[code]

[2021-12-14 20:10] spirillen commented on #285
Your poor thing :smile:

This seems like the issue and it have happen before and the reason this line was added

https://github.com/funilrys/PyFunceble/blob/cb190310af48830983e8811a92cf974a86b8adb1/requirements.txt#L9

Did you try install with pip, not that i think it might change anything

Else try this one

[code]

The capital `-I` will force all dependencies to be reinstalled.

[2021-12-15 06:46] ZeroDot1 commented on #285
OK, updating the Python packages manually helped to solve the problem.

[2021-12-15 06:49] ZeroDot1 commented on #285
![Bildschirmfoto vom 2021-12-15 07-49-28](https://user-images.githubusercontent.com/28985171/146137450-6fc391b1-dabe-450f-b0b4-8b6030220989.png)

[2021-12-15 06:49] #285 closed

[2021-12-15 11:35] spirillen commented on #285
Thanks for the reply @ZeroDot1

Made this PR to ensure a higher version of the box, even this should be done by the installer as the requirements says higher than or equal version=x

[2021-12-18 22:17] #272 closed

[2021-12-21 15:52] funilrys commented on #281
Missing dependency added to the AUR package.

[2021-12-21 15:52] #281 closed

[2021-12-21 22:45] funilrys commented on #285
This issue is weird ...  @ZeroDot1 is normally installing from Arch Linux Repo which I maintain. I can't explain the solution ...

[2021-12-21 22:46] funilrys commented on #285
I assume this should be solved through my Arch Linux update of 5.4.1 (I'm also the maintainer of that Arch Package) ...

[2021-12-24 13:03] funilrys commented on #272
Hey @ryanbr have you tested the feature ?

I would love to get your feedback.

Merry Christmas 🎅 🎄

[2021-12-25 15:45] #283 closed

[2021-12-25 16:17] funilrys opened #287 "FEATURE: automagically push/update demo to pyfunceble.github.io"
## Description

As #262 is going to be merged soon, we need to come with a solution in order to get the asciinema demos to the landing page.

As discussed in there, on long term, it may be a good idea to use tuterm to generate more extended demo that we could also automagically push to the landing page.

The best way to achieve this is to make the demo generation part of the Github Action workflow

[2021-12-25 16:22] funilrys commented on #287
**Implementation Note**: As @veracioux mentioned in #262:

[2021-12-25 16:28] #260 closed

[2021-12-25 16:31] #278 closed

[2021-12-25 18:05] funilrys commented on #282
Was/Is the DNS lookup activated ?

[2021-12-25 21:32] #282 closed

[2021-12-27 12:37] spirillen commented on #282
https://mypdns.org/my-privacy-dns/porn-records/-/blob/7a61fd8c79481b6a8dcd554d93a745e4502535f9/.pyfunceble/.PyFunceble.overwrite.yaml#L34

[2021-12-27 14:33] funilrys commented on #282
Yup! Exactly what I thought. The patches referenced here should fix that.

[2021-12-31 01:31] spirillen opened #289 "BUG: idna conversion with --adblock"
## Description
Was testing this zone https://github.com/dns-test/iploggerfilter/blob/master/filterlist with the adblocker enabled.

Related issues to this use case
- https://github.com/piperun/iploggerfilter/issues/49
- https://github.com/piperun/iploggerfilter/issues/50 Result files attached.

The issue:

In the INVALID Pyfunceble have converted `||yoütu.be^$important,all` to `xn--||yotu-6ya.be^$

[2021-12-31 02:50] spirillen commented on #289
A side note to this

I'm starting to get a lot of these lines

![image](https://user-images.githubusercontent.com/44526987/147800208-021934cf-0fd8-48cf-8a22-3072bbece249.png)

[2021-12-31 15:31] #261 closed

[2021-12-31 16:37] funilrys commented on #164
Let's implement DNS lookup first.

[2021-12-31 16:52] spirillen commented on #164
DNS lookup first?? You might be more specific here, I'm lost

[2021-12-31 17:04] funilrys commented on #164
Well ...

[code]

[2021-12-31 17:42] #164 closed

[2021-12-31 17:45] funilrys commented on #289
Hey @spirillen,

I can't reproduce this ...

[code]

[code]

Cheers!

[2021-12-31 18:32] funilrys commented on #270
Should be fixed with #261.

[2021-12-31 18:32] #270 closed

[2021-12-31 18:53] spirillen commented on #164
Ahh got it :smile:

[2021-12-31 18:53] spirillen commented on #164
And Happy new year :partying_face: :tada:

[2021-12-31 19:17] spirillen commented on #289
Hmm couldn't reproduce my self on this device, only on the other one, but that one is busy testing https://github.com/ShadowWhisperer/BlockLists/blob/master/Lists/Adult

Will get back when I've been able to rerun the test

[2022-01-01 10:45] spirillen commented on #164
First test seems fine :+1:

[2022-01-01 12:44] funilrys commented on #164
YaY ! Happy new year 🎉 🥳

[2022-01-12 12:12] ZeroDot1 opened #290 "BUG: pyfunceble-dev cannot be installed."
During the regular update of my Archlinux I noticed that` pyfunceble-dev` cannot be installed because the build and tests of `python-dnspython-git` fail.

`yay -S python-dnspython pyfunceble-dev`
<details><summary>Click to expand</summary>

[code]
</details>

[2022-01-17 19:38] spirillen commented on #290
May I suggest the html code around the log output :smile:

[code]

---------

What if you install the wheel package?

[2022-01-23 01:32] ZeroDot1 commented on #290
Hi @spirillen,
I just installed the package, but it changed absolutely nothing.

[2022-01-23 22:14] spirillen commented on #290
Ok.. then my next suggestion is to try installing `dnspython` independently, it is after all that package there are throwing the errors

[2022-01-26 22:02] ZeroDot1 commented on #290
I tried that before my first post here. Unfortunately, that did not work either.

[2022-01-27 01:53] spirillen commented on #290
and it is only when you use the arch package manager or is it also when you uses PIP?

[2022-01-28 21:55] funilrys commented on #290
Mhh, this look like the DNS python in the AUR is out of sync ...

[2022-01-29 10:15] #290 closed

[2022-01-29 10:16] funilrys commented on #289
Ping

[2022-01-30 04:49] spirillen commented on #289
Pong...

Saw them a few days ago, those `erllib3..`

Bit haven't seen the other issue since.

[2022-02-05 07:58] funilrys commented on #289
Closing. Feel free to reopen if necessary.

[2022-02-05 07:58] #289 closed

[2022-02-08 10:20] ZeroDot1 commented on #290
Yes, I can confirm, the problem is solved.

[2022-02-12 12:08] #276 closed

[2022-02-12 12:11] funilrys commented on #263
This one is probably of of process spawning. I can't really do anything about this :/

When a process if forked/spawn memory is cloned to. Therefore, the higher your amount workers are, the more is copied/isolated.

[2022-02-12 12:11] #263 closed

[2022-02-13 00:50] avatartw opened #291 "BUG: Fatal Error: 'cp950' codec can't encode character"
## Description
b5ecdc2960fc981c99ccb13442b0bae8c9e9d48c
[code]

## Configuration

N/A

## Reproduction

[code]

## Expected behavior

No Errors

## Screenshots

N/A

## Versions

**OS:** Windows 10

**Python Version:** 3.8.10

**PyFunceble Version:** 4.0.2 ~ 4.1.0b10

## Additional context

[2022-02-13 17:21] funilrys commented on #291
Hi @avatartw,

thank you for taking the time to report this. The patch is on its way out.

Stay safe and healthy!

[2022-02-13 17:35] #291 closed

[2022-03-03 10:24] spirillen opened #292 "FEATURE: special rule altervista.org"
## Description

[altervista.org](http://www.altervista.org/) is a "free" hosting site, using subdomains

## Possible Solution

Not known

## Considered Alternative

## Additional context
![image](https://user-images.githubusercontent.com/44526987/156545772-ebbad8f2-6089-4f62-9ee9-237912d5f093.png)

Related own issue: https://mypdns.org/my-privacy-dns/porn-records/-/issues/17008

[2022-03-05 15:37] funilrys commented on #132
Hey @spirillen, the TLD thing is implemented and will be deployed as soon as I'm done testing it.

Is the domain rules/condition that you are requesting really a necessary thing ? I couldn't find a real use case for that..

Stay safe and healthy!

[2022-03-05 17:56] #132 closed

[2022-03-05 17:58] funilrys commented on #132
@spirillen, feel free to let me know if the domain rules/condition is necessary - from your standing point.

[2022-03-05 18:53] #292 closed

[2022-03-05 20:33] spirillen commented on #132
Thanks a lot for this huge add to the code, One question comes to mind, can you   set a sock5 proxy too, this would open up for testing .onions  and yes the rules are actually requested if we will be able to fully test IE onion/russian/Chinese domains as well

[2022-03-05 21:18] spirillen opened #293 "BUG: unexpected .onion test result"
## Description

Was doing an initial test of the new super cool proxy settings by testing the Tor projects repo, but very unexpected it returns a INACTIVE...

## Configuration
<details><summary>Click to expand</summary>

[code]

</details>

## Reproduction

1. `pyfunceble -d apow7mjfryruh65chtdydfmqfpj5btws7nbocgtaovhvezgccyjazpqd.onion`

## Expected behavior

The response to be active

## Screens

[2022-03-05 22:43] funilrys commented on #293
Note to self: Connection without Proxy.

[code]

[2022-03-05 23:09] funilrys commented on #293
@spirillen can you confirm that the same behavior is happening with `b15` ? ?

[2022-03-05 23:30] spirillen commented on #293
Hmm

[code]

T ome the results is the same as original :sob:

[2022-03-06 13:42] #293 closed

[2022-03-06 13:43] funilrys commented on #293
@spirillen, with `b16` that is being deployed right now, you should be able to test **IF** you use the `socks5h` instead of the `socks5` protocol.

[2022-03-06 14:00] spirillen commented on #293
Just noticed you are pushing the b16... unfortunately not "public" yet

[2022-03-06 14:13] spirillen commented on #293
Is it me who is doing something wrong??

[code]

Test line `pyfunceble -d dtu.dk apow7mjfryruh65chtdydfmqfpj5btws7nbocgtaovhvezgccyjazpqd.onion`

Result:
![image](https://user-images.githubusercontent.com/44526987/156926926-5a9298ce-8af8-4d27-af99-82d10b88bcfe.png)

-----------------

Test line: `pyfunceble -d en.dmm.co.jp apow7mjfryruh65chtdydfmqfpj5btws7nbocgtaovhvezgccyjazpqd.onion`

Result:
![

[2022-03-12 04:54] cdgriffith opened #294 "FEATURE: [Suggestion] Pin requirement versions (specifically python-box)"
Hello, I am the developer of python-box and see that it is a requirement in this repo and has not been version pinned, or no max version set.
I suggest that you pin it to the max known [compatible version](https://peps.python.org/pep-0440/#compatible-release) in your requirements.txt and/or setup.py file(s):

[code]

Or without extra dependencies

[code]

Using `~=5.0` (or any minor version) will

[2022-03-12 08:15] funilrys commented on #294
Hi @cdgriffith, thank your for `python-box` and this issue.

[2022-03-12 08:16] funilrys commented on #294
I'm reopening because the patch is only for the `-dev` version. I'm going to merge my change into the master branch ASAP.

Thanks again for `python-box` and the warning.

[2022-03-12 11:35] #294 closed

[2022-03-12 12:06] funilrys commented on #228
Is there a definitive SPEC for this ?

[2022-03-12 17:13] Somebodyisnobody commented on #228
what do you mean?

[2022-03-12 19:49] funilrys commented on #228
Is there an official SPEC document for the DELF format ?

[2022-03-13 09:51] Somebodyisnobody commented on #228
No at the moment there's a XML Schema file which specifies the fields and the format only. A document which explains the handling of the DLEF-format like an RFC has not yet been created. I got positive feedback about the format structure as it enables tracking of who wanted to block or allow a website for hat reason in which category. Unfortunally I don't have the capacities to continue developing

[2022-03-16 21:36] spirillen opened #296 "HELP: Extremly poor and slow testing"
## Description

After running this test `pyfunceble --dns-lookup-only --dns 192.168.1.54:5302 --database-type csv -f https://raw.githubusercontent.com/blocklistproject/Lists/master/porn.txt`  for a week I have only reached to `boystreaking.blogspot.fr`

[code]

[code]

[code]

How come it takes a week to test against 1 DNS server.... and how to optimize this

Even if this should be extremely slow,

[2022-03-16 21:37] spirillen commented on #296
pyfunceble 4.1.0b11.dev (Blue Duckling: Grandiflora)

[2022-03-16 21:47] funilrys commented on #296
If you choose to set `trust_server: false`, PyFunceble will go through all of the server before setting the status from the DNS Lookup.

CF: https://pyfunceble.readthedocs.io/en/dev/configuration/index.html#dns-trust-server

[code]

[2022-03-16 22:20] spirillen commented on #296
https://asciinema.org/a/ZyZzw2dikMyg1tKGstDEIx33H

[2022-03-16 22:21] spirillen commented on #296
Your right... forgot to set that one in my command line.... thanks for spotting this one

[2022-03-16 22:27] spirillen commented on #296
Another question now you are online

About the `--soometest-only` if I add IE `--dns-lookup-only --http-only` then it will test both and yet only for DNS and HTTP status code or?  that's not something I have lookup, but I don't recall reading about this in the merge you made back then

[2022-03-16 23:08] spirillen commented on #296
I still think it is very slow with the CSV.... while for some reason the SQL have speed up :hand:

https://asciinema.org/a/tAT4MGPfu0vwxetpdlnNKpqQr

[2022-03-17 18:14] spirillen commented on #228
Should it be considered dead?

[2022-03-17 18:56] Somebodyisnobody commented on #228
I would find that a pity. I would like to convince others of my idea, who have time and desire to implement it. And I don't want to reap the benefits later when it's finished just because I had the idea. The idea came to me through the maintenance of blacklists via git. I think that others also have these problems. I don't want to abuse the issue here to discuss the procedural processes of blackli

[2022-03-17 21:31] spirillen commented on #228
How about the relocated original issue https://mypdns.org/infrastructure/workboard/-/issues/19 :smile:

[2022-03-18 11:24] funilrys commented on #228
Great, come back here where you are ready with a spec that I can implement.

Right now, I don't really know which field I should use to extract the subject that needs to be tested ... Alone that will be useful ...

[2022-03-18 17:28] funilrys commented on #296
That's the reason SQL databases exists ... CSV needs to be loaded in memory .... When SQL is mostly delegated to a optimized system and format.

[2022-03-18 17:36] spirillen commented on #296
Yes and I do load the entire dir into tmpfs (ramdrive)

[2022-03-20 09:35] spirillen opened #297 "BUG: Last records trow sql error (weird)"
## Description
This one is weird...

It **_appears_** that when the test is completed with the last record, then the sqlalchemy throws this error + a lookup error.

<details><summary>Original test</summary>

[code]

</details>

<details><summary>Second test to verify</summary>
[code]
</details>

<details><summary>Thirs test to verify</summary>

[code]

</details>

## Configuration

See https://git

[2022-03-20 09:38] spirillen commented on #297
Why I believe it is the last record cursing this

<details><summary>Click to expand</summary>

[code]

</details>

[2022-03-20 10:15] Vision commented on #297
I'm soryy to know that. But I know a little about what you say. Therefore, you'd better ask someone else who can handle that.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "funilrys/PyFunceble"

[2022-03-21 14:08] funilrys commented on #297
Thanks for reporting. This is the missing detail I was looking for. Will be fixed ASAP.

This also touches dead-hosts/dev-center#23

cc: @bigdargon

[2022-03-21 18:43] #297 closed

[2022-03-21 20:48] spirillen commented on #297
Your welcome my friend :smiley: just a shame @bigdargon didn't report his report here.

[2022-03-22 00:03] bigdargon commented on #297
Thanks for fixing it!

[2022-04-04 13:00] spirillen opened #298 "BUG: ModuleNotFoundError: No module named 'box'"
## Description

[code]

## Configuration
No relevance

## Reproduction

1. [./scripts/DataTesting.bash](https://mypdns.org/my-privacy-dns/porn-records/-/blob/b2d1670f281483b93bf8a3d73e22549d04571416/scripts/DataTesting.bash)

## Expected behavior

## Screenshots

## Versions

**OS:** Ubuntu / Miniconda

**Python Version:** 3.10

**PyFunceble Version:**

[code]

## Additional context

[2022-04-04 13:22] spirillen commented on #298
Second error I meet, when reach [L63](https://mypdns.org/my-privacy-dns/porn-records/-/blob/b2d1670f281483b93bf8a3d73e22549d04571416/scripts/DataTesting.bash#L63)

[code]

[code]

[2022-04-04 17:22] spirillen commented on #298
NON CONDA

[code]

Conda editions coming up

[2022-04-04 17:24] funilrys commented on #298
Mhh I tested on 2 VM and my PC on fresh environment and can't reproduce 😞

[2022-04-04 17:25] spirillen commented on #298
Also only happens in CONDA for me

[2022-04-04 17:28] funilrys commented on #298
Testing with conda right now ...

[2022-04-04 17:29] spirillen commented on #298
The old box is running with 4.1.0-dev and that is working

-------------

[code]

/closing as suddenly working without doing anything....

Installing collected packages: mypdns
Successfully installed mypdns-1.0.3

done
#
# To activate this environment, use
#
#     $ conda activate pyfunceble
#
# To deactivate an active environment, use
#
#     $ conda deactivate

pyfunceble 4.1.1.dev (Blue Ducklin

[2022-04-04 17:29] #298 closed

[2022-04-04 17:30] funilrys commented on #298
Came to the same conclusion ... It's odd ... Probably cache or something  ...

[2022-06-15 03:32] bigdargon opened #299 "HELP: Configuration file .PyFunceble.overwrite.yaml not working"
From issue https://github.com/dead-hosts/dev-center/issues/25

## Description

Hi,

I need to bother you a bit about configuring the `.PyFunceble.overwrite.yaml` file, it doesn't seem to work.

I have edited the file according to the instructions https://github.com/bigdargon/hostsVN-dead-hosts/blob/master/.pyfunceble/.PyFunceble.overwrite.yaml, but sometimes the Action still does not continue when

[2022-06-15 21:23] funilrys commented on #299
That's because it's should follow the yaml format of the initial configuration file...

[2022-06-16 02:21] bigdargon commented on #299
I used to edit in yaml format https://github.com/bigdargon/hostsVN-dead-hosts/commit/8f1ec62d6a9129cb558dacedb2bfb503e4507f93, but the Action still failed so I tried this. Anyway, I fixed the new format and waited to run the Action again. Thank you!

[2022-06-17 02:44] bigdargon commented on #299
@funilrys I have discovered some details

When the Action fails, an error is generated at line 162 in the config file https://github.com/bigdargon/hostsVN-dead-hosts/runs/6927935203?check_suite_focus=true

[code]

I see line 162 with configuration https://github.com/bigdargon/hostsVN-dead-hosts/blob/d25b34101f17a240bfa10f14e8e1b04436d0179f/.pyfunceble/.PyFunceble.yaml ` http: null`

While the conf

[2022-07-12 04:44] avatartw opened #300 "BUG: 'cp950' codec can't decode"
## Description

https://github.com/funilrys/PyFunceble/blob/9a5fada762fe763d33b4a09043df264df5e7c978/PyFunceble/dataset/csv_base.py#L205

[code]

## Configuration

N/A

## Reproduction

[code]

## Expected behavior

No Errors

## Screenshots

N/A

## Versions

**OS:** Windows 10

**Python Version:** 3.10.5

**PyFunceble Version:** 4.1.1.dev (Blue Duckling: Ixora)

## Additional context

[2022-07-12 04:51] avatartw opened #301 "BUG: Can't pickle <class 'sqlalchemy.orm.session.Session'>: it's not the same object as sqlalchemy.orm.session.Session"
## Description

[code]

## Configuration

N/A

## Reproduction

[code]

## Expected behavior

No Errors

## Screenshots

## Versions

**OS:** Windows 10

**Python Version:** 3.10.5

**PyFunceble Version:** 4.1.1.dev (Blue Duckling: Ixora)

## Additional context

[2022-07-16 20:50] #300 closed

[2022-07-27 03:22] bigdargon commented on #299
@funilrys I found, everytime the Action fails due to auto configuration add the following lines https://github.com/bigdargon/hostsVN-dead-hosts/commit/d26a5ec8c28721b1af023f89468c2d4a18460de7

[code]

The added configuration is wrong with the format, resulting in the Action being failed

[code]

I think this is the cause of the Action not working!

[2022-08-01 20:25] funilrys commented on #299
Might be it @bigdargon 😄

[2022-08-01 20:25] funilrys commented on #299
Nice catch!

[2022-08-13 16:53] #296 closed

[2022-09-02 19:12] ZeroDot1 opened #302 "BUG: Install not working: yay -S pyfunceble"
Hi @funilrys,
I have a freshly installed Arch Linux here, unfortunately the installation of pyfunceble does not work.

[code]

[2022-09-05 21:07] spirillen commented on #302
Hey @ZeroDot1 Since it have been a couple of years (decades) since I had German in school.. I still get a thought ...

Then I believe this is a issue for https://github.com/PyFunceble/domain2idna and not PyFunceble as domain2idna is a dependency.

[2022-09-05 21:13] spirillen commented on #301
1. What database are you actually using? there are diffs between the `mysql` and `mariadb` connectors you need to use the right one.
2.  4.1.1.dev, current -dev version is 4.1.2 with fixes.

on 4.1.2-dev with mariadb 10.7

[code]

[code]

[2022-09-08 11:38] ZeroDot1 commented on #302
Hi @spirillen You're right, I'm currently under a lot of time pressure, and couldn't look at it in detail. Sorry.
I hope the problem can be solved soon, I really need to release an update for the CoinBlockerLists.

[2022-09-08 13:46] spirillen opened #303 "BUG: retries exceeded with url: / (Caused by None)"
## Description

Just keeps failing without any obviously reasons.

## Configuration

`.PyFunceble.yaml` Neutral, thanks to `.PyFunceble.overwrite.yaml`

[code]

## Reproduction

1.https://mypdns.org/clefspeare13/pornhosts/-/blob/feature/test_script/toolbox/availability_test.bash

## Expected behavior

## Screenshots

## Versions

**OS:** Conda

**Python Version:** 3.10

**PyFunceble Version:** 4.1

[2022-09-08 20:41] spirillen commented on #302
Yep would be nice. Did you ever figured out the issue I opened on GL?

[2022-09-08 21:10] ZeroDot1 commented on #302
@spirillen It makes more sense to talk via Matrix, I sent you a message.

[2022-09-10 14:41] ZeroDot1 opened #304 "FEATURE: Implementation in Rust..."
I recommend a complete new implementation of the program in Rust.
With Rust, the whole program would run far more efficiently and the power consumption would be lower, which can only be an advantage for us in the current energy crisis.

[2022-09-10 18:22] funilrys commented on #301
I think that this is windows specific ... I need to find or setup a Windows Hosts to be able to reproduce this ... @spirillen

[2022-09-10 18:50] funilrys commented on #304
I have an early version of PyFunceble in Rust on my servers ... It's ugly and doesn't come to the level of PyFunceble (as of today) as a lot of features and code I abstract in Python (thanks to PyPI) are missing in cargo ... So I have to implement all of those myself and push them separately into the cargo ... That literally means that this project is a worldwide niche.

As I'm developing another

[2022-09-10 19:02] funilrys commented on #302
A new version of the AUR package has been released. It should solve the issue. Closing.

Thank you for reporting.

[2022-09-10 19:02] #302 closed

[2022-09-10 20:23] ZeroDot1 commented on #304
Ah OK, that sounds good, if you need someone to test in the future let me know, I'll definitely volunteer.

[2022-09-10 20:24] ZeroDot1 commented on #302
Thank you, the problem is solved, I was already able to install and run everything.

[2022-09-16 17:07] ZeroDot1 opened #305 "FEATURE: Function to check valid IP v6 and v4 addresses."
I often see lists of invalid IP addresses, including my own lists.
We should have a function to check IPs for correctness like the domains.

[2022-09-16 18:08] funilrys commented on #305
Hi @ZeroDot1,
as we use some native IPv4 and IPv6 checkers, I would need some examples .... PyFunceble is already capable of such a thing ...

Cheers!

[2022-09-16 21:38] ZeroDot1 commented on #305
OK, I'll give you examples as soon as I can, right now I'm working on 8 things at the same time. Unfortunately, real life is completely crazy for me at the moment.

[2022-09-17 09:19] funilrys commented on #305
No problem. Take care!

[2022-09-28 10:33] spirillen commented on #304
Second this

[2022-09-28 10:34] spirillen commented on #303
Hey @funilrys any comment to this one... my pornlist in hosts format have been held back, as i can't test it before releasing.

[2022-10-02 14:51] funilrys commented on #303
@spirillen still testing trying to find where the but is ...

[2022-10-03 19:16] spirillen commented on #303
Sounds great, as it keep happening to me

[2022-10-05 17:23] funilrys commented on #303
@spirillen `v4.1.3a2` should fix this. Unfortunately, GH is dealing with issues with GitHub Actions. Therefore, it will be deployed later on.

Please reopen this issue if the issue still happens under `v4.1.3a2`.

[2022-10-05 17:42] funilrys commented on #303
`v4.1.3a2` has been released.

[2022-10-05 17:54] funilrys commented on #305
Closing until an example is delivered. AFAIK PyFunceble is already capable of this.

[2022-10-06 01:18] #305 closed

[2022-10-06 01:19] #299 closed

[2022-10-06 16:08] funilrys commented on #299
@bigdargon , done.

[2022-10-06 16:22] funilrys commented on #265
Hi @T145 Thanks for the feedback. I plan to improve the documentation for the next maintenance session starting with your bullet points.

As English isn't my primary language please excuse the unclarities.

----

It is "documented" [here](https://pyfunceble.readthedocs.io/en/dev/components/index.html#mining).

It is called "mining" for historical reason. Back in 2017 @mitchellkrogza we talked abou

[2022-10-08 13:22] funilrys commented on #255
@keczuppp a early version is available in the `parked-subject` branch. However, I'm not sure if it is necessary to create 2 new status: `REAL`  and `ZOMBIE` (or similar) ... With that commit, the tested will be subject will be treated as `INACTIVE`.

Does that fit everyone's needs? If it does, I will proceed with merging the branch to the `dev` version of PyFunceble.

Asking for inputs: @spirillen

[2022-10-10 19:40] spirillen commented on #303
[code]

[2022-10-12 16:59] funilrys commented on #303
@spirillen PyFunceble-dev actually requires at least 6.X.Y ...

https://github.com/funilrys/PyFunceble/blob/ad9a7f4801a119f3d419a457d3b3d8e5cbd0dc3a/requirements.txt#L9

[2022-10-12 17:00] funilrys commented on #303
Is that possible that you are actually trying to download `pyfunceble` and not `pyfunceble-dev` ?

[2022-10-12 17:19] spirillen commented on #303
LOL keyboard failure

made a dot not a `-`

but same error

[code]

[2022-10-12 18:55] funilrys commented on #303
Still a dot @spirillen

[2022-10-13 20:29] spirillen commented on #303
Hmm seems you only got the first part... Did install it second time with the dash despite the waring :man_shrugging:

[2022-10-16 19:25] #303 closed

[2022-10-16 19:26] funilrys commented on #303
@spirillen please test with `4.1.3a3`. It will be deployed next.

[2022-10-17 12:47] spirillen opened #308 "BUG: Fatal Error: <subject> should be <class 'str'>, type(subject) given."
## Description
Related to https://github.com/funilrys/PyFunceble/issues/303

## Configuration

See all details in https://mypdns.org/clefspeare13/pornhosts

## Reproduction

Ruin the availability test script (https://mypdns.org/clefspeare13/pornhosts/-/blob/master/toolbox/availability_test.bash)

## Expected behavior
:thinking:

## Screenshots
![image](https://user-images.githubusercontent.com/445

[2022-10-17 12:49] funilrys commented on #308
`4.1.3a3` should already solve this.

[2022-10-17 13:35] spirillen commented on #308
Hang on to this, just noticed you bumped the version

on hold

[2022-10-17 17:08] funilrys commented on #308
Closing as the source code that produces this specific fatal error message doesn't exist anymore in the `dev` branch or version. Feel free to reopen if it still somehow happens.

[2022-10-17 17:08] #308 closed

[2022-10-17 22:19] spirillen commented on #303
Test is running, will have the result within 3 - 4 days.

[2022-10-21 14:29] spirillen opened #309 "BUG: Fatal Error: argument of type 'NoneType' is not iterable"
## Description
[code]

## Configuration

https://mypdns.org/clefspeare13/pornhosts/-/blob/3d76d585b55d841b0a3e4a93b46ade8e892aee24/PyFunceble/.PyFunceble.overwrite.yaml

## Reproduction

1. https://mypdns.org/clefspeare13/pornhosts/-/blob/3d76d585b55d841b0a3e4a93b46ade8e892aee24/toolbox/availability_test.bash
2. wait about a week
3. See error of incomplete work

## Expected behavior
:man_shrugging

[2022-10-22 10:36] funilrys commented on #309
Should be fixed in `4.1.3a4` 😄

[2022-10-22 10:40] funilrys commented on #309
By the way, if you are email/RSS friendly, you can use https://libraries.io/pypi/PyFunceble-dev and https://libraries.io/pypi/PyFunceble to get informed of new releases 😉

[2022-10-23 13:45] DandelionSprout opened #310 "BUG: Some sub-dependencies are not automatically installed when installing PyFunceble in Cygwin"
## Description

After I had to do a fresh Windows 11 install earlier this week, I also re-installed Cygwin64 and PyFunceble, and noticed that `greenlet` and `ruamel.yaml.clib` were not listed as dependencies on https://pyfunceble.readthedocs.io/en/dev/installation/index.html#requirements despite making the PyFunceble installation fail if they were not installed.

This turned out to be fixed by ins

[2022-10-23 14:02] funilrys commented on #310
That's interesting. `ruamel.yaml` used to be part of `python-box[all]`. I'll look at this ASAP ...
@DandelionSprout Windows 11 provides WSL ... Can you test if PyFunceble is working with it ?

Thank you for the feedback!

[2022-10-23 14:02] #309 closed

[2022-10-23 14:02] funilrys commented on #309
Feel Free to reopen if it happens again.

[2022-10-24 09:39] spirillen commented on #309
Never used RSS or other subscriptions as it tent to just be a bunch of information overflow = bulk delete all :bin:

[2022-10-24 10:26] smed79 opened #311 "FEATURE: Special Rules for ChangeIP.com"
### Description

Changeip sub-sites disabled for abuse are shown by PyFunceble as **ACTIVE**.

[code]
[code]
[code]
### Possible Solution

Considire domains that has in AUTHORITY `abuse.changeip.com` as **INACTIVE**.

### Additional context

Example of INACTIVE hosts
- https://github.com/smed79/mdlm/commit/58078a5cf15ffec9ced69bb3d9459b76366fb366

### ChangeIP platform domains
- https://github.com

[2022-10-24 13:33] spirillen opened #312 "Typo"
Deleted TYPO

[2022-10-24 13:35] spirillen commented on #312
:grin:

[code]

:hammer_and_pick: Bump version

[2022-10-25 11:17] #312 closed

[2022-10-25 11:29] funilrys commented on #185
Note to self:
The idea is not bad. We should implement this. But subjects should be switched as `INACTIVE` not `INVALID`.

[2022-10-25 12:19] funilrys commented on #310
@DandelionSprout no worries. Take your time. Rome wasn't built in 1 day.

Can you also test (in a clean environment) if the issue happens with the `maintenance` branch? Thank you!

[code]

[2022-10-25 16:59] funilrys commented on #185
Side notes on the implementation - itself - when URLs are tested:

 1. Follow all redirects.
2. Compare the start domain with the end-domain and switch status accordingly.
  Example:
    - `m.example.com/hello/world -> example.com/hello/world` | Outcome: `m.example.com/hello/world` as `INACTIVE`.
    - `m.example.com/hello/world -> example.com/world/hello` | Outcome: NO Status switch.
    - `m.exa

[2022-10-25 17:12] spirillen commented on #185
To continue https://matrix.to/#/!frMIeLrTTlrGiRMLBM:matrix.org/$gHxSAP8rlCIFF40wKybFK6VceyKc7NPmjj_RxLN7kFQ?via=matrix.org&via=anontier.nl

This is a special rule, but should be a global one as it is following the requests to the final destination, all "middlemen" is marked as `potential` dead

We will remove any useless `(m.|www.|www.).domain.ccTLD` and only leave potential ACTIVE records in our

[2022-10-25 17:23] spirillen opened #313 "FEATURE: Sql retry re-connection"
## Description
As my sources for testing I rather (to) big to be handle by CSV files do to the disk I/O I usual prefer using the SQL backend, but unfortunately, then only all to often I get ...

[code]

Or similar connection related drops, and the test stops do to the error.

## Possible Solution
Let sqlalchemy retry to reconnect x number of times before actually failing.

In the above example, it

[2022-10-25 17:31] funilrys commented on #185
That is actually another improvement for the mining mechanism...

Here we are only talking about subjects that redirect to their 2ndLD. Example `m.example.org -> example.org` and `www.example.org -> example.org` . And this SPECIAL ruler will only be triggered if the given subject starts with `www.` or `m.`.

All URL shorteners are never triggered by this feature because the tested domain won't mat

[2022-10-25 17:34] funilrys commented on #185
There is a drawback with flaging a subject as `INVALID` ... A lot of users just drop and definitely delete `INVALID` and leave PyFunceble to retest all `INACTIVE` ... That's also something we have to keep in mind ...

We are only a few people in the issues section but we are a lot more users than we think 😰...

[2022-10-26 10:11] spirillen commented on #185
**NOTE**:

Stumbled on this special domain case

1. www.subdomain.skyblog.com = not supported
2. *.skyblog.com = Redirects straight to skyrock.com = we now know `skyblog.com` is invalid

:thought_balloon: :thinking: maybe a new result list? that could also help on your comment in https://github.com/funilrys/PyFunceble/issues/185#issuecomment-1290906472 about the INVALID as they defacto are invalid

[2022-10-27 08:17] bigdargon opened #314 "BUG: dead-hosts keeps pulling configuration error Action"
## Description

The configuration file in the editing library adds new lines, causing the Action to fail

https://github.com/dead-hosts/template/commit/6d7abb0b31648cb33d3673c35b87a6bdae2b4f94

[code]

In the previous comment I mentioned https://github.com/funilrys/PyFunceble/issues/299#issuecomment-1196221039, but after fixing, only 1 line A was removed, the remaining lines were still added.

I t

[2022-10-28 07:21] spirillen opened #315 "BUG: `--collection-lookup` Host unreachable"
## Description
[code]

## Configuration
https://mypdns.org/clefspeare13/pornhosts/-/tree/6665094190cc4a1e71174dc4c7095fddbe87f8f8/PyFunceble

## Reproduction

1. Commit https://mypdns.org/clefspeare13/pornhosts/-/commit/6665094190cc4a1e71174dc4c7095fddbe87f8f8
2. Run `./toolbox/availability_test.bash` (https://mypdns.org/clefspeare13/pornhosts/-/blob/6665094190cc4a1e71174dc4c7095fddbe87f8f8/toolbo

[2022-10-28 10:07] funilrys commented on #315
It has nothing to do with my server.
Those warnings are just warnings from `urllib` ... PyFunceble can handle them ... It's just that `urllib` prints those messages to STDOUT ...

[2022-10-28 12:08] spirillen opened #316 "BUG: `-t` smaller than 1.0"
## Description

[code]

## Configuration

## Reproduction

1. pyfunceble --dns 108.162.193.107 173.245.59.107 172.64.33.107 173.245.58.116 108.162.192.116 172.64.32.116 --whois-lookup --collection-lookup -t 0.5 -f /tmp/booru.org.list

## Expected behavior

## Screenshots

## Versions

**OS:** Ubuntu 22.04.1

**Python Version:** 3.10

**PyFunceble Version:** 4.1.3a4.dev

## Additional context

[2022-10-28 12:09] spirillen commented on #316
`-t` == 1.0

[code]

[2022-10-28 12:11] spirillen commented on #316
[code]

[2022-10-28 17:36] spirillen commented on #315
Ok, but why do it says the connection is broken then?

[2022-10-28 19:33] funilrys commented on #315
That's what I'm trying to reproduce right now ... It seems that it has something to do with your tor node but I'm not sure yet ...

[2022-10-30 10:09] funilrys commented on #314
https://github.com/funilrys/PyFunceble/commit/fe717b2d6404516353d2cccf4c5943bc7c9e39a6 touches this issue.

[2022-10-30 10:10] funilrys commented on #314
@bigdargon I deployed a new version of the `dead-hosts-launcher` package with a few fixes. Please try it and let me know.

[2022-10-30 10:41] funilrys commented on #314
@bigdargon https://github.com/funilrys/PyFunceble/commit/8c74cafc060f13c6ff3858d7da026d74ece852fc should fix this.

Please be patient this issue will be closed automatically, once the commit lands in the `dev` branch.

[2022-10-30 14:48] funilrys commented on #315
So, your specific issue has probably something to do with the tor node you were communicating with.
I can't reproduce the issue itself but I can reproduce similar issues where `urllib3` logs similar outputs.

Therefore, https://github.com/funilrys/PyFunceble/commit/4056525e4ec86ac293b128958380b870a605d21f is decreasing the level of the urllib3 package.

Please note: PyFunceble is capable of handli

[2022-10-30 14:48] funilrys commented on #315
Please keep this issue open. It will be closed automatically, one the commit lands into the `dev` branch.

[2022-10-30 14:51] funilrys commented on #316
Note: It's not possible to set `-t` to a negative number.

[2022-10-30 15:21] #315 closed

[2022-10-30 15:21] #316 closed, assigned to funilrys

[2022-10-31 12:52] bigdargon commented on #314
@funilrys Looks like the error is still there https://github.com/bigdargon/hostsVN-dead-hosts/commit/12cbfa0a4c40f8a33a91f1e776478d9d7eea78e6

[2022-10-31 21:11] #314 closed

[2022-11-03 15:43] spirillen commented on #316
I'm not trying to make a negative!!! but a value less than one second

[2022-11-09 16:05] smed79 opened #319 "FEATURE: Special Rules for imgur.com"
**①** - deleted / removed **imgur.com** images are shown by PyFunceble as **ACTIVE**.

[code]
[code]
---
**②** - unexisting **user** custom domain is shown by PyFunceble as **ACTIVE**.

[code]
[code]

[2022-11-10 10:07] DandelionSprout commented on #310
Having got around test in WSL (I got a passing score on the chef exam), it seems there's some crossbleed between WSL and Cygwin64 that makes the former able to access the latter's packages and package names (incl. `python` and `pip3`), making it prohibitively difficult to *truly* test PyFunceble in WSL, unfortunately.

I'll hopefully take less time before I'd next up test `pip3 install --user git+

[2022-11-12 17:19] funilrys commented on #316
@spirillen adjusted.

[2022-11-14 11:02] spirillen commented on #316
Super thanks, The other fixes in `4.1.3a5.dev` solved the test on https://mypdns.org/clefspeare13/pornhosts, they seems safe to merge into the default `-dev` as the latest run have been running since Friday (almost 4 days) without any issues

[2022-11-22 21:46] spirillen commented on #185
UPDATE: About the special rule for tumblr, then they have made a change for which I have NOT investigated, ONLY observed

`teen-make-selfies.tumblr.com` This url is empty and redirects to the default homepage, I have found about 30 of these today and they was marked active against expectation.

Any change you (@funilrys ) could spend a few minutes on this?

[2022-11-23 11:14] spirillen opened #321 "FEATURE: Special rule: Wordpress.com"
## Description

At `wordpress.com` they it seems like they uses the HTTP 410 code for no longer active subdomains like `katiaescorts.wordpress.com`

[code]

[code]

[code]

The alternative option is to fetch the h2 html line

[code]

## Possible Solution

## Considered Alternative

## Additional context

[2022-11-26 18:28] #185 closed

[2022-11-26 18:29] funilrys commented on #255
Feature has been disabled because I need to gather more intel on how people will use this:

- As a new test (like syntax, availability, reputation) option.
- As a SPECIAL rule.

[2022-11-27 14:01] funilrys commented on #185
@spirillen they actually don't redirect to the home page per-say. It's all javascript. Therefore, the rule should be about the 404 status code.

[2022-11-28 07:19] bigdargon opened #324 "BUG: Dead-hosts cannot run scheduled Actions"
## Description

Scheduled trigger action not working https://github.com/bigdargon/hostsVN-dead-hosts/actions/runs/3561953313/jobs/5983659215

[code]

Link above error not found, I try this link it works https://api.github.com/repos/bigdargon/hostsVN-dead-hosts/actions/workflows

When I read the Github Actions [documentation](https://docs.github.com/en/rest/actions/workflows#list-repository-workflo

[2022-11-28 13:11] spirillen commented on #255
Personally I would say the most `--pirated` option is best as it allows the individual to chose for them self and yet allows them to use the `--special-lookup`

As more things is user optional, the better your modular approach is accomplished.